---
import BaseLayout from "../layouts/BaseLayout.astro";

import AboutOne from "../components/about/AboutOne.astro";
import FeatureEleven from "../components/features/FeatureEleven.astro";
import TestimonialFour from "../components/testimonials/TestimonialFour.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import StatsTwo from "../components/stats/StatsTwo.astro";
import CtaOne from "../components/cta/CtaOne.astro";
import { Code } from "astro/components";
import { AstroSeo } from "@astrolib/seo";
import GetStarted from "../components/features/GetStarted.astro";


// Header

const header = {
  title: "Empress Administration",
  subtitle: "Take Control,",
  subtitleCont: "Maximize Efficiency.",
  imageSrc: "/images/chart.jpg"
};


const statsContent = {
  sectionTitle: "Define Access, Empower Users",
  mainHeading: "Elevate Your Administrative Control",
  statsData: [
    {
      value: "Manage",
      description: "unified control of operations"
    },
    {
      value: " Permission",
      description: "meticulous access control"
    },
    {
      value: "Control",
      description: "tailored operational flexibility"
    },
    {
      value: "Integrate",
      description: "effortless system connectivity"
    }
  ]
};



const fourFeatures = {
  title: "Robust Data Management",
  subtitle: "Administer, Analyze, Inform",
  description: "Empress Administration offers a comprehensive suite of tools designed to optimize and secure your business processes, delivering unparalleled operational control and flexibility.",
  features: [
    {
      title: "Site Administration",
      description: "Efficiently manage multiple business sites from a single dashboard, ensuring consistency and ease of operation.",
      imageUrl: "/images/creditcard.png",
    },
    {
      title: "Application Management",
      description: "Install, update, and customize applications to suit your business needs, ensuring a seamless and productive workflow.",
      imageUrl: "/images/creditcard.png",
    },
    {
      title: "User Role Management",
      description: "Assign and control user roles and permissions, safeguarding your business data and processes.",
      imageUrl: "/images/creditcard.png",
    },
    {
      title: "Integrations and Customizations",
      description: "Seamlessly integrate with external systems and tailor features to meet your specific business requirements.",
      imageUrl: "/images/creditcard.png",
    },
  ],
};



const featureTwo = {
  header: {
    title: "Empowered User Administration",
    mainTitle: "Manage Roles, Enhance Security",
    subTitle: "Ensure the integrity and security of your business data with Empress's comprehensive data management tools."
  },
  columns: [
    {
      title: "Data Security",
      listItems: [
        "Implement advanced security protocols",
        "Ensure data confidentiality and integrity",
        "Prevent unauthorized data access"
      ]
    },
    {
      title: "Data Analytics",
      listItems: [
        "Utilize powerful analytics tools",
        "Gain insights for informed decision-making",
        "Drive business growth with data-driven strategies"
      ]
    }
  ],
  imageSrc: "/images/dashboard.jpg"
};

// Feature List

const features = [
  {
    header: {
      mainTitle: "Synchronize Systems, Streamline Workflows",
      subTitle: "Empowering Leaders, Securing Operations",
      description: "Empress Administration equips you with advanced tools and features to oversee, manage, and secure every aspect of your operations."
    },
    featureSections: [
      {
        title: "Comprehensive Site Oversight",
        description: "Manage all your business operations and sites with a centralized, user-friendly dashboard.",
        listItems: [
          "Centralized Operations Control",
          "Site Performance Analytics",
          "Multi-Site Management"
        ]
      },
      {
        title: "Application Lifecycle Management",
        description: "Effortlessly install, update, and manage essential business applications to keep your operations running smoothly.",
        listItems: [
          "Application Customization",
          "Seamless Update Implementation",
          "Diverse Application Portfolio"
        ]
      },
      {
        title: "Detailed User Access Control",
        description: "Define and manage user roles and permissions, ensuring security and efficiency in data access and operations.",
        listItems: [
          "Role-Based Permissions",
          "Secure Access Management",
          "Customizable User Roles"
        ]
      },
      {
        title: "Streamlined Integrations",
        description: "Connect and synchronize with external systems and tools, enhancing your operational capabilities.",
        listItems: [
          "API and Webhook Integration",
          "External System Compatibility",
          "Efficient Information Flow"
        ]
      },
      {
        title: "Automated Workflow Efficiency",
        description: "Improve operational efficiency with automated workflows, reducing manual tasks and optimizing process execution.",
        listItems: [
          "Workflow Optimization",
          "Task Automation",
          "Efficiency Analysis"
        ]
      },
      {
        title: "Data Protection and Analytics",
        description: "Protect your business data with robust security measures while leveraging analytics for strategic insights.",
        listItems: [
          "Advanced Data Security",
          "Insightful Business Analytics",
          "Strategic Data Utilization"
        ]
      }
    ]
  }
];


// Overview

const overview = {
  title: "Innovate, Secure, Control",
  paragraphs: [
    "Empress Administration provides a comprehensive suite of tools designed to give you complete control over your business operations. From site management to user access control, our platform empowers you to streamline and secure your business processes.",
    "Step into the world of Empress Administration and experience unparalleled operational control, efficiency, and security."
  ],
  secondaryTitle: "Take Full Control",
  secondaryParagraph: "Empress Administration is more than just tools; it's a strategic ally in your business's journey towards operational excellence and security.",
  quote: "Empress Administration: Where control meets innovation.",
  callToAction: {
    text: "Elevate Your Business Administration",
    link: "/administration"
  },
  image: "https://images.unsplash.com/photo-1581090700227-1e37b190418e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
};



// Check Marks

const sectionData = {
  mainTitle: "Additional Features",
  mainSubTitle: "Do More with Empress",
  articles: [
    {
      title: "Centralized Site Management",
      features: [
        "Unified Operations Dashboard",
        "Multi-Site Administration",
        "Performance Optimization"
      ]
    },
    {
      title: "Advanced Application Control",
      features: [
        "Seamless Application Integration",
        "Customization and Updates",
        "Application Lifecycle Management"
      ]
    },
    {
      title: "Robust User Management",
      features: [
        "Detailed Role Definition",
        "Secure Access Protocols",
        "Efficient User Onboarding"
      ]
    },
    {
      title: "Seamless System Integrations",
      features: [
        "API and Webhook Connectivity",
        "Cross-Platform Synchronization",
        "Custom Integration Solutions"
      ]
    },
    {
      title: "Automated Workflow Solutions",
      features: [
        "Task Automation and Scheduling",
        "Process Optimization",
        "Workflow Efficiency Tracking"
      ]
    },
    {
      title: "Data Security and Analytics",
      features: [
        "Data Encryption and Protection",
        "Comprehensive Analytics Tools",
        "Strategic Data Utilization"
      ]
    }
  ]
};



const faq = {
  title: "FAQs",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "What advanced features does Empress provide for site administration?",
      answer: "Empress Administration equips you with an advanced set of features for site management, including real-time performance monitoring, site-specific customization, and multi-site control. This comprehensive dashboard allows for detailed oversight, enabling administrators to swiftly respond to site needs, implement updates, and ensure consistent user experience across all platforms."
    },
    {
      question: "How does Empress enhance the application management experience?",
      answer: "Empress offers a dynamic application management system that goes beyond basic installation and updates. It includes detailed tracking of application usage, performance analytics, and compatibility checks. Administrators can also set up automated updates and maintenance schedules, ensuring applications are always optimized for performance and security."
    },
    {
      question: "Can Empress Administration handle complex user access scenarios?",
      answer: "Yes, Empress Administration is designed to handle complex user access scenarios with ease. It offers a granular role-based access control system, allowing administrators to assign specific permissions and access levels to different user groups or individual users. This system is flexible enough to accommodate complex organizational structures and sensitive data access requirements."
    },
    {
      question: "What kind of external systems can be integrated with Empress Administration?",
      answer: "Empress Administration is highly versatile in its integration capabilities, supporting a wide range of external systems and services. This includes CRM systems, financial software, cloud storage solutions, and more. The integration process is streamlined with intuitive API management and webhook support, enabling a cohesive and interconnected business ecosystem."
    },
    {
      question: "How does workflow automation in Empress contribute to operational efficiency?",
      answer: "Workflow automation in Empress is a game-changer for operational efficiency. It allows for the automation of repetitive and time-consuming tasks, freeing up staff to focus on more strategic activities. Administrators can set up custom automation rules, triggers, and workflows, which not only speeds up processes but also reduces the potential for human error, leading to more consistent and reliable outcomes."
    }
  ]
};



---



<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Administration"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<!-- Header -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{header.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {header.subtitle}
          <span class="lg:block">{header.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={header.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section>

    <!-- Section 2 -->

    <section class="bg-white">
      <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
        <div>
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight">{statsContent.sectionTitle}</span>
          </h2>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
            {statsContent.mainHeading}
          </h2>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsContent.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
                  {stat.value}
                </p>
                <p class="text-slate-500 mt-6 border-blue-500">
                  {stat.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </section>

  <!-- Sections -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{fourFeatures.subtitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {fourFeatures.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {fourFeatures.description}
          </p>
        </div>
      </div>
      <div>
        <ul role="list" class="grid grid-cols-2 lg:grid-cols-2 gap-4 list-none lg:gap-24 mt-6 lg:mt-24">
          {fourFeatures.features.map((feature) => (
            <li key={feature.title}>
              <div>
                <p class="font-semibold text-purple-900 text-2xl">{feature.title}</p>
              </div>
              <div class="mt-2 text-slate-500">
                {feature.description}
              </div>
              <img src={feature.imageUrl} alt="thumbnail" class="shadow-xl rounded-4xl mt-12" />
            </li>
          ))}
        </ul>
      </div>
    </div>
  </section>

  

  <GetStarted/>



<!-- Feature Two -->

  <section class="overflow-hidden border-b">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pt-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{featureTwo.header.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {featureTwo.header.mainTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{featureTwo.header.subTitle}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {featureTwo.columns.map(column => (
              <div>
                <div>
                  <p class="font-semibold text-purple-900">{column.title}</p>
                  <div class="mt-6">
                    <ul role="list" class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                      {column.listItems.map(item => (
                        <li class="flex items-start">
                          — <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
            <img src={featureTwo.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Feature List -->


  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-14 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  

  

  <!-- Feature List -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center mt-20">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>  

  <!-- Faqs -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faq.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faq.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faq.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
  

  <CtaOne />
</BaseLayout>
