---
import BaseLayout from "../layouts/BaseLayout.astro";
import { AstroSeo } from "@astrolib/seo";
import { Icon } from "astro-icon";
import Ecosystem from "../components/features/Ecosystem.astro";
import GetStarted from "../components/features/GetStarted.astro";

// Hero

export const hero = {
  heroSection: {
    header: 'Empress for Advocates',
    title: 'Become an Empress Advocate',
    description: 'Join our mission as an advocate for global transformation, where your efforts in driving positive change are not only impactful but also reward you with tangible benefits.',
    caseStudyText: "Read case study",
    callToActionText: 'View Pricing',
    callToActionLink: '/pricing',
    callToActionTwoText: 'Contact Sales',
    callToActionTwoLink: '/contact',
  },
  imageGrid: [
  {
    imageUrl: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Empress empowers advocates with tools for impactful community engagement and social change.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-blue-600",
  },
  {
    imageUrl: "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Explore how Empress's platform enhances advocacy campaigns through innovative digital strategies.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  },
  {
    imageUrl: "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Discover how Empress supports advocates in driving societal change through technology.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80",
    description: "Your partner in advancing advocacy efforts with data-driven insights and collaboration tools.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Learn how Empress enhances advocacy with effective communication and outreach strategies.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  }
],
};

// Overview
const overview = {
  title: "Advocate for Change",
  paragraphs: [
    "As an Empress advocate, you're at the heart of our mission to drive global transformation. Our program empowers you to lead change and inspire others, offering the tools and resources needed to make a significant impact in various sectors, including healthcare, technology, and more.",
    "You'll have the opportunity to share Empress's revolutionary solutions, from healthcare innovation to environmental sustainability, and play a vital role in shaping a better future."
  ],
  secondaryTitle: "Become a Voice for Global Transformation",
  secondaryParagraph: "Join us as an advocate and be a part of a movement that values innovation, sustainability, and positive change. Empress equips you with the platform to amplify your voice and spread the message of transformation across communities and industries.",
  quote: "Empress advocates are the driving force behind our vision for a better world.",
  callToAction: {
    text: "Join as an Advocate",
    link: "/advocate-program"
  },
  image: "https://images.unsplash.com/photo-1581090700227-1e37b190418e?ixlib=rb-1.2.1&auto=format&fit=crop&w=2070&q=80"
};


// Display Image
const displayImage = {
  title: "Advocate Empowerment",
  subtitle: "Elevate Your Impact,",
  subtitleCont: "Expand Your Reach.",
  imageSrc: "/images/dashboard.jpg"
};


// FeatureOne
const featureOne = {
  mainContent: {
    title: "Earn as You Advocate",
    img: "/images/dashboard.jpg",
    subtitle: "Transform Your Influence into Tangible Rewards",
    paragraphs: [
      "Each connection you forge not only expands your network but also brings you valuable recurring rewards."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Earn for every paying user you introduce to Empress",
    "Bonus rewards for active advocacy",
    "Exclusive offers for top advocates"
  ]
};

// FeatureTwo

const featureTwo = {
  mainContent: {
    title: "Support for Advocates",
    img: "/images/dashboard.jpg",
    subtitle: "Make an Income While Making a Difference",
    paragraphs: [
      "Access cutting-edge tools and training designed specifically to support your journey as an advocate."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Marketing kits to share the Empress story",
    "Training to turn advocacy into impact",
    "Access to exclusive advocate events"
  ]
};

// FeatureThree

const featureThree = {
  mainContent: {
    title: "Community and Network",
    img: "/images/dashboard.jpg",
    subtitle: "Embrace a Thriving Community of Advocates",
    paragraphs: [
      "Join a community where every advocate shares a common vision to revolutionize experiences and fight for global change."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Network with fellow advocates",
    "Exchange success stories and strategies",
    "Grow with the Empress community"
  ]
};

// Use Features
const featureDetails = [
  {
    header: {
      mainTitle: "Additional Features",
      subTitle: "Empowerment, Engagement, Reward",
      description: "Empress offers a suite of features exclusively for our advocates, designed to empower their mission."
    },
    featureSections: [
      {
        title: "Advocacy Training Resources",
        description: "Gain access to comprehensive training and resources, enhancing your advocacy skills for maximum impact.",
        listItems: [
          "Exclusive training modules",
          "Empress resource library",
          "Continuous skill development"
        ]
      },
      {
        title: "Networking Opportunities",
        description: "Connect with like-minded advocates, exchange ideas, and collaborate for global transformation through our network.",
        listItems: [
          "Global community access",
          "Networking event access",
          "Idea exchange forums"
        ]
      },
      {
        title: "Rewarding Advocate Experience",
        description: "Enjoy a rewarding journey with Empress, recognizing your efforts with tangible benefits and exclusive opportunities.",
        listItems: [
          "Tangible rewards system",
          "Impact recognition program",
          "Exclusive top performer offers"
        ]
      },
      {
        title: "Marketing and Promotion Tools",
        description: "Utilize our specialized marketing tools to effectively promote your advocacy and reach a wider audience.",
        listItems: [
          "Customizable marketing kits",
          "Effective promotional resources",
          "Brand collaboration opportunities"
        ]
      },
      {
        title: "Strategic Impact Planning",
        description: "Plan your advocacy with strategic insights and support from Empress, maximizing your impact and reach.",
        listItems: [
          "Strategic planning guidance",
          "Impactful advocacy tactics",
          "Long-term vision support"
        ]
      },
      {
        title: "Community Growth Support",
        description: "Benefit from dedicated support in growing and nurturing your advocacy community.",
        listItems: [
          "Community building tips",
          "Engagement strategy resources",
          "Supportive growth environment"
        ]
      }
    ]
  }
];


// Section Nine

const faqs = {
  title: "FAQs",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "What benefits do Empress advocates receive?",
      answer: "Empress advocates enjoy numerous benefits, including access to exclusive training resources, opportunities to network with a global community, and rewards for their advocacy efforts. We provide tools and support to help advocates effectively communicate our mission and make a meaningful impact."
    },
    {
      question: "How can I become an Empress advocate?",
      answer: "Becoming an Empress advocate is simple. Start by signing up on our platform, where you'll receive access to our advocacy training modules and resources. Our program is designed to equip you with the knowledge and tools needed to effectively advocate for global transformation."
    },
    {
      question: "Are there specific requirements to be an advocate?",
      answer: "There are no strict prerequisites to become an Empress advocate. We welcome individuals passionate about driving positive change. However, having a background in marketing, networking, or a related field can be beneficial. Our training resources are available to help you get started."
    },
    {
      question: "How does Empress support its advocates?",
      answer: "Empress supports its advocates by providing marketing kits, training resources, and access to exclusive events. We also offer a supportive community platform for advocates to connect, share strategies, and grow together. Additionally, our team is always available to assist with any questions or support needs."
    },
    {
      question: "Can advocacy with Empress lead to financial rewards?",
      answer: "Yes, advocacy with Empress can lead to financial rewards. Advocates earn for every paying user they introduce to our platform and receive bonus rewards for active advocacy. Top advocates also enjoy exclusive offers and recognition for their efforts."
    },
    {
      question: "What kind of impact can I make as an Empress advocate?",
      answer: "As an Empress advocate, you can make a significant impact by spreading awareness about our mission for global transformation. You'll play a key role in driving positive change, influencing others, and contributing to a movement that values innovation and sustainable development."
    }
  ]
};


// Contact
const talkToYouSection = {
  title: "Get in Touch",
  description: "Join us in the advocacy journey to revolutionize industries with Empress. We're eager to explore partnership opportunities and discuss how you can champion our mission.",
  callToAction: {
    text: "Become an Empress Advocate",
    link: "/advocate-program"
  },
  infoSections: [
    {
      title: "Advocate with Purpose",
      description: "At Empress, we empower advocates to drive meaningful change across diverse sectors, including healthcare, technology, and sustainability."
    },
    {
      title: "Empowering Global Advocates",
      description: "Our global advocate network is instrumental in spreading Empress's vision for innovative and sustainable solutions."
    },
    {
      title: "Join Our Advocacy Mission",
      description: "As an Empress advocate, you'll have access to resources and tools to effectively share our message and make a tangible impact."
    }
  ]
};

// Infrastructure
const infrastructureSection = {
  title: "Advocacy at the Heart of Transformation",
  description: [
    "Empress is at the forefront of shaping the future across critical sectors. Our advocates play a vital role in this journey, bringing diverse insights and helping to create inclusive and effective solutions. We're committed to supporting our advocates with the resources and platforms they need to make a real difference and inspire change in healthcare, technology, and beyond. With Empress, you're not just an advocate; you're a catalyst for global transformation."
  ]
};



---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Advocate"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">{hero.heroSection.header}</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              {hero.heroSection.title}
            </h2>
            <p class="text-slate-500 mt-5">
              {hero.heroSection.description}
            </p>
          </div>
          <div class="mt-10">
              <div class="mt-10 flex">
                <a href={hero.heroSection.callToActionLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
                   style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
                   onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
                   onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
                   onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
                   onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
                   {hero.heroSection.callToActionText}
                </a>
                <a href={hero.heroSection.callToActionTwoLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
                   style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
                   onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
                   {hero.heroSection.callToActionTwoText}
                </a>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                      src={hero.imageGrid[0].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[0].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[0].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[0].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[1].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[2].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[1].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[1].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[1].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-indigo-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[2].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[3].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[2].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[2].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[2].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[3].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[4].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[3].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[3].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[3].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-green-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[4].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[4].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[4].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[4].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Header -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{displayImage.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {displayImage.subtitle}
          <span class="lg:block">{displayImage.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={displayImage.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section>
  


  <!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureOne.mainContent.buttonText}
              </a>
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureTwo.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureTwo.mainContent.buttonText}
              </a>
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureThree.mainContent.buttonText}
              </a>
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureThree.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>
  

<GetStarted/>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-16 items-center">
      {featureDetails.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))}
    </div>
  </section>
  

  <Ecosystem/>


  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
