---
import BaseLayout from "../layouts/BaseLayout.astro";

import JobsHome from "../components/jobs/JobsHome.astro";

import { AstroSeo } from "@astrolib/seo";


// Hero

const hero = {
  title: "Expand Your Agency with Empress",
  description: "Empress revolutionizes agency operations with bespoke tech solutions, enhancing creative agility and client engagement. Join our community of innovative agencies leveraging our platform for dynamic growth and operational excellence.",
  callToAction: {
    text: "Discover Empress for Agencies",
    link: "/agencies-solutions"
  },
  imageGrid: [
    [
      "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://plus.unsplash.com/premium_photo-1661775434014-9c0e8d71de03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://images.unsplash.com/photo-1600275669439-14e40452d20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60",
      "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://plus.unsplash.com/premium_photo-1661771825670-1720428a80ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80",
      "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
    ]
  ]
};


  // Stats
  const statsInfo = {
    header: "Agency Growth, Transformed",
    mainTitle: "Empowering Agencies with Empress",
    subTitle: "Empress supercharges agencies with tech solutions specifically designed for creative and client-driven environments.",
    statsData: [
      {
        value: "$70M",
      },
      {
        value: "3 months faster",
      },
      {
        value: "5%",
      },
      {
        value: "50 new countries",
      },
      {
        value: "600 Hours",
      },
      {
        value: "3 days less",
      },
      {
        value: "1 Million workers",
      },
      {
        value: "3 head quarters",
      }
    ]
  };


// Overview

const overview = {
  title: "Transform Your Agency's Capabilities",
  paragraphs: [
    "Empress is the driving force behind agency innovation, offering scalable, high-impact tools for creative excellence and client satisfaction.",
    "Our platform is tailored for agencies, providing solutions for streamlined project management, enhanced client interactions, and powerful analytics for strategic decisions."
  ],
  secondaryTitle: "Bespoke Solutions for Agencies",
  secondaryParagraph: "In the fast-evolving world of agencies, Empress is your partner in innovation, offering technology that adapts to your unique creative needs and scales with your business growth.",
  quote: "Empress propels agencies by turning creative visions into impactful client solutions.",
  callToAction: {
    text: "Explore Solutions for Agencies",
    link: "/agencies-solutions"
  },
  image: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
};



// Dark Background

const darkBackground = {
  sections: [
  {
      type: "feature",
      title: "Seamless Retail Integrations",
      mainTitle: "Unified Systems for Retail Excellence",
      descriptions: [
        "Empress seamlessly unites various retail tools, creating an integrated ecosystem that enhances operational efficiency and data coherence.",
        "From POS systems to inventory management, our integration capabilities ensure all your tools work in harmony."
      ],
      imagePaths: ["images of integrated retail systems"],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    {
      type: "featureSkewed",
      title: "Agency Workflow Revolution",
      mainTitle: "Innovation Meets Efficiency",
      description: "Empress redefines agency workflows, integrating advanced tools for creative and operational agility.",
      points: [
        {
          title: "Custom-Fit Tool Integration",
          description: "Empress tailors integrations to agency-specific tools, fostering seamless creative processes."
        },
        {
          title: "Actionable Insights for Agencies",
          description: "Access real-time market and client insights, enabling data-driven creative strategies."
        },
        {
          title: "Scalable Solutions for Growth",
          description: "Adapt and expand Empress's features as your agency grows, ensuring long-term scalability."
        }
      ],
      bgColor: "purple-900",
      textColor: "white",
      gridCols: "lg:grid-cols-3",
      transform: "skew-y-6",
      marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};


// Use Cases

const features = [
  {
    header: {
      mainTitle: "Empress for Agencies",
      subTitle: "Advancing Agency Excellence",
      description: "Empress provides agencies with customized solutions to enhance their financial acumen, client relations, and operational efficiency."
    },
    featureSections: [
      {
        title: "Financial Proficiency for Agencies",
        description: "Empress brings sophisticated financial analytics to agencies, driving smarter financial planning and sustainable growth.",
        listItems: [
          "Advanced financial insights",
          "Strategic fiscal planning",
          "Sustainable financial growth"
        ]
      },
      {
        title: "Client Relationship Revolution",
        description: "Empress elevates agency-client interactions, offering tools to deepen relationships and boost client acquisition and retention.",
        listItems: [
          "Strengthened client bonds",
          "Efficient client acquisition",
          "Enhanced client retention"
        ]
      },
      {
        title: "Agency Production Optimization",
        description: "Empress speeds up creative production in agencies, from conception to execution, utilizing efficient and collaborative tools.",
        listItems: [
          "Rapid creative development",
          "Collaborative project execution",
          "Quick campaign rollout"
        ]
      },
      {
        title: "Operational Excellence in Agencies",
        description: "Empress transforms agency operations with automation, streamlining workflow and reducing overhead costs.",
        listItems: [
          "Automated agency processes",
          "Streamlined agency workflow",
          "Cost reduction strategies"
        ]
      },
      {
        title: "Marketing Outreach Amplification",
        description: "Empress aids agencies in expanding their marketing prowess with dynamic strategies and impactful client campaigns.",
        listItems: [
          "Engaging marketing strategies",
          "Elevated campaign visibility",
          "Impactful client campaigns"
        ]
      },
      {
        title: "Cultivating Agency Talent",
        description: "Empress fosters a vibrant agency workforce, nurturing a culture of creativity, productivity, and talent retention.",
        listItems: [
          "Creative talent development",
          "Productivity enhancement",
          "Talent retention focus"
        ]
      },
      {
        title: "Service Excellence for Agencies",
        description: "Empress enhances agency service delivery, establishing strong client relationships and enduring loyalty.",
        listItems: [
          "Exceptional client service",
          "Strong relationship building",
          "Client loyalty enhancement"
        ]
      },
      {
        title: "Continual Agency Growth",
        description: "Empress keeps agencies at the innovation forefront, driving ongoing growth and competitive positioning in the market.",
        listItems: [
          "Innovative growth strategies",
          "Competitive market positioning",
          "Long-term industry leadership"
        ]
      }
    ]
  }
];




// Check Marks

const sectionData = {
  mainTitle: "Empress for Agencies",
  mainSubTitle: "Enhancing Agency Performance",
  description: "Empress provides agencies with advanced solutions for improved data analysis, operational efficiency, and client engagement.",
  articles: [
    {
      title: "Data Insight Empowerment",
      features: [
        "Actionable client analytics",
        "Strategic campaign insights",
        "Comprehensive market analysis"
      ]
    },
    {
      title: "Workflow Efficiency",
      features: [
        "Streamlined agency processes",
        "Productivity enhancements",
        "Resource optimization"
      ]
    },
    {
      title: "Task Automation Simplification",
      features: [
        "Routine task automation",
        "Time-saving processes",
        "Workflow streamlining"
      ]
    },
    {
      title: "AI-Enhanced Client Support",
      features: [
        "AI-driven interaction tools",
        "Continuous client support",
        "Improved client satisfaction"
      ]
    },
    {
      title: "Trend Prediction and Analysis",
      features: [
        "Market trend forecasting",
        "Predictive client analysis",
        "Proactive strategy"
      ]
    },
    {
      title: "Collaborative Networking",
      features: [
        "Effective team collaboration",
        "Cross-functional synergy",
        "Integrated agency efforts"
      ]
    },
    {
      title: "Robust Data Security",
      features: [
        "Secure client data handling",
        "Privacy and compliance",
        "Protected transactional data"
      ]
    },
    {
      title: "Effortless Tool Integration",
      features: [
        "Seamless compatibility",
        "Coherent digital ecosystems",
        "Efficient tool synchronization"
      ]
    }
  ]
};


// Section Nine

const faqs = {
  title: "Agency Solutions FAQs",
  subtitle: "Empowering Agencies with Empress",
  questions: [
    {
      question: "How does Empress enhance agency workflow and productivity?",
      answer: "Empress equips agencies with advanced tools for workflow optimization and productivity, including automated processes and real-time project tracking, tailored to the dynamic needs of creative environments."
    },
    {
      question: "Can Empress seamlessly integrate with specialized agency tools?",
      answer: "Yes, Empress is designed for seamless integration, ensuring compatibility with a variety of agency-specific tools and systems for efficient creative and operational management."
    },
    {
      question: "Does Empress improve client engagement for agencies?",
      answer: "Absolutely. Empress provides innovative tools for enhanced client communication and relationship management, crucial for agencies aiming to expand their client base and deepen relationships."
    },
    {
      question: "What unique features does Empress offer for creative agencies?",
      answer: "Empress empowers agencies with features like sophisticated client data insights, campaign management automation, and marketing strategy tools, all vital for creative excellence and client satisfaction."
    },
    {
      question: "How does Empress ensure data security and compliance for agencies?",
      answer: "Empress prioritizes data security with robust encryption and compliance protocols, offering agencies advanced measures to protect sensitive client information and creative assets."
    }
  ]
};



// Contact

const talkToYouSection = {
  title: "Connect with Empress for Government",
  description: "Discover how Empress can transform government operations. Engage with us to discuss how our tailored solutions can enhance public service delivery and operational efficiency.",
  callToAction: {
    text: "Explore Empress for Government",
    link: "/government-solutions"
  },
  infoSections: [
    {
      title: "Customized Solutions for Government by Empress",
      description: "Empress is committed to elevating government efficiency, offering specialized tools and technologies designed for streamlined public service and effective governance."
    },
    {
      title: "Empress's Impact on Government Innovation",
      description: "Our strategies are designed to equip government entities with modern tools, enhancing policy implementation and enriching public sector operations."
    },
    {
      title: "Empress's Vision for Government Sectors",
      description: "At Empress, we focus on transformative technology, efficient public engagement strategies, and data-driven policymaking, aligning our solutions with the evolving needs of government operations."
    }
  ]
};

// Infrastructure Section
const infrastructureSection = {
  title: "Shaping Government’s Future with Empress",
  description: [
    "Empress is a key player in advancing government technology. Beyond mere technical solutions, we are dedicated to promoting diversity and innovative thinking in the public sector. Our approach is anchored in providing adaptable, impactful solutions to meet the distinct challenges faced by government entities. Our mission is to propel government services forward with innovative technology, fostering an environment where effective governance and public interests converge."
  ]
};






---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<section class="relative overflow-hidden border-b">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <h2 class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
            {hero.title}
          </h2>
          <p class="text-slate-500 mt-5">
            {hero.description}
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href={hero.callToAction.link}
          >
            {hero.callToAction.text}
          </a>
        </div>
      </div>
      <div class="lg:mt-0 lg:ml-auto">
        <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
          <div class="flex items-center space-x-6 lg:space-x-8">
            {hero.imageGrid.map((imageRow, index) => (
              <div key={index} class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                {imageRow.map((image, imageIndex) => (
                  <div key={imageIndex} class="h-full w-44">
                    <img src={image} alt="thumbnail" class="drop-shadow-2xl rounded-2xl"/>
                  </div>
                ))}
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  

<!-- Stats Info -->

  
  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{statsInfo.header}</span>
        </h2>
  
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {statsInfo.mainTitle}
        </h2>
        <div>
          <p class="text-slate-500 mt-6">
            {statsInfo.subTitle}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsInfo.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
                  {stat.value}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Dark Background -->



  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[0].title}</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {darkBackground.sections[0].mainTitle}
          <span class="lg:block">{darkBackground.sections[0].secondaryTitle}</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[0]}
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[1]}
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src={darkBackground.sections[0].imagePaths[0]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[1]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
            src={darkBackground.sections[0].imagePaths[2]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[3]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
            src={darkBackground.sections[0].imagePaths[4]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
            src={darkBackground.sections[0].imagePaths[5]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[6]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
        </h2>
        <h2
          class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
          {darkBackground.sections[1].mainTitle} <span class="lg:block"
            >{darkBackground.sections[1].secondaryTitle}</span
          >
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">
            {darkBackground.sections[1].description}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[0].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[0].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[1].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[1].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[2].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[2].description}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>



  <!-- Feature Details -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionData.description}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
