---
import BaseLayout from "../layouts/BaseLayout.astro";

import AboutOne from "../components/about/AboutOne.astro";
import FeatureEleven from "../components/features/FeatureEleven.astro";
import TestimonialFour from "../components/testimonials/TestimonialFour.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import StatsTwo from "../components/stats/StatsTwo.astro";
import CtaOne from "../components/cta/CtaOne.astro";
import { Code } from "astro/components";
import { AstroSeo } from "@astrolib/seo";


// Header

const header = {
  title: "Empress Assistants",
  subtitle: "Elevate Your Business Communication,",
  subtitleCont: "Engage with Intelligence.",
  imageSrc: "/images/chart.jpg"
};


// Feature 1

const featureOne = {
  sections: [
    {
      type: "feature",
      title: "AI-Driven Interactions",
      mainTitle: "Personalized, Efficient Communication",
      descriptions: [
        "Empress Assistants utilize advanced AI to deliver personalized, efficient communication tailored to each user's needs, transforming how you interact with customers and team members.",
        "Leverage the sophistication of AI to ensure every engagement is relevant, timely, and adds value to your business interactions."
      ],
      imagePaths: [
        "/images/creditcardTwo.png",
        "/images/balance.png",
        "/images/notification.png",
        "/images/miniNotification.png",
        "/images/payments.png",
        "/images/payments.png",
        "/images/creditcardTwo.png"
      ],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    {
      type: "featureSkewed",
      title: "24/7 Availability",
      mainTitle: "Always-On Support",
      description: "Empress Assistants provide 24/7 support, ensuring your business is always responsive to customer inquiries and team needs, boosting satisfaction and efficiency.",
      points: [
        {
          title: "Round-the-Clock Assistance",
          description: "Empress Assistants are available anytime, providing consistent support and ensuring no query goes unanswered."
        },
        {
          title: "Instant Responses",
          description: "Deliver immediate responses to inquiries, enhancing customer satisfaction and engagement."
        },
        {
          title: "Reduce Workload",
          description: "Empress Assistants handle routine queries, allowing your team to focus on more complex tasks and strategic planning."
        }
      ],
      bgColor: "purple-900",
      textColor: "white",
      gridCols: "lg:grid-cols-3",
      transform: "skew-y-6",
      marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};


// Feature Two

const featureTwo = {
  header: {
    title: "Seamless Integration",
    mainTitle: "Effortless Connectivity",
    subTitle: "Empress Assistants integrate seamlessly with your existing business tools, ensuring smooth and intelligent interactions across all platforms."
  },
  columns: [
    {
      title: "Smart Integration",
      listItems: [
        "Effortlessly connect Empress Assistants with CRM, ERP, and other business tools",
        "Automate information flow for more efficient customer interactions",
        "Ensure data consistency across all platforms"
      ]
    },
    {
      title: "Interactive Engagement",
      listItems: [
        "Engage users with personalized interactions based on user history and preferences",
        "Facilitate smoother customer journeys and better user experiences",
        "Enhance user engagement with targeted and relevant communications"
      ]
    }
  ],
  imageSrc: "/images/chart.jpg"
};


// Feature List

const features = [
  {
    header: {
      mainTitle: "Empress Assistants Use Cases",
      subTitle: "Revolutionizing Business Operations",
      description: "Explore the dynamic capabilities of Empress Assistants across various business functions, enhancing efficiency, engagement, and global reach."
    },
    featureSections: [
      {
        title: "Enhanced Customer Service Experience",
        description: "Empress Assistants transform customer interactions with AI-driven, real-time support, elevating customer service standards.",
        listItems: [
          "Immediate response to customer inquiries",
          "Guided problem resolution for enhanced satisfaction",
          "Automated handling of common customer queries"
        ]
      },
      {
        title: "Streamlined Internal Communications",
        description: "Facilitate efficient internal communication and team collaboration with AI-assisted coordination, boosting productivity.",
        listItems: [
          "AI-assisted team coordination and reminders",
          "Efficient internal communication channels",
          "Enhanced productivity and teamwork within the organization"
        ]
      },
      {
        title: "Global Customer Outreach",
        description: "Communicate effectively with a global audience using multilingual capabilities, expanding market reach and inclusivity.",
        listItems: [
          "Support in various languages for global engagement",
          "Expansion of market reach through cross-cultural communication",
          "Personalized interactions in the customer's native language"
        ]
      },
      {
        title: "Sales and Marketing Automation",
        description: "Automate key sales and marketing processes for increased efficiency and effective customer reach.",
        listItems: [
          "Automated lead nurturing and email marketing sequences",
          "Efficient sales pipeline management with performance analytics",
          "Streamlined marketing campaigns"
        ]
      },
      {
        title: "Data-Driven Decision Making",
        description: "Leverage insights from AI-driven data analysis for strategic business decisions and anticipation of market trends.",
        listItems: [
          "Real-time data analysis for informed decision-making",
          "Predictive analytics for future market trend anticipation",
          "Customizable reports providing deep business insights"
        ]
      },
      {
        title: "Human Resources and Talent Management",
        description: "Streamline HR operations with AI-driven recruitment, onboarding, and employee management processes.",
        listItems: [
          "Automated applicant tracking and recruitment facilitation",
          "Efficient employee onboarding and management",
          "Enhanced employee engagement and feedback collection"
        ]
      }
    ]
  }
];


// Dark Background

const sectionSeven = {
  featureTitle: "Advanced Customization",
  mainTitle: "Tailor Assistants to Your Needs",
  description: "Empress Assistants offer extensive customization options, allowing you to tailor their capabilities to fit your specific business requirements and enhance user experiences.",
  tabs: [
    {
      title: "Customized Responses",
      image: "/images/ModalOne.png",
      codeSnippet: `import EmpressAPI from 'empress-sdk';
import { CustomAssistant } from 'empress-models';

const empress = new EmpressAPI({
  apiKey: 'YOUR_API_KEY'
});

export async function createCustomResponse(responseData) {
  try {
    const customResponse = new CustomAssistant(responseData);
    await empress.assistants.customize(customResponse);
    return 'Custom response created successfully';
  } catch (error) {
    console.error('Error creating custom response:', error);
  }
};`
    },
    {
      title: "User Interaction",
      image: "/images/ModalTwo.png",
      codeSnippet: `import EmpressAPI from 'empress-sdk';
import { UserInteraction } from 'empress-models';

const empress = new EmpressAPI({
  apiKey: 'YOUR_API_KEY'
});

export async function enhanceUserInteraction(interactionData) {
  try {
    const userInteraction = new UserInteraction(interactionData);
    await empress.assistants.enhance(interactionData);
    return 'User interaction enhanced successfully';
  } catch (error) {
    console.error('Error enhancing user interaction:', error);
  }
};`
    }
  ]
};

// Check Marks

const sectionData = {
  mainTitle: "Empress Assistants Features",
  mainSubTitle: "Elevate Your Business Conversations",
  description: "Empress Assistants bring a suite of advanced features to elevate your business communications, ensuring every interaction is impactful and efficient.",
  articles: [
    {
      title: "24/7 Support",
      features: [
        "Round-the-clock availability",
        "Instant response to inquiries",
        "Consistent user support"
      ]
    },
    {
      title: "Intelligent Interactions",
      features: [
        "AI-driven personalized conversations",
        "Adaptive responses based on user behavior",
        "Enhanced user engagement"
      ]
    },
    {
      title: "Seamless Integration",
      features: [
        "Easy integration with business platforms",
        "Unified communication across tools",
        "Efficient data exchange"
      ]
    },
    {
      title: "Customizable Solutions",
      features: [
        "Tailor responses and interactions",
        "Fit assistants to specific business needs",
        "Flexible and adaptable AI tools"
      ]
    },
    {
      title: "Multilingual Capabilities",
      features: [
        "Communicate in multiple languages",
        "Reach a global audience",
        "Cross-cultural user engagement"
      ]
    },
    {
      title: "Feedback and Analytics",
      features: [
        "Gather user feedback for improvement",
        "Analyze interactions for insights",
        "Data-driven strategy refinement"
      ]
    }
  ]
};


// FAQs

const faq = {
  title: "FAQ",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "How do Empress Assistants enhance customer support?",
      answer: "Empress Assistants revolutionize customer support by providing immediate, AI-powered responses to inquiries, ensuring users receive timely and accurate assistance, enhancing overall satisfaction."
    },
    {
      question: "Can Empress Assistants be integrated into my current systems?",
      answer: "Absolutely! Empress Assistants are designed to seamlessly integrate into your existing business systems, enhancing communication and operational efficiency without disrupting current processes."
    },
    {
      question: "Are Empress Assistants capable of handling complex user interactions?",
      answer: "Yes, Empress Assistants are equipped with advanced AI algorithms that enable them to handle complex user interactions, providing personalized and context-aware responses."
    },
    {
      question: "What makes Empress Assistants stand out from other AI chat solutions?",
      answer: "Empress Assistants stand out due to their advanced AI capabilities, customizable interactions, and seamless integration with existing business tools, all of which contribute to a superior user experience."
    },
    {
      question: "How do Empress Assistants handle user privacy and data security?",
      answer: "Empress Assistants prioritize user privacy and data security, employing robust encryption and compliance with data protection regulations, ensuring user data is handled securely and responsibly."
    }
  ]
};



---



<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="About 01"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<!-- Header -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{header.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {header.subtitle}
          <span class="lg:block">{header.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={header.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section>


  <!-- Feature 1 -->

  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{featureOne.sections[0].title}</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {featureOne.sections[0].mainTitle}
          <span class="lg:block">{featureOne.sections[0].secondaryTitle}</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  {featureOne.sections[0].descriptions[0]}
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  {featureOne.sections[0].descriptions[1]}
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src={featureOne.sections[0].imagePaths[0]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
            src={featureOne.sections[0].imagePaths[1]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
            src={featureOne.sections[0].imagePaths[2]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={featureOne.sections[0].imagePaths[3]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
            src={featureOne.sections[0].imagePaths[4]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
            src={featureOne.sections[0].imagePaths[5]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={featureOne.sections[0].imagePaths[6]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
    <div>
      <h2 class="inline-flex items-center text-white">
        <span class="text-base font-medium tracking-tight">{featureOne.sections[1].title}</span>
      </h2>
      <h2
        class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
        {featureOne.sections[1].mainTitle} <span class="lg:block"
          >{featureOne.sections[1].secondaryTitle}</span
        >
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-white">
          {featureOne.sections[1].description}
        </p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <div>
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  {featureOne.sections[1].points[0].title}
                </p>
              </div>
              <p class="text-sm text-white">
                {featureOne.sections[1].points[0].description}
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  {featureOne.sections[1].points[1].title}
                </p>
              </div>
              <p class="text-sm text-white">
                {featureOne.sections[1].points[1].description}
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  {featureOne.sections[1].points[2].title}
                </p>
              </div>
              <p class="text-sm text-white">
                {featureOne.sections[1].points[2].description}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Feature Two -->

  <section class="overflow-hidden border-b">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pt-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{featureTwo.header.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {featureTwo.header.mainTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{featureTwo.header.subTitle}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {featureTwo.columns.map(column => (
              <div>
                <div>
                  <p class="font-semibold text-purple-900">{column.title}</p>
                  <div class="mt-6">
                    <ul role="list" class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                      {column.listItems.map(item => (
                        <li class="flex items-start">
                          — <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
            <img src={featureTwo.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Feature List -->


  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>



  <!-- Dark Tab -->

  <section class="bg-purple-900 transform skew-y-6">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:pt-42 pb-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center rounded-full text-white">
          <span class="text-base font-medium tracking-tight">{sectionSeven.featureTitle}</span>
        </h2>
        <h2 class="text-white font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionSeven.mainTitle} <span class="lg:block">{sectionSeven.mainSubtitle}</span>
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">{sectionSeven.description}</p>
        </div>
      </div>
    <div class="mx-auto text-left mt-12">
      <div
        x-data="{
        tabSelected: 1,
        tabId: $id('tabs'),
        tabButtonClicked(tabButton){
            this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
            this.tabRepositionMarker(tabButton);
        },
        tabRepositionMarker(tabButton){
            this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
            this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
            this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
        },
        tabContentActive(tabContent){
            return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
        }
    }"
        x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);"
        class="relative lg:rounded-3xl lg:p-10 text-white">
        <div
          x-ref="tabButtons"
          class="relative inline-grid items-center justify-center h-10 grid-cols-2 p-1 bg-purple-900 rounded-full select-none">
          <button
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            type="button"
            class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-full cursor-pointer whitespace-nowrap"
            >{sectionSeven.tabs[0].title}</button
          >
          <button
            :id="$id(tabId)"
            @click="tabButtonClicked($el);"
            type="button"
            class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap"
            >{sectionSeven.tabs[1].title}</button
          >
          <div
            x-ref="tabMarker"
            class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out"
            x-cloak>
            <div class="w-full h-full bg-white/10 rounded-full shadow-sm"></div>
          </div>
        </div>
        <div class="relative w-full mt-2 content">
          <div
            :id="$id(tabId + '-content')"
            x-show="tabContentActive($el)"
            class="relative">
            <section
              class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-24 lg:bg-[#14162c] lg:p-10 rounded-3xl">
              <div
                class="text-xs font-mono mt-4 rounded-2xl overflowhidden p-4 bg-[#14162c] 00">
                <Code
                  code={sectionSeven.tabs[0].codeSnippet}
                  lang="js"
                  theme="css-variables"
                />
              </div>
              <div class="h-full lg:ml-auto lg:-m-24">
                <img
                  src={sectionSeven.tabs[0].image}
                  alt="thumbnail"
                  class="rounded-3xl"
                />
              </div>
            </section>
          </div>
  
          <div
            :id="$id(tabId + '-content')"
            x-show="tabContentActive($el)"
            class="relative"
            x-cloak>
            <section
              class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-24 lg:bg-[#14162c] lg:p-10 rounded-3xl">
              <div
                class="text-xs font-mono mt-4 rounded-2xl overflowhidden p-4 bg-[#14162c] 00">
                <Code
                  code={sectionSeven.tabs[0].codeSnippet}
                  lang="js"
                  theme="css-variables"
                />
              </div>
              <div class="h-full lg:ml-auto lg:-m-24">
                <img
                src={sectionSeven.tabs[1].image}
                  alt="thumbnail"
                  class="rounded-3xl"
                />
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>


  <!-- Feature List -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center mt-20">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionData.description}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>  

  <!-- Faqs -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faq.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faq.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faq.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
  

  <CtaOne />
</BaseLayout>
