---
import BaseLayout from "../layouts/BaseLayout.astro";

import AboutOne from "../components/about/AboutOne.astro";
import FeatureEleven from "../components/features/FeatureEleven.astro";
import TestimonialFour from "../components/testimonials/TestimonialFour.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import StatsTwo from "../components/stats/StatsTwo.astro";
import CtaOne from "../components/cta/CtaOne.astro";
import { Code } from "astro/components";
import { AstroSeo } from "@astrolib/seo";

// Section Nine

const faq = {
  title: "FAQ",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "Can Empress integrate with my existing business tools?",
      answer: "Yes, Empress seamlessly integrates with a variety of business tools, ensuring smooth interoperability and data synchronization across your entire business ecosystem."
    },
    {
      question: "How user-friendly is Empress for non-technical staff?",
      answer: "Empress is designed with simplicity in mind. Our intuitive interfaces and dashboards make it easy for all users, regardless of their technical background, to navigate and utilize the platform effectively."
    },
    {
      question: "What kind of support does Empress provide for new users?",
      answer: "We offer comprehensive support including Empress Academy for tutorials and best practices, a dedicated Help Center for guidance, and responsive customer support for any immediate queries."
    },
    {
      question: "Does Empress offer features for automating business processes?",
      answer: "Absolutely! Empress features, like Empress Zaps, allow you to automate routine tasks, saving time and increasing efficiency within your operations."
    },
    {
      question: "How does Empress ensure the security and privacy of our data?",
      answer: "Empress prioritizes data security with robust protocols such as encryption and secure cloud storage, ensuring your business data is always protected from unauthorized access."
    }
  ]
};

const features = [
{
  header: {
    mainTitle: "Control Your Accounts",
    subTitle: "Track Your Spending",
    description: "Empower your financial journey with tools designed for simplicity and efficiency."
  },
  featureSections: [
    {
      title: "Efficient Balance Tracking",
      description: "Easily access and review your account balances to make informed decisions. Ideal for budgeting, financial planning, and ensuring your accounts are always adequately funded.",
      listItems: [
        "User-friendly Dashboard",
        "Real-time Balance Updates",
        "Intuitive Financial Overview",
      ]
    },
    {
      title: "Organized Account Types",
      description: "Manage various account types all in one place. Whether it’s personal, savings, or business accounts, our system categorizes and simplifies them for you.",
      listItems: [
        "Multiple Account Management",
        "Custom Account Categorization",
        "Simplified Account Navigation",
      ]
    },
    {
      title: "Personalized Account Names",
      description: "Label your accounts with names that make sense to you. This personal touch helps you navigate and manage your finances more intuitively.",
      listItems: [
        "Easy Account Identification",
        "Personalized Naming System",
        "Effortless Account Tracking",
      ]
    },
    {
      title: "Precise Balance Calculations",
      description: "Get accurate financial figures with our precise balance calculations. Ideal for maintaining exact records and planning future expenses.",
      listItems: [
        "Highly Accurate Reporting",
        "Detailed Financial Breakdowns",
        "Trustworthy Data Accuracy",
      ]
    },
    {
      title: "Multi-Currency Support",
      description: "Whether you’re dealing in dollars, euros, or yen, our platform supports multiple currencies, making it perfect for international transactions and travel.",
      listItems: [
        "Global Currency Compatibility",
        "Automatic Currency Conversion",
        "Seamless International Transactions",
      ]
    },
    {
      title: "Connected Account Overview",
      description: "Link related accounts to see a comprehensive financial picture. Ideal for tracking business and personal finances or managing family budgets.",
      listItems: [
        "Unified Account Views",
        "Easy Tracking of Related Finances",
        "Consolidated Financial Reports",
      ]
    },
  ]
}


];

const sectionFour = {
  header: {
    title: "Revolutionize Your Approach",
    mainTitle: "Business Made Beautiful",
    subTitle: "Empress redefines business management by blending sophisticated AI Assistants and predictive analytics with elegantly designed dashboards."
  },
  columns: [
    {
      title: "AI-Powered Business Intelligence",
      listItems: [
        "Advanced AI Assistants for real-time decision support",
        "Predictive analytics for forecasting market trends",
        "Intelligent insights into customer behavior and preferences"
      ]
    },
    {
      title: "Elegant, Insightful Dashboards",
      listItems: [
        "Visually stunning dashboards for instant overview",
        "Customizable interfaces to suit your unique business needs",
        "Seamless integration of data for holistic management"
      ]
    }
  ],
  imageSrc: "/images/chart.jpg"
};

---



<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="About 01"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <section>
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">Pricing</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          Always know what you’ll pay,
  
          <span class="lg:block"> transparent pricing for everyone.</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={sectionFour.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section>


  <TestimonialFour />


  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">Feature</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          Spaziobianco is a well crafted
          <span class="lg:block">multipage UI Kit for your SaaS</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  Use blockchain technology to create decentralized autonomous
                  organizations and manage them with ease. Control and added
                  security. With decentralization, users have more control over
                  their data and transactions, and the platform is less
                  susceptible.
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  Our platform is built on blockchain technology, which allows for
                  decentralized control and added security. With decentralization,
                  users have more control over their data and transactions, and
                  the platform is less susceptible to malicious attacks.
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src="/images/creditcardTwo.png"
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
              src="/images/balance.png"
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
              src="/images/notification.png"
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
              src="/images/miniNotification.png"
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
              src="/images/payments.png"
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
              src="/images/payments.png"
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
              src="/images/creditcardTwo.png"
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">Feature</span>
        </h2>
        <h2
          class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
          Sapziobianco includes everything you need to <span class="lg:block"
            >build a beautiful website for your SaaS</span
          >
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">
            Receive dividends bull investment mutual funds rise federal funds
            strategy substantially treasury municipal public index funds.
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    Conect your SaaS
                  </p>
                </div>
                <p class="text-sm text-white">
                  Debt bills lucrative capitalization municipal bonds government
                  401k bear bull credit corporate bonds called NYSE finance.
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    Conect your SaaS
                  </p>
                </div>
                <p class="text-sm text-white">
                  Debt bills lucrative capitalization municipal bonds government
                  401k bear bull credit corporate bonds called NYSE finance.
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    Conect your SaaS
                  </p>
                </div>
                <p class="text-sm text-white">
                  Debt bills lucrative capitalization municipal bonds government
                  401k bear bull credit corporate bonds called NYSE finance.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- <section class="overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pt-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">Feature</span>
        </h2>
  
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          A Symphony of Efficiency
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            Build quicker and don't waste time building your website. Combine
            layouts and customize them as you wish.Swap sections and create your
            landing page in minutes
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            <div>
              <div>
                <div>
                  <p class="font-semibold text-purple-900">
                    Tools to build optimized checkout flows
                  </p>
                </div>
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                    <li class="flex items-start">
                      —
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      —
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      —
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div>
              <div>
                <div>
                  <p class="font-semibold text-purple-900">
                    Global payments with a single integration
                  </p>
                </div>
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                    <li class="flex items-start">
                      —
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      —
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      —
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div
            class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
            <img
              src="/images/chart.jpg"
              alt="thumbnail"
              class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200"
            />
          </div>
        </div>
      </div>
    </div>
  </section> -->
  



  

  <!-- <AboutOne /> -->
  <!-- <FeatureEleven /> -->


  <section class="overflow-hidden border-b">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pt-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionFour.header.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionFour.header.mainTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionFour.header.subTitle}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {sectionFour.columns.map(column => (
              <div>
                <div>
                  <p class="font-semibold text-purple-900">{column.title}</p>
                  <div class="mt-6">
                    <ul role="list" class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                      {column.listItems.map(item => (
                        <li class="flex items-start">
                          — <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
            <img src={sectionFour.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
          </div>
        </div>
      </div>
    </div>
  </section>






  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>

  <section class="relative overflow-hidden bg-white"></section>
    <div class="bg-purple-900 max-w-7xl mx-auto rounded-3xl">
      <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-24 items-start">
          <div>
            <h2 class="inline-flex items-center text-white">
              <span class="text-base font-medium tracking-tight">Feature</span>
            </h2>
            <h2
              class="text-white font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              Style code snippets with Shiki and CSS Variables
            </h2>
            <p class="text-slate-400 mt-5">
              Receive dividends bull investment mutual funds rise federal funds
              strategy substantially treasury municipal public index funds.
            </p>
            <p class="text-slate-400 mt-3">
              Municipal management performance corporate investment grade bonds.
              Fall volatile rates funds Standard & Poor's market index upswing
              financial health growth bear. Treasury 401k potential.
            </p>
            <ul
              role="list"
              class="grid grid-cols-2 gap-4 list-none lg:gap-6 mt-12">
              <li>
                <div>
                  <p class="font-semibold text-white text-base">
                    Prebuilt integrations
                  </p>
                </div>
                <div class="mt-2 text-slate-400 text-sm">
                  Municipal management performance corporate investment grade
                  bonds.
                </div>
              </li>
              <li>
                <div>
                  <p class="font-semibold text-white text-base">
                    Tools for every stack
                  </p>
                </div>
                <div class="mt-2 text-slate-400 text-sm">
                  Municipal management performance corporate investment grade
                  bonds.
                </div>
              </li>
            </ul>
          </div>
          <div class="lg:mt-0 mt-12 h-full">
            <div
              x-data="{
          tabSelected: 1,
          tabId: $id('tabs'),
          tabButtonClicked(tabButton){
              this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
              this.tabRepositionMarker(tabButton);
          },
          tabRepositionMarker(tabButton){
              this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
              this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
              this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
          },
          tabContentActive(tabContent){
              return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
          }
      }"
              x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);"
              class="relative lg:rounded-3xl lg:p-10 text-white">
              <div
                x-ref="tabButtons"
                class="relative inline-grid items-center justify-center w-full h-10 grid-cols-2 p-1 bg-purple-900 rounded-full select-none">
                <button
                  :id="$id(tabId)"
                  @click="tabButtonClicked($el);"
                  type="button"
                  class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-full cursor-pointer whitespace-nowrap"
                  >Account</button
                >
                <button
                  :id="$id(tabId)"
                  @click="tabButtonClicked($el);"
                  type="button"
                  class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap"
                  >Password</button
                >
                <div
                  x-ref="tabMarker"
                  class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out"
                  x-cloak>
                  <div class="w-full h-full bg-white/10 rounded-full shadow-sm">
                  </div>
                </div>
              </div>
              <div class="relative w-full mt-2 content">
                <div
                  :id="$id(tabId + '-content')"
                  x-show="tabContentActive($el)"
                  class="relative">
                  <!-- Tab Content 1 - Replace with your content -->
                  <section
                    class="text-xs font-mono shadow-3xl mt-4 rounded-2xl overflowhidden h-full">
                    <Code
                      code={`
  import { defineConfig } from 'astro/config';
  import compress from "astro-compress";
  import partytown from "@astrojs/partytown";
  import sitemap from "@astrojs/sitemap";
  import tailwind from "@astrojs/tailwind";
  import image from "@astrojs/image";
  import image from "@astrojs/image";
  import compress from "astro-compress";
  import partytown from "@astrojs/partytown";
  import sitemap from "@astrojs/sitemap";
  import tailwind from "@astrojs/tailwind";
  import image from "@astrojs/image";
  import compress from "astro-compress";
  import partytown from "@astrojs/partytown";
  import sitemap from "@astrojs/sitemap";
  // https://astro.build/config
  export default defineConfig({
     site: 'https://lexingtonthemes.com',
    integrations: [tailwind(), image(), sitemap()]
  });}'`}
                      lang="js"
                      theme="css-variables"
                    />
                  </section>
                  <!-- End Tab Content 1 -->
                </div>
  
                <div
                  :id="$id(tabId + '-content')"
                  x-show="tabContentActive($el)"
                  class="relative"
                  x-cloak>
                  <section
                    class="text-xs font-mono mt-4 rounded-3xl hadow-2xl overflow-hidden h-full">
                    <Code
                      code={`
  import { defineConfig } from 'astro/config';
  import tailwind from "@astrojs/tailwind";
  import image from "@astrojs/image";
  import compress from "astro-compress";
  import partytown from "@astrojs/mdx";
  import sitemap from "@astrojs/sitemap";
  import image from "@astrojs/image";
  import compress from "astro-vue";
  import partytown from "@astrojs/partytown";
  import sitemap from "@astrojs/sitemap";
  // https://astro.build/config
  export default defineConfig({
     site: 'https://lexingtonthemes.com',
    integrations: [tailwind(),  sitemap()]
  });}'`}
                      lang="js"
                      theme="css-variables"
                    />
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section>
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center mt-20">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight"
            >Extended Pricing</span
          >
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          What's included in our pricing
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            Build quicker and don't waste time building your website. Combine
            layouts and customize them as you wish.
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <article>
              <div>
                <div>
                  <p class="font-semibold text-purple-900 text-base">
                    Tools to build optimized checkout flows
                  </p>
                </div>
  
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article>
              <div>
                <div>
                  <p class="font-semibold text-purple-900 text-base">
                    Global payments with a single integration
                  </p>
                </div>
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article>
              <div>
                <div>
                  <p class="font-semibold text-purple-900 text-base">
                    Comprehensive security
                  </p>
                </div>
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article>
              <div>
                <div>
                  <p class="font-semibold text-purple-900 text-base">
                    Financial reconciliation and reporting
                  </p>
                </div>
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article>
              <div>
                <div>
                  <p class="font-semibold text-purple-900 text-base">
                    Fast, predictable payouts
                  </p>
                </div>
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
            <article>
              <div>
                <div>
                  <p class="font-semibold text-purple-900 text-base">
                    24×7 phone, chat, and email support
                  </p>
                </div>
                <div class="mt-6">
                  <ul
                    role="list"
                    class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Embeddable checkout</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Custom UI toolkit</span>
                    </li>
                    <li class="flex items-start">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
  
                      <span class="ml-4"> Invoice support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faq.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faq.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faq.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
  

  <!-- <FeatureTwelve /> -->

  <!-- <FeatureFive /> -->

  <CtaOne />
</BaseLayout>
