---
import BaseLayout from "../layouts/BaseLayout.astro";
import { AstroSeo } from "@astrolib/seo";
import { Icon } from "astro-icon";
import Ecosystem from "../components/features/Ecosystem.astro";
import GetStarted from "../components/features/GetStarted.astro";

// Hero

// Social

const featuresHeading = {
  featureHeading: "Follow Our Community",
  featureTitle: "#PurpleWorld on Social Media",
};

const features = [
  {
    "title": "Twitter",
    "description": "Real-time updates and insights on PurpleWorld.",
    "icon": "ph:twitter-logo-duotone",
    "link": "https://twitter.com/empress_eco",
    "color": "indigo"
  },
  {
    "title": "Discord",
    "description": "Engage in dynamic community chats and discussions.",
    "icon": "ph:discord-logo-duotone",
    "link": "https://discord.com/invite/3xcm97vBYX",
    "color": "indigo"
  },
  {
    "title": "YouTube",
    "description": "Educational webinars and inspiring community videos.",
    "icon": "ph:youtube-logo-duotone",
    "link": "https://www.youtube.com/channel/UCCFb7RTb_4mgm7qNoB3mVzw",
    "color": "indigo"
  },
  {
    "title": "LinkedIn",
    "description": "Professional growth, trends, and networking opportunities.",
    "icon": "ph:linkedin-logo-duotone",
    "link": "https://www.linkedin.com/company/19204219/admin/feed/posts/",
    "color": "indigo"
  },
  {
    "title": "TikTok",
    "description": "Quick tips and fun insights from our community.",
    "icon": "ph:tiktok-logo-duotone",
    "link": "https://www.tiktok.com/@empress_eco",
    "color": "indigo"
  },
  {
    "title": "Instagram",
    "description": "Behind-the-scenes stories from the PurpleWorld community.",
    "icon": "ph:instagram-logo-duotone",
    "link": "https://www.instagram.com/empress_eco/",
    "color": "indigo"
  },
  {
    "title": "Pinterest",
    "description": "Curated educational resources and sustainability ideas.",
    "icon": "ph:pinterest-logo-duotone",
    "link": "https://www.pinterest.com/empress_eco/",
    "color": "indigo"
  },
  {
    "title": "Reddit",
    "description": "Participate in discussions and Q&A about sustainability.",
    "icon": "ph:reddit-logo-duotone",
    "link": "https://www.reddit.com/r/empress_eco/",
    "color": "indigo"
  },
  {
    "title": "Community Forum",
    "description": "Join the latest discussions in our community forum.",
    "icon": "ph:users-duotone",
    "link": "https://grow.empress.eco/",
    "color": "indigo"
  }
];

export const hero = {
  heroSection: {
    header: 'Empress for Community',
    title: 'Drive Global Change with #PurpleWorld',
    description: 'Join our mission-driven community, dedicated to achieving the Sustainable Development Goals (SDGs) by fostering transformative experiences.',
    caseStudyText: "Read case study",
    callToActionText: 'View Pricing',
    callToActionLink: '/pricing',
    callToActionTwoText: 'Contact Sales',
    callToActionTwoLink: '/contact',
  },
  imageGrid: [
  {
    imageUrl: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Empress empowers advocates with tools for impactful community engagement and social change.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-blue-600",
  },
  {
    imageUrl: "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Explore how Empress's platform enhances advocacy campaigns through innovative digital strategies.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  },
  {
    imageUrl: "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Discover how Empress supports advocates in driving societal change through technology.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80",
    description: "Empress: A partner in advancing advocacy efforts with data-driven insights and collaboration tools.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Learn how Empress enhances advocacy with effective communication and outreach strategies.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  }
],
};

// Stats Content
const statsContent = {
  sectionTitle: "#PurpleWorld Pillars",
  mainHeading: "A Vision For Global Impact",
  statsData: [
    {
      value: "Innovation",
      description: "Cultivating creative solutions."
    },
    {
      value: "Uniqueness",
      description: "Valuing diverse perspectives."
    },
    {
      value: "Accessibility",
      description: "Designing solutions for all."
    },
    {
      value: "Inclusivity",
      description: "Ensuring all voices matter."
    }
  ]
};



// Movements

const movements = {
  title: "Join #PurpleWorld's Sustainable Mission",
  subtitle: "Shape a Better Future Together with Empress",
  blocks: [
    {
      imageUrl: "https://images.unsplash.com/photo-1642132652859-3ef5a1048fd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2660&q=80",
      text: "Join the #PurpleWorld, driving sustainable solutions aligned with SDGs.",
      url: "/purpleworld-revolution",
      linkText: "Join the Revolution"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      text: "Join #ExperienceNetwork, harnessing shared experiences for sustainability.",
      url: "/experience-network",
      linkText: "Join #ExperienceNetwork"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      text: "Engage in #EmpowerChallenge, focusing on impactful, SDG-aligned activities.",
      url: "/empower-challenge",
      linkText: "Join #EmpowerChallenge"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      text: "Explore #VoicesofChange, inspiring action for sustainable development.",
      url: "/voices-of-change",
      linkText: "Discover #VoicesofChange"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      text: "Support #TeachTheWorld, promoting experiential learning for sustainability.",
      url: "/teach-the-world",
      linkText: "Support #TeachTheWorld"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      text: "Share your sustainable growth stories with #GrowAndTell.",
      url: "/grow-and-tell",
      linkText: "Inspire with #GrowAndTell"
    }
  ]
};




// Overview
const overview = {
  title: "Help Make an Difference with Empress",
  paragraphs: [
  "#PurpleWorld by Empress represents a powerful mission-driven initiative, focusing on achieving the Sustainable Development Goals (SDGs). Through the synergy of our community, innovative tools, and creative solutions, we address critical global challenges, driving substantial and meaningful change.",
  "Our community unites individuals and organizations under a common vision, cultivating collaborative efforts for sustainability and equity. By fostering connections within our community, we amplify the collective impact towards building a more sustainable and equitable world." 
  ],
  secondaryTitle: "Join the Movement for Sustainable Development",
  secondaryParagraph: "By joining #PurpleWorld, you become part of a vibrant community focused on creating positive impacts in areas such as healthcare, education, and environmental sustainability. Together, we can build a future where technology and human ingenuity pave the way for a better world.",
  quote: "PurpleWorld is not just a community; it's a catalyst for global transformation focused on Sustainable Development Goals.",
  callToAction: {
    text: "Explore Sustainable Development Goals",
    link: "https://sdgs.un.org/"
  },
  image: "https://images.unsplash.com/photo-1458014854819-1a40aa70211c?q=80&w=3570&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
};


// Display Image
const displayImage = {
  title: "Optimize Patient Care",
  subtitle: "Improving Care,",
  subtitleCont: "Enhancing Outcomes.",
  imageSrc: "/images/dashboard.jpg"
};


// FeatureOne
const featureOne = {
  mainContent: {
    title: "Education for Change",
    img: "https://plus.unsplash.com/premium_photo-1682088220498-a326a241440d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjF8fGVkdWNhdGlvbnxlbnwwfHwwfHx8MA%3D%3D",
    subtitle: "Empower Through Knowledge",
    paragraphs: [
      "#PurpleWorld places a strong emphasis on education as a tool for driving global change. By promoting experiential learning and knowledge sharing, we empower individuals to become active participants in shaping a sustainable future."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Experiential Learning Focus",
    "Knowledge Sharing Platform",
    "Empowering Sustainable Futures"
  ]
};

// FeatureTwo
const featureTwo = {
  mainContent: {
    title: "Sustainability Advocacy",
    img: "https://images.unsplash.com/photo-1521708266372-b3547456cc2d?q=80&w=1919&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    subtitle: "Design a Greener Tomorrow",
    paragraphs: [
      "At the heart of #PurpleWorld is our commitment to sustainability. We actively engage in initiatives and activities that align with the Sustainable Development Goals, inspiring members to contribute to a greener, more sustainable world."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "SDG-Aligned Initiatives",
    "Greener World Contributions",
    "Sustainable Advocacy Efforts"
  ]
};

// FeatureThree
const featureThree = {
  mainContent: {
    title: "Technology for Impact",
    img: "https://plus.unsplash.com/premium_photo-1678565546661-bf43274dd428?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzZ8fHRlY2hub2xvZ3l8ZW58MHx8MHx8fDA%3D",
    subtitle: "Make a Difference with Digital Tools",
    paragraphs: [
      "#PurpleWorld harnesses the power of technology to amplify our impact on global change. By leveraging innovative digital tools and platforms, we enable our community to connect, collaborate, and create impactful solutions."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Innovative Digital Platforms",
    "Global Community Connection",
    "Impactful Solutions Creation"
  ]
};

const featureDetails = [
  {
    header: {
      mainTitle: "Our Impact",
      subTitle: "Empowering Sustainable Development",
      description: "#PurpleWorld leverages technological innovation to advance the sustainable development supporting our mission for global change."
    },
    featureSections: [
      {
        title: "Sustainable Community Engagement",
        description: "PurpleWorld fosters a vibrant community, driving sustainable actions and meaningful collaborations.",
        listItems: [
          "Facilitate global sustainability dialogues",
          "Enable impactful community projects",
          "Support SDG-aligned initiatives"
        ]
      },
      {
        title: "Innovative Advocacy Tools",
        description: "Empower advocates with cutting-edge tools, amplifying their voice and impact for sustainable change.",
        listItems: [
          "Digital platforms for advocacy",
          "Advanced tools for campaign effectiveness",
          "Data-driven insights for impact"
        ]
      },
      {
        title: "Collaborative Platforms for Change",
        description: "Connect change-makers on a global scale, promoting collaborative efforts for SDG achievements.",
        listItems: [
          "Global networking and partnerships",
          "Shared learning and experiences",
          "Collaborative project platforms"
        ]
      },
      {
        title: "Educational Outreach and Awareness",
        description: "Educate and inspire through PurpleWorld's initiatives, spreading awareness on sustainability.",
        listItems: [
          "Awareness campaigns for SDGs",
          "Educational programs and workshops",
          "Inspiring sustainability narratives"
        ]
      },
      {
        title: "Technology for Social Good",
        description: "Leverage the power of technology in realizing the vision of sustainable development.",
        listItems: [
          "Tech solutions for societal challenges",
          "Innovative approaches to sustainability",
          "Empowering tech-driven social impact"
        ]
      },
      {
        title: "Inclusivity in Action",
        description: "Champion inclusivity in all PurpleWorld initiatives, ensuring diverse voices contribute to global sustainability.",
        listItems: [
          "Promote diversity in sustainability efforts",
          "Inclusive platforms for all voices",
          "Empower underrepresented communities"
        ]
      }
    ]
  }
];




// Section Nine

const faqs = {
  title: "FAQs",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "What is PurpleWorld's primary mission?",
      answer: "#PurpleWorld, initiated by Empress, aims to drive global change by achieving the Sustainable Development Goals (SDGs). Our mission is to harness community power, innovative tools, and creative solutions to tackle global sustainability challenges and create a lasting impact."
    },
    {
      question: "How does #PurpleWorld engage its community?",
      answer: "#PurpleWorld engages its community through collaborative platforms, empowering members to connect, share experiences, and work together on sustainability projects. We focus on fostering a supportive environment that values inclusivity and diverse perspectives in driving change."
    },
    {
      question: "What role does technology play in #PurpleWorld?",
      answer: "Technology is a cornerstone of PurpleWorld, providing members with advanced digital tools and strategies to enhance their advocacy campaigns. We believe in leveraging tech as a catalyst for societal change, amplifying our collective impact towards global sustainability goals."
    },
    {
      question: "How can individuals contribute to #PurpleWorld?",
      answer: "Individuals can contribute to PurpleWorld by participating in our initiatives, challenges, and events aligned with the SDGs. We welcome diverse contributions, from advocacy and community engagement to sharing sustainable development ideas and success stories."
    },
    {
      question: "What are the benefits of joining #PurpleWorld?",
      answer: "Joining #PurpleWorld offers the opportunity to be part of a mission-driven community dedicated to sustainability. Members gain access to educational resources, advocacy tools, and a global network of change-makers, all while contributing to a more sustainable and equitable world."
    }
  ]
};

// Contact

const talkToYouSection = {
  title: "Connect with us",
  description: "Join us in a conversation on how together, as a community, we can make a global impact. Discover how your involvement in PurpleWorld can drive sustainable change and contribute to achieving the SDGs.",
  callToAction: {
    text: "Join PurpleWorld",
    link: "/purpleworld-join"
  },
  infoSections: [
    {
      title: "Community Empowerment",
      description: "Experience the power of collective action in PurpleWorld, where your voice and actions contribute to a greater cause."
    },
    {
      title: "Global Impact",
      description: "Learn how PurpleWorld leverages advocacy and technology to foster significant global change and sustainability."
    },
    {
      title: "Innovation and Collaboration",
      description: "Discover how innovation and collaboration are the keystones of PurpleWorld, driving forward our mission for a sustainable future."
    }
  ]
};

const infrastructureSection = {
  title: "Building a Sustainable Future with PurpleWorld",
  description: [
    "PurpleWorld is at the forefront of creating a sustainable future, combining innovative technology and community-driven efforts. Our mission transcends beyond mere discussions; we're actively shaping an inclusive, diverse, and technologically advanced community. This commitment to sustainability and innovation forms the foundation of our vision, uniting people from all walks of life to contribute meaningfully to the Sustainable Development Goals."
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Community"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">{hero.heroSection.header}</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              {hero.heroSection.title}
            </h2>
            <p class="text-slate-500 mt-5">
              {hero.heroSection.description}
            </p>
          </div>
          <div class="mt-10">
              <div class="mt-10 flex">
                <a href={hero.heroSection.callToActionLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
                   style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
                   onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
                   onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
                   onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
                   onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
                   {hero.heroSection.callToActionText}
                </a>
                <a href={hero.heroSection.callToActionTwoLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
                   style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
                   onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
                   {hero.heroSection.callToActionTwoText}
                </a>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                      src={hero.imageGrid[0].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[0].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[0].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[0].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[1].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[2].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[1].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[1].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[1].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-indigo-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[2].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[3].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[2].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[2].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[2].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[3].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[4].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[3].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[3].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[3].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-green-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[4].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[4].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[4].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[4].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
    <!-- Section 2 -->

    <section class="bg-white">
      <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
        <div>
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight">{statsContent.sectionTitle}</span>
          </h2>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
            {statsContent.mainHeading}
          </h2>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsContent.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
                  {stat.value}
                </p>
                <p class="text-slate-500 mt-6 border-blue-500">
                  {stat.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>


      



  
  


  <!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureOne.mainContent.buttonText}
              </a>
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" style="width: 100%; height: 500px; object-fit: cover; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureTwo.mainContent.img} alt="Dashboard" style="width: 100%; height: 500px; object-fit: cover; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureTwo.mainContent.buttonText}
              </a>
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureThree.mainContent.buttonText}
              </a>
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img 
          src={featureThree.mainContent.img} 
          alt="Dashboard" 
          class="w-full h-[500px] object-cover rounded-lg shadow-lg transition-all duration-300 ease-in-out"
          style="box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" 
        />
        </div>
      </div>
    </div>
  </div>
</section>
  

  <!-- Movements -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-10 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{movements.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {movements.subtitle}
        </h2>
      </div>
      <div class="mx-auto mt-12">
        <div class="flex flex-wrap -m-1 md:-m-2">
          <div class="p-1 w-full md:w-1/3">
            <div class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
              <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                <img src={movements.blocks[0].imageUrl} alt="" class="h-full w-full object-cover" />
              </div>
              <div class="relative lg:col-span-1">
                <span>
                  <img src={movements.blocks[0].integrationImage} alt="" />
                </span>
                <blockquote class="mt-6 text-white lg:mt-32">
                  <p class="font-medium">
                    {movements.blocks[0].text}
                  </p>
                  <p class="mt-6">
                    <a href={movements.blocks[0].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                      {movements.blocks[0].linkText}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                      </svg>
                    </a>
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="p-1 w-full md:w-1/3">
            <div class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
              <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                <img src={movements.blocks[1].imageUrl} alt="" class="h-full w-full object-cover" />
              </div>
              <div class="relative lg:col-span-1">
                <span>
                  <img src={movements.blocks[1].integrationImage} alt="" />
                </span>
                <blockquote class="mt-6 text-white lg:mt-32">
                  <p class="font-medium">
                    {movements.blocks[1].text}
                  </p>
                  <p class="mt-6">
                    <a href={movements.blocks[1].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                      {movements.blocks[1].linkText}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                      </svg>
                    </a>
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="p-1 w-full md:w-1/3">
            <div class="relative overflow-hidden rounded-2xl bg-purple-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
              <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                <img src={movements.blocks[2].imageUrl} alt="" class="h-full w-full object-cover" />
              </div>
              <div class="relative lg:col-span-1">
                <span>
                  <img src={movements.blocks[2].integrationImage} alt="" />
                </span>
                <blockquote class="mt-6 text-white lg:mt-32">
                  <p class="font-medium">
                    {movements.blocks[2].text}
                  </p>
                  <p class="mt-6">
                    <a href={movements.blocks[2].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                      {movements.blocks[2].linkText}
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                      </svg>
                    </a>
                  </p>
                </blockquote>
              </div>
            </div>
          </div>
                  <!-- ...previous blocks... -->
  
                  <div class="p-1 w-full md:w-1/3">
                    <div class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
                      <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                        <img src={movements.blocks[3].imageUrl} alt="" class="h-full w-full object-cover" />
                      </div>
                      <div class="relative lg:col-span-1">
                        <span>
                          <img src={movements.blocks[3].integrationImage} alt="" />
                        </span>
                        <blockquote class="mt-6 text-white lg:mt-32">
                          <p class="font-medium">
                            {movements.blocks[3].text}
                          </p>
                          <p class="mt-6">
                            <a href={movements.blocks[3].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                              {movements.blocks[3].linkText}
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                              </svg>
                            </a>
                          </p>
                        </blockquote>
                      </div>
                    </div>
                  </div>
          
                  <div class="p-1 w-full md:w-1/3">
                    <div class="relative overflow-hidden rounded-2xl bg-green-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
                      <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                        <img src={movements.blocks[4].imageUrl} alt="" class="h-full w-full object-cover" />
                      </div>
                      <div class="relative lg:col-span-1">
                        <span>
                          <img src={movements.blocks[4].integrationImage} alt="" />
                        </span>
                        <blockquote class="mt-6 text-white lg:mt-32">
                          <p class="font-medium">
                            {movements.blocks[4].text}
                          </p>
                          <p class="mt-6">
                            <a href={movements.blocks[4].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                              {movements.blocks[4].linkText}
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                              </svg>
                            </a>
                          </p>
                        </blockquote>
                      </div>
                    </div>
                  </div>
          
                  <div class="p-1 w-full md:w-1/3">
                    <div class="relative overflow-hidden rounded-2xl bg-blue-600 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                      <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                        <img src={movements.blocks[5].imageUrl} alt="" class="h-full w-full object-cover" />
                      </div>
                      <div class="relative lg:col-span-1">
                        <span>
                          <img src={movements.blocks[5].integrationImage} alt="" />
                        </span>
                        <blockquote class="mt-6 text-white lg:mt-32">
                          <p class="font-medium">
                            {movements.blocks[5].text}
                          </p>
                          <p class="mt-6">
                            <a href={movements.blocks[5].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                              {movements.blocks[5].linkText}
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                                <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                              </svg>
                            </a>
                          </p>
                        </blockquote>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
        </div>
      </div>
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-16 items-center">
      {featureDetails.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))}
    </div>
  </section>


    <!-- Features -->

    <section class="bg-white">
      <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
        <div class="text-center">
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight">{featuresHeading.featureHeading}</span>
          </h2>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
            {featuresHeading.featureTitle}
          </h2>
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
          {
            features.map((item) => (
              <a href={item.link} 
                 class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
                <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                  <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                    {/* Use the original icon coloring method */}
                    <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                  </div>
                  <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                    <h3 class="font-semibold text-md">{item.title}</h3>
                    <p class="text-slate-500">{item.description}</p>
                  </div>
                </div>
              </a>
            ))
          }
        </div> 
      </div>
    </section>



  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
