---
import BaseLayout from "../layouts/BaseLayout.astro";

import JobsHome from "../components/jobs/JobsHome.astro";

import { AstroSeo } from "@astrolib/seo";


// Hero

const hero = {
  title: "Empower Education with Empress",
  description: "Empress revolutionizes education systems by integrating advanced technology to optimize learning experiences and streamline administrative processes. Join a network of educational institutions leveraging our platform for enhanced efficiency and engaging learning environments.",
  callToAction: {
    text: "Discover Empress for Education",
    link: "/education-solutions"
  },
  imageGrid: [
    [
      "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://plus.unsplash.com/premium_photo-1661775434014-9c0e8d71de03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://images.unsplash.com/photo-1600275669439-14e40452d20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60",
      "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://plus.unsplash.com/premium_photo-1661771825670-1720428a80ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80",
      "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
    ]
  ]
};


  // Stats
  const statsInfo = {
  header: "Education Transformation",
  mainTitle: "Elevating Education with Empress",
  subTitle: "Empress brings innovative solutions to the education sector, enhancing teaching, learning, and operational management with our analytical tools and intuitive technology.",
  statsData: [
      {
        value: "$70M",
      },
      {
        value: "3 months faster",
      },
      {
        value: "5%",
      },
      {
        value: "50 new countries",
      },
      {
        value: "600 Hours",
      },
      {
        value: "3 days less",
      },
      {
        value: "1 Million workers",
      },
      {
        value: "3 head quarters",
      }
    ]
  };


// Overview


const overview = {
  title: "Revolutionize Your Educational Operations",
  paragraphs: [
    "Empress leads in transforming educational experiences, catering to schools, universities, and online learning platforms. Our platform meets diverse educational needs, ensuring efficient operations and enhanced learning outcomes.",
    "We empower educators and administrators with tools for student management, curriculum development, and enhanced engagement."
  ],
  secondaryTitle: "Student-Centric Educational Solutions",
  secondaryParagraph: "In education, student success is paramount. Empress equips educators with tools to understand and address student needs, delivering personalized learning experiences that foster achievement and growth.",
  quote: "Empress is not just a platform; it's a partner in educational excellence.",
  callToAction: {
    text: "Explore Educational Solutions",
    link: "/education-solutions"
  },
  image: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
};

// Dark Background

const darkBackground = {
  sections: [
  {
      type: "feature",
      title: "Seamless Retail Integrations",
      mainTitle: "Unified Systems for Retail Excellence",
      descriptions: [
        "Empress seamlessly unites various retail tools, creating an integrated ecosystem that enhances operational efficiency and data coherence.",
        "From POS systems to inventory management, our integration capabilities ensure all your tools work in harmony."
      ],
      imagePaths: ["images of integrated retail systems"],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    // {
    //   type: "feature",
    //   title: "Seamless Educational Integrations",
    //   mainTitle: "Unified Systems for Educational Excellence",
    //   descriptions: [
    //     "Empress seamlessly integrates diverse educational tools, enhancing learning efficiency and data coherence.",
    //     "From LMS to grading systems, our integrations ensure all tools work in harmony."
    //   ],
    //   imagePaths: ["images of integrated retail systems"],
    //   bgColor: "white",
    //   textColor: "blue-600",
    //   gridCols: "lg:grid-cols-2"
    // },
    {
      type: "featureSkewed",
      title: "Educational Workflow Optimization",
      mainTitle: "Efficiency Meets Innovative Learning",
      description: "Empress optimizes educational workflows, reducing manual effort and enhancing the learning experience.",
      points: [
        {
          title: "Broad Educational Tool Support",
          description: "Our platform supports diverse educational tools for seamless academic operations."
        },
        {
          title: "Real-Time Educational Insights",
          description: "Empress provides crucial, real-time insights for informed educational decisions."
        },
        {
          title: "Custom Educational Integration",
          description: "Tailor integrations to specific educational needs, enabling growth and adaptability."
        }
      ],
      bgColor: "purple-900",
      textColor: "white",
      gridCols: "lg:grid-cols-3",
      transform: "skew-y-6",
      marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};


// Use Cases

const features = [
  {
    header: {
      mainTitle: "Empress in Education",
      subTitle: "Transforming Educational Experiences",
      description: "Empress provides innovative solutions to enhance educational efficiency, engagement, and compliance."
    },
    featureSections: [
      {
        title: "Student Data Management",
        description: "Empress streamlines student data access, ensuring security while facilitating collaborative educational environments.",
        listItems: [
          "Secure student record access",
          "Efficient data management",
          "Collaborative educational tools"
        ]
      },
      {
        title: "Sensitive Information Protection",
        description: "Protect sensitive educational data with custom access settings, ensuring confidentiality and compliance.",
        listItems: [
          "Regulated data access",
          "Custom privacy settings",
          "Data security in education"
        ]
      },
      {
        title: "Educational Service Privacy",
        description: "Empress prioritizes privacy in educational services, safeguarding student and faculty data.",
        listItems: [
          "Controlled access to interactions",
          "Confidential record handling",
          "Privacy-first educational services"
        ]
      },
      {
        title: "Compliance in Educational HR",
        description: "Manage HR data in education settings, aligning with compliance standards and ensuring confidentiality.",
        listItems: [
          "Secure employee data management",
          "HR regulation compliance",
          "Confidential HR practices"
        ]
      },
      {
        title: "Educational Financial Integrity",
        description: "Ensure financial data security and compliance in education, including transactions and funding.",
        listItems: [
          "Secure financial management",
          "Compliant financial practices",
          "Protected educational transactions"
        ]
      },
      {
        title: "Supply Chain Management for Education",
        description: "Maintain integrity in educational supply chain management with secure information access and transparency.",
        listItems: [
          "Regulated supply chain data access",
          "Secure data sharing",
          "Protected educational resources management"
        ]
      }
    ]
  }
];





// Check Marks

const sectionData = {
  mainTitle: "Empress in Education",
  mainSubTitle: "Advancing Educational Excellence",
  description: "Empress provides cutting-edge solutions for enhanced learning experiences, operational efficiency, and educational data management in schools and universities.",
  articles: [
    {
      title: "Educational Analytics",
      features: [
        "Insightful educational data",
        "Guided curriculum decisions",
        "Learning trend evaluation"
      ]
    },
    {
      title: "Efficient School Operations",
      features: [
        "Streamlined administration",
        "Process automation",
        "Cost-effective management"
      ]
    },
    {
      title: "Automated Educational Tasks",
      features: [
        "Minimized workload",
        "Time-saving automation",
        "Enhanced workflows"
      ]
    },
    {
      title: "AI-Driven Student Support",
      features: [
        "AI-based learning assistance",
        "24/7 educational support",
        "Active student engagement"
      ]
    },
    {
      title: "Educational Trend Forecasting",
      features: [
        "Educational needs prediction",
        "Student behavior trend analysis",
        "Proactive strategies"
      ]
    },
    {
      title: "Collaborative Education",
      features: [
        "Collaboration tools",
        "Cross-departmental teamwork",
        "Unified academic efforts"
      ]
    },
    {
      title: "Educational Data Security",
      features: [
        "Secure data management",
        "Assured data privacy",
        "Protected academic data"
      ]
    },
    {
      title: "Integrated Educational Systems",
      features: [
        "Harmonized educational tools",
        "Coherent academic systems",
        "Operational efficiency"
      ]
    }
  ]
};


// Section Nine

const faqs = {
  title: "Educational Management FAQs",
  subtitle: "Empowering Education with Advanced Solutions",
  questions: [
    {
      question: "How does Empress enhance student data management?",
      answer: "Empress offers advanced student data management systems, providing real-time updates and secure access to optimize learning and streamline educational administration."
    },
    {
      question: "Can Empress integrate with existing educational systems?",
      answer: "Absolutely. Empress ensures smooth integration with various educational systems, enhancing data exchange and management across different academic platforms."
    },
    {
      question: "Does Empress support Learning Management Systems (LMS)?",
      answer: "Yes, Empress is designed to integrate effectively with LMS, facilitating enhanced course management, student tracking, and e-learning capabilities."
    },
    {
      question: "What education-specific features does Empress offer?",
      answer: "Empress caters to the educational sector with features like secure student records, curriculum development tools, and analytics for student performance and educational trends."
    },
    {
      question: "How does Empress ensure adherence to educational regulations?",
      answer: "Empress's systems comply with educational regulations, incorporating robust security and privacy standards to safeguard student data and maintain institutional integrity."
    }
  ]
};



// Contact

const talkToYouSection = {
  title: "Engage With Us",
  description: "We are eager to explore how Empress can revolutionize your educational institution. Let's discuss your specific needs and how our innovative solutions can elevate your educational success.",
  callToAction: {
    text: "Discover Empress for Education",
    link: "/education-solutions"
  },
  infoSections: [
    {
      title: "Education with Empress",
      description: "Empress is dedicated to advancing educational technology, fostering environments that nurture cutting-edge learning and teaching solutions."
    },
    {
      title: "Empress's Impact in Education",
      description: "Our initiatives are focused on providing educators and institutions with the tools and insights needed for an empowered educational future."
    },
    {
      title: "Our Ethos in Education",
      description: "At Empress, we prioritize student-centric learning, data-driven educational strategies, and continual innovation in the education sector."
    }
  ]
};

const infrastructureSection = {
  title: "Shaping the Future of Education with Empress",
  description: [
    "Empress stands at the forefront of constructing the essential infrastructure for the evolving educational landscape. Our commitment extends beyond mere technological advancement; we emphasize and advocate for diversity and inclusivity in education. This philosophy enables us to provide more comprehensive, inclusive, and effective solutions for educational entities. Our mission is to drive the education sector forward with advanced technology, cultivating an environment where diverse ideas and perspectives merge to forge exceptional educational solutions."
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<section class="relative overflow-hidden border-b">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <h2 class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
            {hero.title}
          </h2>
          <p class="text-slate-500 mt-5">
            {hero.description}
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href={hero.callToAction.link}
          >
            {hero.callToAction.text}
          </a>
        </div>
      </div>
      <div class="lg:mt-0 lg:ml-auto">
        <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
          <div class="flex items-center space-x-6 lg:space-x-8">
            {hero.imageGrid.map((imageRow, index) => (
              <div key={index} class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                {imageRow.map((image, imageIndex) => (
                  <div key={imageIndex} class="h-full w-44">
                    <img src={image} alt="thumbnail" class="drop-shadow-2xl rounded-2xl"/>
                  </div>
                ))}
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  

<!-- Stats Info -->

  
  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{statsInfo.header}</span>
        </h2>
  
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {statsInfo.mainTitle}
        </h2>
        <div>
          <p class="text-slate-500 mt-6">
            {statsInfo.subTitle}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsInfo.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
                  {stat.value}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Dark Background -->



  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[0].title}</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {darkBackground.sections[0].mainTitle}
          <span class="lg:block">{darkBackground.sections[0].secondaryTitle}</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[0]}
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[1]}
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src={darkBackground.sections[0].imagePaths[0]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[1]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
            src={darkBackground.sections[0].imagePaths[2]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[3]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
            src={darkBackground.sections[0].imagePaths[4]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
            src={darkBackground.sections[0].imagePaths[5]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[6]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
        </h2>
        <h2
          class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
          {darkBackground.sections[1].mainTitle} <span class="lg:block"
            >{darkBackground.sections[1].secondaryTitle}</span
          >
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">
            {darkBackground.sections[1].description}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[0].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[0].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[1].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[1].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[2].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[2].description}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>



  <!-- Feature Details -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionData.description}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
