---
import BaseLayout from "../layouts/BaseLayout.astro";
import { AstroSeo } from "@astrolib/seo";
import { Icon } from "astro-icon";
import Ecosystem from "../components/features/Ecosystem.astro";
import GetStarted from "../components/features/GetStarted.astro";

// Hero

export const hero = {
  heroSection: {
    header: 'Empress for Financial Services',
    title: 'Elevate Your Finance Game',
    description: 'Empress revolutionizes the financial services industry with cutting-edge technology, driving smarter decision-making, operational efficiency, and enhanced customer relationships.',
    caseStudyText: "Read case study",
    callToActionText: 'View Pricing',
    callToActionLink: '/pricing',
    callToActionTwoText: 'Contact Sales',
    callToActionTwoLink: '/contact',
  },
  imageGrid: [
  {
    imageUrl: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Empress enhances financial services with robust data analytics and customer insights.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-blue-600",
  },
  {
    imageUrl: "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Discover how Empress revolutionizes risk management and compliance in finance.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Empress streamlines financial operations with innovative banking and investment solutions.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    description: "Empower your financial services with Empress's advanced transaction processing capabilities.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80",
    description: "Learn how Empress's fintech solutions innovate customer experiences in financial services.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  }
],
};

// Overview
const overview = {
  title: "Scale Financial Services",
  paragraphs: [
    "Empress is pioneering the transformation of financial services. Catering to a range of financial institutions from local banks to global investment firms, our platform is intricately designed to meet the sector's complex needs, ensuring efficiency, compliance, and customer satisfaction.",
    "Our suite of applications enhances key financial operations from risk management to client relationship building, paving the way for industry success."
  ],
  secondaryTitle: "Innovative Solutions",
  secondaryParagraph: "In the world of finance, precision and innovation lead the way. Empress equips financial institutions with advanced tools to navigate market complexities, deliver personalized client services, and drive strategic growth.",
  quote: "With Empress, financial services are not just managed; they're transformed.",
  callToAction: {
    text: "Explore Financial Services Solutions",
    link: "/financial-services-solutions"
  },
  image: "https://images.unsplash.com/photo-1581090700227-1e37b190418e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
};

// Display Image
const displayImage = {
  title: "Enhance Financial Management",
  subtitle: "Navigating Finance with Precision,",
  subtitleCont: "Powered by Innovation.",
  imageSrc: "/images/dashboard.jpg"
};



// FeatureOne

const featureOne = {
  mainContent: {
    title: "Financial Precision",
    img: "/images/dashboard.jpg",
    subtitle: "Empowering Financial Decisions",
    paragraphs: [
      "Empress elevates financial services with cutting-edge tools for strategic financial management, robust analytics, and dynamic client relationship management."
    ],
    linkText: "View Plans",
    linkHref: "/pricing"
  },
  listItems: [
    "Advanced Analytics for Financial Insight",
    "Customizable CRM for Client Engagement",
    "Streamlined Compliance & Automated Reporting"
  ]
};

// FeatureTwo
const featureTwo = {
  mainContent: {
    title: "Risk & Compliance",
    img: "/images/dashboard.jpg",
    subtitle: "Navigating Complexity with Ease",
    paragraphs: [
      "Empress transforms risk management and regulatory compliance, offering predictive analytics and automated tools for a secure financial environment."
    ],
    linkText: "View Plans",
    linkHref: "/pricing"
  },
  listItems: [
    "Predictive Risk Analysis Tools",
    "Automated Compliance Management",
    "Operational Vulnerability Assessments"
  ]
};

// FeatureThree
const featureThree = {
  mainContent: {
    title: "Operational Efficiency",
    img: "/images/dashboard.jpg",
    subtitle: "Streamlined Operations, Amplified Impact",
    paragraphs: [
      "Empress boosts operational efficiency in financial services with workflow automation, process optimization, and strategic resource management."
    ],
    linkText: "View Plans",
    linkHref: "/pricing"
  },
  listItems: [
    "Automated Workflow Solutions",
    "Process Optimization for Financial Operations",
    "Strategic Resource Management"
  ]
};

// Use Features
const featureDetails = [
  {
    header: {
      mainTitle: "Additional Features",
      subTitle: "Advancing Financial Services",
      description: "Empress delivers tailor-made solutions for the financial sector, enhancing data management, client relations, and operational efficiency."
    },
    featureSections: [
      {
        title: "Advanced Financial Analytics",
        description: "Empress provides in-depth financial analytics for strategic insights, enabling informed decision-making and effective financial planning.",
        listItems: [
          "Real-time financial health tracking",
          "Insightful revenue management",
          "Strategic financial budgeting tools"
        ]
      },
      {
        title: "Client Relationship Management",
        description: "Our CRM tools deepen client engagement with personalized strategies, improving relationship management and client retention.",
        listItems: [
          "Personalized client communication",
          "Efficient client data management",
          "Enhanced client engagement tools"
        ]
      },
      {
        title: "Compliance and Reporting Automation",
        description: "Navigate regulatory complexities with automated compliance management and reporting tools, ensuring industry standard adherence.",
        listItems: [
          "Automated regulatory compliance management",
          "Streamlined financial reporting",
          "Industry standards adherence"
        ]
      },
      {
        title: "Risk Management Intelligence",
        description: "Mitigate financial risks with predictive analytics, providing insights into market trends and operational vulnerabilities.",
        listItems: [
          "Predictive market trend analysis",
          "Operational risk assessments",
          "Credit risk analysis tools"
        ]
      },
      {
        title: "Innovative Product Development Support",
        description: "Facilitate new financial product development with comprehensive market analysis, product lifecycle management, and customer feedback integration.",
        listItems: [
          "Market analysis for product development",
          "Product lifecycle management tools",
          "Customer feedback for service refinement"
        ]
      },
      {
        title: "Operational Efficiency and Process Automation",
        description: "Empress enhances operational efficiency in financial services with process optimization and workflow automation, reducing manual errors.",
        listItems: [
          "Workflow automation for operations",
          "Process optimization for efficiency",
          "Resource management and allocation"
        ]
      }
    ]
  }
];


// FAQs
const faqs = {
  title: "FAQs",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "How does Empress support financial decision-making?",
      answer: "Empress's financial analytics tools provide deep, actionable insights into market trends, cash flow, and investment opportunities, aiding in informed decision-making. These tools allow for scenario analysis and forecasting, crucial for sustainable financial strategies and long-term planning."
    },
    {
      question: "Can Empress aid in regulatory compliance for financial institutions?",
      answer: "Yes, Empress automates compliance management, streamlining the adherence process to global financial regulations. Our system updates with changing standards, ensuring you're always compliant. It also provides detailed reporting features to ease the audit process and maintain transparency."
    },
    {
      question: "Does Empress offer risk management solutions for finance?",
      answer: "Empress includes advanced risk analytics tools, providing insights into market volatility, credit risk, and operational risks. This enables financial institutions to proactively assess potential threats and implement effective mitigation strategies, ensuring financial stability."
    },
    {
      question: "How does Empress enhance client relationships in finance?",
      answer: "Our CRM tools offer personalized interaction strategies, comprehensive client profiles, and efficient tracking of client interactions, fostering stronger, more meaningful relationships. These tools are designed to optimize client satisfaction and retention rates in the competitive financial services landscape."
    },
    {
      question: "Can Empress streamline financial reporting processes?",
      answer: "Empress significantly streamlines financial reporting with tools for automated data aggregation, report generation, and compliance tracking. These features not only enhance reporting accuracy but also save valuable time, allowing financial institutions to focus on strategic activities."
    }
  ]
};



const talkToYouSection = {
  title: "Connect with us",
  description: "We're excited to show how Empress can transform your financial services operations. Let's connect to discuss how our solutions can enhance efficiency, compliance, and customer satisfaction in your institution.",
  callToAction: {
    text: "Explore Empress for Finance",
    link: "/finance-solutions"
  },
  infoSections: [
    {
      title: "Advance Finance with Empress",
      description: "At Empress, we're committed to redefining financial services technology, creating advanced solutions that address key industry challenges."
    },
    {
      title: "Empress's Impact in Finance",
      description: "Through our partnerships, we're equipping the next generation of finance professionals with the tools and knowledge for success in a dynamic industry."
    },
    {
      title: "Our Financial Services Ethos",
      description: "Empress adheres to principles focused on client trust, data-driven decision making, and continuous innovation within the financial services sector."
    }
  ]
};

const infrastructureSection = {
  title: "Shaping the Future of Financial Services with Empress",
  description: [
    "Empress is at the forefront of building the essential infrastructure for the evolving financial services industry. Our commitment goes beyond technology; we champion diversity and inclusivity in our ethos. This approach enriches our solutions, incorporating a variety of insights and experiences. With Empress, you get more than just innovative solutions; you get inclusive, adaptable, and effective tools tailored for the financial sector. Our mission is to propel the industry forward with groundbreaking technology, while nurturing a space where diverse perspectives merge to forge exceptional financial services solutions."
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">{hero.heroSection.header}</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              {hero.heroSection.title}
            </h2>
            <p class="text-slate-500 mt-5">
              {hero.heroSection.description}
            </p>
          </div>
          <div class="mt-10">
              <div class="mt-10 flex">
                <a href={hero.heroSection.callToActionLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
                   style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
                   onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
                   onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
                   onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
                   onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
                   {hero.heroSection.callToActionText}
                </a>
                <a href={hero.heroSection.callToActionTwoLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
                   style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
                   onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
                   {hero.heroSection.callToActionTwoText}
                </a>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                      src={hero.imageGrid[0].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[0].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[0].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[0].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[1].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[2].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[1].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[1].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[1].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-indigo-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[2].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[3].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[2].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[2].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[2].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[3].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[4].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[3].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[3].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[3].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-green-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[4].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[4].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[4].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[4].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Header -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{displayImage.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {displayImage.subtitle}
          <span class="lg:block">{displayImage.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={displayImage.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section>
  


  <!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureTwo.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureThree.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>
  

  <GetStarted/>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-16 items-center">
      {featureDetails.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))}
    </div>
  </section>
  

  <Ecosystem/>


  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
