---
import BaseLayout from "../layouts/BaseLayout.astro";

import JobsHome from "../components/jobs/JobsHome.astro";

import { AstroSeo } from "@astrolib/seo";


// Hero

const hero = {
  title: "Empower Government Operations with Empress",
  description: "Empress brings cutting-edge technology solutions to government agencies, enhancing efficiency and citizen engagement. Join a network of government entities leveraging our platform for superior service delivery and operational excellence.",
  callToAction: {
    text: "Discover Empress for Government",
    link: "/government-solutions"
  },
  imageGrid: [
    [
      "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://plus.unsplash.com/premium_photo-1661775434014-9c0e8d71de03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://images.unsplash.com/photo-1600275669439-14e40452d20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60",
      "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://plus.unsplash.com/premium_photo-1661771825670-1720428a80ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80",
      "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
    ]
  ]
};


  // Stats
  const statsInfo = {
    header: "Government Transformation Accelerated",
    mainTitle: "Elevating Public Service with Empress",
    subTitle: "Empress delivers unparalleled technology solutions to the government sector, focusing on digital transformation and enhanced citizen services.",
    statsData: [
      {
        value: "$70M",
      },
      {
        value: "3 months faster",
      },
      {
        value: "5%",
      },
      {
        value: "50 new countries",
      },
      {
        value: "600 Hours",
      },
      {
        value: "3 days less",
      },
      {
        value: "1 Million workers",
      },
      {
        value: "3 head quarters",
      }
    ]
  };


// Overview

const overview = {
  title: "Revolutionize Government Services",
  paragraphs: [
    "Empress drives innovation in government agencies, providing powerful tools for scalability, public engagement, and digital governance.",
    "Our platform offers tailor-made solutions for government entities, ensuring effective service delivery and strategic data management."
  ],
  secondaryTitle: "Tailored Government Solutions",
  secondaryParagraph: "In the evolving landscape of government operations, Empress stands as a strategic partner, delivering technology that adapts to your specific public sector challenges.",
  quote: "Empress transforms government agencies by integrating innovative solutions into public services.",
  callToAction: {
    text: "Explore Government Solutions",
    link: "/government-solutions"
  },
  image: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
};



// Dark Background

const darkBackground = {
  sections: [
  {
      type: "feature",
      title: "Seamless Retail Integrations",
      mainTitle: "Unified Systems for Retail Excellence",
      descriptions: [
        "Empress seamlessly unites various retail tools, creating an integrated ecosystem that enhances operational efficiency and data coherence.",
        "From POS systems to inventory management, our integration capabilities ensure all your tools work in harmony."
      ],
      imagePaths: ["images of integrated retail systems"],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    {
      type: "featureSkewed",
      title: "Optimizing Government Workflows",
      mainTitle: "Efficiency and Innovation in Governance",
      description: "Empress streamlines government operations, reducing manual effort and maximizing public service impact.",
      points: [
        {
          title: "Diverse Government Tool Support",
          description: "Our platform supports a variety of government tools for seamless service delivery."
        },
        {
          title: "Real-Time Governance Insights",
          description: "Gain crucial insights for informed decision-making and effective public policy implementation."
        },
        {
          title: "Adaptive Government Integration",
          description: "Customize integrations to fit government needs, fostering agility and innovation in public service."
        }
      ],
      bgColor: "purple-900",
      textColor: "white",
      gridCols: "lg:grid-cols-3",
      transform: "skew-y-6",
      marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};


// Use Cases

const features = [
  {
    header: {
      mainTitle: "Empress for Government",
      subTitle: "Enhancing Government Efficiency",
      description: "Empress empowers government entities with solutions tailored for financial management, constituent relations, and streamlined operations."
    },
    featureSections: [
      {
        title: "Financial Management for Government",
        description: "Empress delivers advanced analytics for government financial oversight, promoting responsible budgeting and fiscal growth.",
        listItems: [
          "In-depth financial analysis",
          "Responsible budget management",
          "Long-term fiscal sustainability"
        ]
      },
      {
        title: "Constituent Relationship Enhancement",
        description: "Empress strengthens government-public relationships, providing tools to improve service delivery and citizen satisfaction.",
        listItems: [
          "Enhanced public engagement",
          "Effective service delivery",
          "Increased citizen satisfaction"
        ]
      },
      {
        title: "Government Process Optimization",
        description: "Empress accelerates operational processes in government sectors, from policy development to public service execution.",
        listItems: [
          "Streamlined policy implementation",
          "Efficient public service execution",
          "Rapid response to civic needs"
        ]
      },
      {
        title: "Operational Efficiency in Government",
        description: "Empress revolutionizes government operations with automation, enhancing efficiency and reducing administrative burdens.",
        listItems: [
          "Automated administrative tasks",
          "Efficient governmental workflows",
          "Reduced operational costs"
        ]
      },
      {
        title: "Government Outreach Amplification",
        description: "Empress aids government agencies in expanding their outreach with strategic communication and impactful public campaigns.",
        listItems: [
          "Strategic public communication",
          "Enhanced public awareness",
          "Effective civic engagement campaigns"
        ]
      },
      {
        title: "Government Workforce Empowerment",
        description: "Empress cultivates a skilled government workforce, fostering a culture of innovation, efficiency, and retention.",
        listItems: [
          "Development of skilled personnel",
          "Enhanced workforce efficiency",
          "Focused talent retention"
        ]
      },
      {
        title: "Service Excellence in Government",
        description: "Empress elevates government service standards, establishing robust systems for reliable and effective public services.",
        listItems: [
          "High-quality public services",
          "Reliable citizen support systems",
          "Long-lasting public trust"
        ]
      },
      {
        title: "Sustainable Government Growth",
        description: "Empress ensures governments stay at the forefront of innovation, fostering continuous improvement and effective governance.",
        listItems: [
          "Innovative governance strategies",
          "Effective public sector management",
          "Sustainable governmental development"
        ]
      }
    ]
  }
];


// Check Marks

const sectionData = {
  mainTitle: "Empress for Government",
  mainSubTitle: "Optimizing Government Operations",
  description: "Empress delivers advanced, efficient solutions for government decision-making and public services.",
  articles: [
    {
      title: "Data Insights",
      features: [
        "Actionable analytics",
        "Strategic decisions",
        "Public sector insights"
      ]
    },
    {
      title: "Workflow Optimization",
      features: [
        "Streamlined operations",
        "Productivity enhancement",
        "Resource management"
      ]
    },
    {
      title: "Task Automation",
      features: [
        "Automate government tasks",
        "Efficient process management",
        "Workflow enhancements"
      ]
    },
    {
      title: "AI-Driven Public Support",
      features: [
        "AI-powered engagement",
        "Continuous citizen support",
        "Public service satisfaction"
      ]
    },
    {
      title: "Trend Forecasting",
      features: [
        "Policy trend analysis",
        "Proactive needs assessment",
        "Strategic adaptability"
      ]
    },
    {
      title: "Collaborative Networking",
      features: [
        "Interdepartmental collaboration",
        "Cross-functional synergy",
        "Unified government efforts"
      ]
    },
    {
      title: "Data Security",
      features: [
        "Secure data management",
        "Privacy compliance",
        "Protected citizen data"
      ]
    },
    {
      title: "Tool Integration",
      features: [
        "System compatibility",
        "Unified digital ecosystem",
        "Efficient tool interoperability"
      ]
    }
  ]
};


// Section Nine

const faqs = {
  title: "Government Solutions FAQs",
  subtitle: "Enhancing Public Services with Empress",
  questions: [
    {
      question: "How can Empress improve efficiency in government operations?",
      answer: "Empress provides government agencies with advanced tools to streamline operations, integrating automated processes and real-time data analysis to improve efficiency and public service delivery."
    },
    {
      question: "Is Empress compatible with existing government IT infrastructure?",
      answer: "Absolutely. Empress is designed for seamless integration with existing government systems, ensuring smooth interoperability and enhanced data exchange for efficient public service management."
    },
    {
      question: "Can Empress aid in enhancing citizen engagement and satisfaction?",
      answer: "Definitely. Empress offers innovative tools for citizen engagement, improving communication and service delivery, which are crucial for government agencies to enhance public satisfaction and trust."
    },
    {
      question: "What specific features does Empress offer to support government agencies?",
      answer: "Empress equips government agencies with features such as comprehensive data analytics, efficient process automation, and tools for strategic policy making and public engagement, all essential for effective governance."
    },
    {
      question: "How does Empress ensure data security and regulatory compliance in government operations?",
      answer: "Empress prioritizes data security with stringent encryption and compliance protocols, offering government agencies robust measures to protect sensitive public data and adhere to regulatory standards."
    }
  ]
};


// Contact

// Contact Section
const talkToYouSection = {
  title: "Engage with Empress for Agencies",
  description: "We're eager to explore how Empress can elevate your agency's creative and operational capabilities. Discuss with us how our bespoke solutions can transform your agency's productivity and client engagement.",
  callToAction: {
    text: "Explore Empress for Agencies",
    link: "/agency-solutions"
  },
  infoSections: [
    {
      title: "Tailored Solutions for Agencies by Empress",
      description: "Empress is dedicated to enhancing agency performance, offering customized tools and technologies that streamline creative processes and foster client success."
    },
    {
      title: "Empress's Role in Agency Evolution",
      description: "Our initiatives are strategically developed to empower agencies with advanced tools, enriching the creative ecosystem and bolstering client-centric operations."
    },
    {
      title: "Empress's Vision for Creative Agencies",
      description: "At Empress, we prioritize innovation, effective client strategies, and data-driven decision-making, crafting solutions that evolve with your agency's unique demands."
    }
  ]
};

// Infrastructure Section
const infrastructureSection = {
  title: "Crafting the Future of Creative Agencies with Empress",
  description: [
    "Empress stands as a pivotal force in redefining the agency landscape. Our focus extends beyond just technical solutions; we are committed to fostering a culture of diversity and innovation within agencies. This philosophy underpins our approach to providing flexible, effective solutions tailored to the unique challenges of creative agencies. Our mission is to advance the agency sector with cutting-edge technology, creating a space where creativity and client needs are seamlessly aligned."
  ]
};





---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<section class="relative overflow-hidden border-b">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <h2 class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
            {hero.title}
          </h2>
          <p class="text-slate-500 mt-5">
            {hero.description}
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href={hero.callToAction.link}
          >
            {hero.callToAction.text}
          </a>
        </div>
      </div>
      <div class="lg:mt-0 lg:ml-auto">
        <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
          <div class="flex items-center space-x-6 lg:space-x-8">
            {hero.imageGrid.map((imageRow, index) => (
              <div key={index} class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                {imageRow.map((image, imageIndex) => (
                  <div key={imageIndex} class="h-full w-44">
                    <img src={image} alt="thumbnail" class="drop-shadow-2xl rounded-2xl"/>
                  </div>
                ))}
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  

<!-- Stats Info -->

  
  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{statsInfo.header}</span>
        </h2>
  
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {statsInfo.mainTitle}
        </h2>
        <div>
          <p class="text-slate-500 mt-6">
            {statsInfo.subTitle}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsInfo.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
                  {stat.value}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Dark Background -->



  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[0].title}</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {darkBackground.sections[0].mainTitle}
          <span class="lg:block">{darkBackground.sections[0].secondaryTitle}</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[0]}
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[1]}
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src={darkBackground.sections[0].imagePaths[0]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[1]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
            src={darkBackground.sections[0].imagePaths[2]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[3]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
            src={darkBackground.sections[0].imagePaths[4]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
            src={darkBackground.sections[0].imagePaths[5]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[6]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
        </h2>
        <h2
          class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
          {darkBackground.sections[1].mainTitle} <span class="lg:block"
            >{darkBackground.sections[1].secondaryTitle}</span
          >
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">
            {darkBackground.sections[1].description}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[0].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[0].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[1].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[1].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[2].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[2].description}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>



  <!-- Feature Details -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionData.description}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
