---
import BaseLayout from "../layouts/BaseLayout.astro";
import { AstroSeo } from "@astrolib/seo";
import { Icon } from "astro-icon";
import Ecosystem from "../components/features/Ecosystem.astro";
import GetStarted from "../components/features/GetStarted.astro";

// Hero

export const hero = {
  heroSection: {
    header: 'Empress for Government',
    title: 'Innovation for the People',
    description: 'Empress brings cutting-edge technology solutions to government agencies, enhancing efficiency and citizen engagement.',
    caseStudyText: "Read case study",
    callToActionText: 'View Pricing',
    callToActionLink: '/pricing',
    callToActionTwoText: 'Contact Sales',
    callToActionTwoLink: '/contact',
  },
  imageGrid: [
  {
    imageUrl: "https://images.unsplash.com/photo-1529107386315-e1a2ed48a620?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Empress revolutionizes public service management, ensuring efficiency and transparency in government operations.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1575320181282-9afab399332c?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Discover how Empress empowers government sectors with secure, scalable, and efficient technology solutions.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1541726260-e6b6a6a08b27?q=80&w=1759&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Enhancing government service delivery through advanced analytics and smart technology.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://plus.unsplash.com/premium_photo-1664302654457-399bf1bff533?q=80&w=1916&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Explore Empress's role in streamlining governmental processes for enhanced civic engagement and operational excellence.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-blue-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1594581979864-36977b15d0dc?q=80&w=1856&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Empress: Facilitating digital transformation in government, optimizing public resources and services.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  }
],

};

// Overview
const overview = {
  title: "Empowering Public Service with Empress",
  paragraphs: [
    "Our goal is to revolutionize how government agencies serve the public, from local municipalities to national departments. We provide innovative solutions that streamline operations and enhance public service delivery, bringing efficiency and reliability to the forefront of governance.",
    "Our comprehensive suite is designed to empower government entities in areas of project management, citizen engagement, and transparency. We aim to elevate the standards of public administration, bringing a new level of service to communities and citizens."
  ],
  secondaryTitle: "Revolutionizing Citizen Interaction",
  secondaryParagraph: "Empress believes in a government that is efficient, responsive, and transparent. Our tools are crafted to transform how government services interact with and serve the public. We strive to modernize government operations, ensuring services meet the evolving needs of communities with effectiveness and clarity.",
  quote: "Empress: Bridging Governments and Communities for a Better Tomorrow.",
  callToAction: {
    text: "View Pricing",
    link: "/pricing"
  },
  image: "https://images.unsplash.com/photo-1469248620856-e8c981d98aff?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
};


// Display Image
const displayImage = {
  title: "Manage Public Services",
  subtitle: "Streamline Public Services,",
  subtitleCont: "Enhance Citizen Engagement.",
  imageSrc: "/images/dashboard.jpg"
};

const sectionTwo = {
  mainContent: {
    title: "Transform Public Service Delivery",
    subtitle: "Empowering Efficient Governance",
    paragraphs: [
      "Empress offers a revolutionary approach to modernizing government services, aligning technology with the mission of serving the public effectively.",
      "From optimizing administrative tasks to enhancing citizen engagement, our solutions are crafted to meet the unique challenges faced by government agencies."
    ],
    linkText: "Discover Empress",
    linkHref: "/os"
  },
  listItems: [
    {
      title: "Digitalize Government Services",
      description: "Create accessible, user-friendly online platforms to connect with citizens, providing essential services and information efficiently.",
      linkHref: "/build",
      linkTitle: "Build with Empress"
    },
    {
      title: "Optimize Administrative Workflows",
      description: "Deploy Empress to streamline government operations, reducing bureaucracy and improving service delivery to the public.",
      linkHref: "/manage",
      linkTitle: "Manage with Empress"
    },
    {
      title: "Revolutionize Citizen Engagement",
      description: "Utilize our digital suite to facilitate dynamic interaction with citizens, enhancing transparency and public participation in governance.",
      linkHref: "/experience",
      linkTitle: "Experience with Empress"
    },
    {
      title: "Strategize for Public Sector Growth",
      description: "Implement strategic growth initiatives within government sectors, leveraging data-driven insights for policy development and community outreach.",
      linkHref: "/sell",
      linkTitle: "Sell with Empress"
    },
    {
      title: "Financial Stewardship in Governance",
      description: "Empower financial governance with robust tools for budget management, fiscal transparency, and responsible resource allocation.",
      linkHref: "/finance",
      linkTitle: "Finance with Empress"
    },
    {
      title: "Develop Government Talent",
      description: "Cultivate a skilled public sector workforce with our talent management system, aligning government employees with organizational goals and public service ethos.",
      linkHref: "/talent",
      linkTitle: "Talent with Empress"
    },
    {
      title: "Facilitate Interdepartmental Communication",
      description: "Enhance communication channels within government agencies, promoting collaboration and unified efforts towards public service goals.",
      linkHref: "/connect",
      linkTitle: "Connect with Empress"
    },
    {
      title: "Collaborate on Public Projects",
      description: "Strengthen collaboration on governmental initiatives, ensuring that projects are cohesive, transparent, and aligned with public interests.",
      linkHref: "/share",
      linkTitle: "Share with Empress"
    },
    {
      title: "Centralize Governmental Information",
      description: "Efficiently manage and centralize crucial governmental data, ensuring secure and swift access for informed decision-making and policy implementation.",
      linkHref: "/document",
      linkTitle: "Document with Empress"
    },
    {
      title: "Advance Public Service Education",
      description: "Invest in continuous learning and development for government personnel, enhancing their capabilities to serve the community better.",
      linkHref: "/learn",
      linkTitle: "Learn with Empress"
    },
  ]
};

// FeatureOne
const featureOne = {
  mainContent: {
    title: "Digital Transformation",
    img: "/images/solutions/government/1.svg",
    subtitle: "Revolutionize Public Administration",
    paragraphs: [
      "Empress redefines government technology, merging efficiency with innovation, empowering departments to deliver impactful results."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Integrated Administrative Tools",
    "Streamlined Public Processes",
    "Adaptive Government Solutions"
  ]
};

// FeatureTwo 
const featureTwo = {
  mainContent: {
    title: "Automated Operations",
    img: "/images/solutions/government/3.svg",
    subtitle: "Streamline Government Process",
    paragraphs: [
      "Empress revolutionizes government administration by automating key tasks, enhancing operational efficiency, and simplifying bureaucratic processes."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Efficient Task Management",
    "Seamless Process Integration",
    "Reduced Manual Workload"
  ]
};


// FeatureThree
const featureThree = {
  mainContent: {
    title: "Enforce Data Privacy",
    img: "/images/solutions/government/4.svg",
    subtitle: "Secure Your Information",
    paragraphs: [
      "Empress prioritizes the security and integrity of government operations, ensuring the safeguarding of public data and systems."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Advanced Data Encryption",
    "Comprehensive Security Measures",
    "Regulatory Compliance Assurance"
  ]
};


// Use Features

const featureDetails = [
  {
    header: {
      mainTitle: "Additional Features",
      subTitle: "Secure, Efficient Public Service",
      description: "Empress offers advanced management solutions, tailored to meet the unique security and efficiency needs of government sectors."
    },
    featureSections: [
      {
        title: "Public Records Security",
        description: "Empress ensures secure management of sensitive public records, facilitating data integrity and confidentiality in government operations.",
        listItems: [
          "Secured Public Access",
          "Protected Records Management",
          "Confidential Data Handling"
        ]
      },
      {
        title: "Financial Oversight Precision",
        description: "Empress provides robust protection and oversight for governmental financial data, ensuring transparency, accuracy, and regulatory compliance.",
        listItems: [
          "Financial Data Security",
          "Compliance in Reporting",
          "Transparent Financial Oversight"
        ]
      },
      {
        title: "Citizen Service Privacy",
        description: "Empress empowers government service teams with secure data tools, prioritizing citizen privacy and enhancing service efficiency.",
        listItems: [
          "Regulated Citizen Access",
          "Service Privacy Assurance",
          "Efficient Data Management"
        ]
      },
      {
        title: "HR Compliance Management",
        description: "Empress effectively manages sensitive HR data within government, ensuring compliance and safeguarding employee privacy.",
        listItems: [
          "Secure HR Information",
          "Compliant Data Management",
          "Private Employee Records"
        ]
      },
      {
        title: "Procurement Process Integrity",
        description: "Empress fortifies the security and efficiency of governmental procurement processes, promoting transparency and ethical practices.",
        listItems: [
          "Procurement Data Protection",
          "Transparent Vendor Relations",
          "Ethical Process Assurance"
        ]
      },
      {
        title: "Infrastructure Project Security",
        description: "Empress enhances the planning and execution of government infrastructure projects, ensuring secure data use and project confidentiality.",
        listItems: [
          "Secure Project Planning",
          "Protected Infrastructure Data",
          "Confidential Execution Oversight"
        ]
      }
    ]
  }
];


// Section Nine
const faqs = {
  title: "FAQs",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "How does Empress enhance governmental project management?",
      answer: "Empress provides advanced project management tools tailored for government sectors. Our platform enables efficient tracking of project progress, supports inter-departmental collaboration, and facilitates compliance with public sector regulations. This ensures that governmental projects are managed effectively, align with policy goals, and are delivered within scope and budget."
    },
    {
      question: "Can Empress integrate with existing governmental systems?",
      answer: "Absolutely. Empress is designed for seamless integration with a wide array of governmental systems, including public records databases, financial management systems, and operational tools. This integration capability streamlines workflows, ensures data consistency, and enhances overall operational efficiency in government departments."
    },
    {
      question: "Does Empress support data analytics for policy-making?",
      answer: "Yes, Empress offers robust data analytics capabilities that are crucial for informed policy-making in government. Our platform provides insightful analytics, predictive modeling, and data visualization tools that aid in understanding complex data sets, evaluating policy impacts, and making data-driven decisions."
    },
    {
      question: "What security features does Empress offer to government agencies?",
      answer: "Empress prioritizes security in all its solutions, offering features like advanced encryption, access control, and continuous security monitoring. These features ensure the protection of sensitive government data, compliance with regulatory standards, and safeguard against potential cyber threats, maintaining the integrity of government operations."
    },
    {
      question: "How can Empress assist in enhancing citizen services?",
      answer: "Empress helps government agencies enhance citizen services through integrated communication platforms, service management tools, and citizen feedback mechanisms. These tools enable agencies to provide more responsive, transparent, and efficient services, improving citizen engagement and satisfaction with public services."
    }
  ]
};




// Contact

const talkToYouSection = {
  title: "Connect With Us",
  description: "Explore how Empress can revolutionize agency operations. Engage with us to discover custom solutions that elevate efficiency and enhance service delivery.",
  callToAction: {
    text: "Discover Empress Agency Solutions",
    link: "/agency-solutions"
  },
  infoSections: [
    {
      title: "Tailored Agency Services by Empress",
      description: "Empress is dedicated to enhancing agency productivity, delivering bespoke tools and technologies crafted for optimized service delivery and effective management."
    },
    {
      title: "Empress's Role in Agency Innovation",
      description: "We empower agencies with state-of-the-art tools, fostering innovation, policy execution, and improved agency operations."
    },
    {
      title: "Empress's Strategy for Agency Advancement",
      description: "Our goal at Empress is to pioneer transformative technology, create robust public engagement frameworks, and enable data-driven decision-making, aligning our services with the dynamic requirements of agency functions."
    }
  ]
};

// Agency Advancement Section
const infrastructureSection = {
  title: "Empress: Pioneering the Future for Agencies",
  description: [
    "As a catalyst for agency technological advancement, Empress goes beyond providing technical solutions. We are committed to nurturing diversity and innovation within agency environments. Our strategy focuses on adaptable and meaningful interventions that address unique agency challenges. Our vision is to drive agency services forward with cutting-edge technology, cultivating a space where efficient management and agency objectives meet."
  ]
};

---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Government"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">{hero.heroSection.header}</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              {hero.heroSection.title}
            </h2>
            <p class="text-slate-500 mt-5">
              {hero.heroSection.description}
            </p>
          </div>
          <div class="mt-10">
              <div class="mt-10 flex">
                <a href={hero.heroSection.callToActionLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
                   style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
                   onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
                   onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
                   onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
                   onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
                   {hero.heroSection.callToActionText}
                </a>
                <a href={hero.heroSection.callToActionTwoLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
                   style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
                   onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
                   {hero.heroSection.callToActionTwoText}
                </a>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                      src={hero.imageGrid[0].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[0].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[0].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[0].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[1].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[2].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[1].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[1].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[1].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-indigo-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[2].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[3].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[2].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[2].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[2].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[3].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[4].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[3].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[3].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[3].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-green-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[4].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[4].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[4].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[4].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
      <div class="lg:w-1/2 lg:pr-12">
        <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
          <div>
            <div class="lg:pl-24 md:pl-12">
              <h2 class="inline-flex items-center text-blue-600">
                <span class="text-base font-medium tracking-tight">{sectionTwo.mainContent.title}</span>
              </h2>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {sectionTwo.mainContent.subtitle}
              </h2>
              {sectionTwo.mainContent.paragraphs.map(paragraph => (
                <p class="text-slate-500 mt-5">{paragraph}</p>
              ))}
              <p class="mt-5">
                <a href={sectionTwo.mainContent.linkHref} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                  {sectionTwo.mainContent.linkText}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2 lg:order-first">
        <div class="flex-shrink-0">
          <div>
            <ul role="list" class="grid grid-cols-1 gap-12 lg:gap-24 list-none mt-24">
              {sectionTwo.listItems.map(item => (
                <li>
                  <div>
                    <p class="text-purple-900 font-semibold tracking-tighter text-3xl">{item.title}</p>
                  </div>
                  <div class="mt-2 text-slate-500">{item.description}</div>
                  <p class="mt-5">
                    <a href={item.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                      {item.linkTitle}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
                    </a>
                  </p>
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Header -->

  <!-- <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{displayImage.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {displayImage.subtitle}
          <span class="lg:block">{displayImage.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={displayImage.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section> -->
  


  <!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureOne.mainContent.buttonText}
              </a>
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex justify-center items-center lg:mt-0 mt-0">
        <div class="w-full lg:w-[150%] flex-shrink-0">
          <img src={featureOne.mainContent.img} alt="Dashboard" class="w-full h-auto" />
        </div>
      </div>
    </div> 
    <!-- <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" />
        </div>
      </div>
    </div> -->
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex justify-center items-center lg:mt-0 mt-0">
        <div class="w-full lg:w-[125%] flex-shrink-0">
          <img src={featureTwo.mainContent.img} alt="Dashboard" class="w-full h-auto" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureTwo.mainContent.buttonText}
              </a>
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureThree.mainContent.buttonText}
              </a>
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex justify-center items-center lg:mt-0 mt-0">
        <div class="w-full lg:w-[140%] flex-shrink-0">
          <img src={featureThree.mainContent.img} alt="Dashboard" class="w-full h-auto" />
        </div>
      </div>
    </div> 
  </div>
</section>

  

<GetStarted/>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-16 items-center">
      {featureDetails.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))}
    </div>
  </section>
  

  <Ecosystem/>


  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
