---
import BaseLayout from "../layouts/BaseLayout.astro";

import JobsHome from "../components/jobs/JobsHome.astro";

import { AstroSeo } from "@astrolib/seo";



// Hero

export const hero = {
  heroSection: {
    header: 'Empress for Healthcare',
    title: 'Pioneering Healthcare Transformation',
    description: 'Empress revolutionizes healthcare operations by integrating advanced technology to optimize patient care and streamline administrative processes. ',
    caseStudyText: "Read case study",
    callToActionText: 'Get Started',
    callToActionLink: '/contact',
    callToActionTwoText: 'View Pricing',
    callToActionTwoLink: '/pricing',
  },
  imageGrid: [
    {
      imageUrl: "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco has Economy growth upswing market index funds capitalization corporate bonds mutual.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-pink-600",
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco Public rollover performance exchange traded funds junk bonds passively NASDAQ bills upswing retirement corporate market exposure.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-blue-600",
    },
    {
      imageUrl: "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco features advanced tools for market analysis and investment strategies.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-slate-600",
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco features advanced tools for market analysis and investment strategies.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-slate-600",
    },
    {
      imageUrl: "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco features advanced tools for market analysis and investment strategies.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-pink-600",
    }
  ],
};


  // Stats
  const statsInfo = {
  header: "Healthcare Transformation",
  mainTitle: "Elevating Healthcare Efficiency with Empress",
  subTitle: "Empress brings innovative solutions to the healthcare sector, enhancing every aspect of patient care and operational management with our analytical tools and intuitive technology.",
  statsData: [
      {
        value: "$70M",
      },
      {
        value: "3 months faster",
      },
      {
        value: "5%",
      },
      {
        value: "50 new countries",
      },
      {
        value: "600 Hours",
      },
      {
        value: "3 days less",
      },
      {
        value: "1 Million workers",
      },
      {
        value: "3 head quarters",
      }
    ]
  };


// Overview


const overview = {
  title: "Revolutionize Your Healthcare Operations",
  paragraphs: [
    "Empress leads the way in reinventing healthcare experiences, catering to clinics, hospitals, and healthcare systems. Our platform is tailored to meet diverse healthcare needs, ensuring streamlined operations and superior patient outcomes.",
    "We empower healthcare providers with tools for efficient patient management, medical record keeping, and enhanced patient engagement."
  ],
  secondaryTitle: "Patient-Centric Healthcare Solutions",
  secondaryParagraph: "In healthcare, patient welfare is paramount. Empress equips healthcare professionals with tools to understand and cater to patient needs, delivering personalized care that fosters trust and recovery.",
  quote: "Empress is not just a platform; it's a partner in healthcare excellence.",
  callToAction: {
    text: "Explore Healthcare Solutions",
    link: "/healthcare-solutions"
  },
  image: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
};

// Dark Background

const darkBackground = {
  sections: [
    {
      type: "feature",
      title: "Seamless Retail Integrations",
      mainTitle: "Unified Systems for Retail Excellence",
      descriptions: [
        "Empress seamlessly unites various retail tools, creating an integrated ecosystem that enhances operational efficiency and data coherence.",
        "From POS systems to inventory management, our integration capabilities ensure all your tools work in harmony."
      ],
      imagePaths: ["images of integrated retail systems"],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    {
      type: "featureSkewed",
      title: "Healthcare Workflow Optimization",
      mainTitle: "Where Efficiency Meets Patient Care",
      description: "Empress optimizes healthcare workflows, minimizing manual effort and improving patient care experiences.",
      points: [
        {
          title: "Comprehensive Healthcare Compatibility",
          description: "Our platform supports a vast range of healthcare tools, ensuring seamless operations within healthcare facilities."
        },
        {
          title: "Real-Time Healthcare Data Synchronization",
          description: "Empress provides accurate, real-time healthcare insights, crucial for informed patient care decisions."
        },
        {
          title: "Tailored Healthcare Integration",
          description: "Customize integrations to fit your specific healthcare needs, promoting growth and adaptability."
        }
      ],
      bgColor: "purple-900",
      textColor: "white",
      gridCols: "lg:grid-cols-3",
      transform: "skew-y-6",
      marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};


// Use Cases

const features = [
  {
    header: {
      mainTitle: "Empress in Healthcare",
      subTitle: "Revolutionizing Patient Care",
      description: "Empress offers cutting-edge solutions for enhanced healthcare efficiency, compliance, and patient engagement."
    },
    featureSections: [
      {
        title: "Patient Data Access Management",
        description: "Empress Control ensures secure, regulated access to patient records, enhancing collaborative care while maintaining data confidentiality.",
        listItems: [
          "Regulated patient record access",
          "Secure patient data management",
          "Collaborative care data sharing"
        ]
      },
      {
        title: "Protected Health Information Security",
        description: "Safeguard health data integrity with custom access permissions, ensuring security and confidentiality in patient care.",
        listItems: [
          "Regulated health data access",
          "Custom sensitive data settings",
          "Confidential patient care integrity"
        ]
      },
      {
        title: "Privacy-Centric Patient Service",
        description: "Empress Control prioritizes patient privacy in healthcare services, providing essential data access with robust security measures.",
        listItems: [
          "Controlled patient interaction access",
          "Confidential patient service records",
          "Privacy-focused patient services"
        ]
      },
      {
        title: "Healthcare HR Data Compliance",
        description: "Effectively manage healthcare HR data, aligning with compliance standards and ensuring employee information confidentiality.",
        listItems: [
          "Secure healthcare employee data",
          "Healthcare HR regulation compliance",
          "Confidential HR record management"
        ]
      },
      {
        title: "Financial Compliance and Data Security",
        description: "Strengthen financial data security in healthcare, upholding compliance in financial transactions and billing processes.",
        listItems: [
          "Secure healthcare financial management",
          "Compliant financial record access",
          "Protected financial transaction integrity"
        ]
      },
      {
        title: "Healthcare Supply Chain Integrity",
        description: "Optimize healthcare supply chain management with secure and regulated information access, ensuring both transparency and data security.",
        listItems: [
          "Regulated supply chain data access",
          "Secure supply chain data sharing",
          "Protected logistics and supplier management"
        ]
      }
    ]
  }
];




// Check Marks

const sectionData = {
  mainTitle: "Empress in Healthcare",
  mainSubTitle: "Revolutionizing Healthcare Management",
  description: "Empress equips the healthcare industry with innovative solutions for enhanced patient care, operational efficiency, and data management.",
  articles: [
    {
      title: "Healthcare Analytics",
      features: [
        "Deep healthcare insights",
        "Informed care decisions",
        "Healthcare trend analysis"
      ]
    },
    {
      title: "Streamlined Operations",
      features: [
        "Operational efficiency",
        "Automated processes",
        "Cost-effective care delivery"
      ]
    },
    {
      title: "Automated Healthcare Tasks",
      features: [
        "Routine task reduction",
        "Operational time savings",
        "Workflow enhancement"
      ]
    },
    {
      title: "AI-Enhanced Patient Support",
      features: [
        "AI-driven patient interaction",
        "24/7 patient care support",
        "Patient engagement"
      ]
    },
    {
      title: "Healthcare Trend Prediction",
      features: [
        "Healthcare needs forecasting",
        "Patient behavior prediction",
        "Proactive healthcare strategy"
      ]
    },
    {
      title: "Collaboration in Healthcare",
      features: [
        "Team coordination tools",
        "Interdepartmental collaboration",
        "Unified team efforts"
      ]
    },
    {
      title: "Healthcare Data Security",
      features: [
        "Strict patient data controls",
        "Patient data privacy assurance",
        "Secure information handling"
      ]
    },
    {
      title: "Integrated Healthcare Systems",
      features: [
        "Seamless tool integration",
        "Unified management",
        "System efficiency"
      ]
    }
  ]
};




// Section Nine

const faqs = {
  title: "Healthcare Management FAQs",
  subtitle: "Empowering Healthcare with Informed Solutions",
  questions: [
    {
      question: "How does Empress enhance patient data management?",
      answer: "Empress provides sophisticated patient data management systems, offering real-time updates and secure access to enhance patient care and streamline healthcare operations."
    },
    {
      question: "Can Empress integrate with existing healthcare systems?",
      answer: "Yes, Empress ensures seamless integration with various healthcare systems, facilitating efficient data exchange and management across different healthcare platforms."
    },
    {
      question: "Does Empress support electronic health records (EHR) management?",
      answer: "Absolutely. Empress is designed to effectively manage EHRs, allowing for detailed tracking of patient records and enhancing the efficiency of medical documentation."
    },
    {
      question: "What healthcare-specific features does Empress offer?",
      answer: "Empress caters to healthcare needs with features like patient record security, healthcare workflow optimization, and real-time health data analytics, ensuring comprehensive management of healthcare services."
    },
    {
      question: "How does Empress ensure compliance with healthcare regulations?",
      answer: "Empress's systems are built to comply with healthcare regulations, incorporating rigorous standards and security measures to ensure data privacy and adherence to healthcare laws."
    }
  ]
};


// Contact

const talkToYouSection = {
  title: "Connect With Us",
  description: "We're keen to discover how Empress can transform your healthcare operations. Let's discuss your needs and how our innovative solutions can contribute to your healthcare success.",
  callToAction: {
    text: "Explore Empress for Healthcare",
    link: "/healthcare-solutions"
  },
  infoSections: [
    {
      title: "Healthcare with Empress",
      description: "Empress is committed to advancing healthcare technology, creating environments where cutting-edge healthcare solutions flourish."
    },
    {
      title: "Empress's Impact in Healthcare",
      description: "Through our initiatives we're equipping them with the tools and knowledge for a tech-driven healthcare future."
    },
    {
      title: "Our Ethos in Healthcare",
      description: "At Empress, we prioritize patient-centered care, data-driven healthcare decisions, and continuous innovation in the healthcare industry."
    }
  ]
};

const infrastructureSection = {
  title: "Shaping the Future of Healthcare with Empress",
  description: [
    "Empress is a leader in building the essential infrastructure for the evolving healthcare landscape. Our commitment goes beyond technological innovation; we deeply value and promote diversity and inclusivity in healthcare. This approach allows us to offer more holistic, inclusive, and effective solutions for healthcare providers. Our mission is to propel the healthcare industry forward with state-of-the-art technology, fostering a space where diverse perspectives and ideas coalesce to create exceptional healthcare solutions."
  ]
};



---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">{hero.heroSection.header}</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              {hero.heroSection.title}
            </h2>
            <p class="text-slate-500 mt-5">
              {hero.heroSection.description}
            </p>
          </div>
          <div class="mt-10">
              <div class="mt-10 flex">
                <a href={hero.heroSection.callToActionLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
                   style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
                   onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
                   onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
                   onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
                   onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
                   {hero.heroSection.callToActionText}
                </a>
                <a href={hero.heroSection.callToActionTwoLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
                   style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
                   onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
                   {hero.heroSection.callToActionTwoText}
                </a>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                      src={hero.imageGrid[0].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[0].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[0].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[1].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[2].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[1].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[1].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-indigo-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[2].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[3].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[2].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[2].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[3].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[4].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[3].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[3].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-green-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[4].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[4].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[4].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

<!-- Stats Info -->

  
  <!-- <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{statsInfo.header}</span>
        </h2>
  
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {statsInfo.mainTitle}
        </h2>
        <div>
          <p class="text-slate-500 mt-6">
            {statsInfo.subTitle}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsInfo.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
                  {stat.value}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section> -->


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Dark Background -->



  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[0].title}</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {darkBackground.sections[0].mainTitle}
          <span class="lg:block">{darkBackground.sections[0].secondaryTitle}</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[0]}
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[1]}
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src={darkBackground.sections[0].imagePaths[0]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[1]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
            src={darkBackground.sections[0].imagePaths[2]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[3]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
            src={darkBackground.sections[0].imagePaths[4]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
            src={darkBackground.sections[0].imagePaths[5]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[6]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
        </h2>
        <h2
          class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
          {darkBackground.sections[1].mainTitle} <span class="lg:block"
            >{darkBackground.sections[1].secondaryTitle}</span
          >
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">
            {darkBackground.sections[1].description}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[0].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[0].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[1].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[1].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[2].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[2].description}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>



  <!-- Feature Details -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionData.description}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>




  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
