---
import Link from "../components/ui/link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import FeatureImg1 from "../../public/images/6.png";
import HeaderThree from "../components/headers/HeaderOne.astro";
import Badge from "../components/ui/badge.astro";
import { Icon } from "astro-icon";
import StatsOne from "../components/stats/StatsOne.astro";
import FeatureEight from "../components/features/FeatureEight.astro";
import FeatureNine from "../components/features/FeatureNine.astro";
import FeatureTen from "../components/features/FeatureTen.astro";

import TestimonialThree from "../components/testimonials/TestimonialThree.astro";
import PricingThree from "../components/pricing/PricingThree.astro";
import PricingThreeExtended from "../components/pricing/PricingThreeExtended.astro";
import FaqTwo from "../components/infopages/FaqTwo.astro";
import CtaTwo from "../components/cta/CtaTwo.astro";
import FeatureSix from "../components/features/FeatureSix.astro";
import AllFeatures from "../components/features/AllFeatures.astro";
import FeatureFour from "../components/features/FeatureFour.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import Ecosystem from "../components/features/Ecosystem.astro";
import { Code } from "astro/components";
import { Image, Picture } from "astro:assets";
import BusinessWebsite from "../../public/images/business-website.svg"
import heroImage from "../../public/images/hero-screenshot.png";
import Container from "../components/container.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

import { AstroSeo } from "@astrolib/seo";

const statsContent = {
  sectionTitle: "Introducing Business-as-a-Service",
  mainHeading: "A Fully Integrated Suite of Business Solutions",
  statsData: [
    {
      value: "Simple",
      description: "all-in-one business suite"
    },
    {
      value: "Efficient",
      description: "optimized for business growth"
    },
    {
      value: "Scalable",
      description: "available on-demand at scale"
    },
    {
      value: "Secure",
      description: "transparent and simple pricing"
    }
  ]
};

// Section Two

const sectionTwo = {
  mainContent: {
    title: "Modular Solutions",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
      "Our comprehensive platform is engineered to empower every aspect of your operations – from financial management to customer engagement, all through innovative technology."
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    {
      title: "Simplify Your Finances",
      description: "Transform financial management with advanced analytics and intuitive tools. Empress helps you make smarter decisions for sustainable growth.",
      linkHref: "/finance",
      linkTitle: "Discover Financial Tools"
    },
    {
      title: "Close More Deals",
      description: "Enhance customer relationships and streamline sales processes with Empress, boosting your deal-closing efficiency.",
      linkHref: "/sales",
      linkTitle: "Enhance Your Sales Strategy"
    },
    {
      title: "Streamline Your Production",
      description: "Accelerate product development with Empress’s tools. Drive efficient production, foster innovation, and achieve quicker market launches.",
      linkHref: "/product",
      linkTitle: "Optimize Production Processes"
    },
    {
      title: "Optimize Your Workflow",
      description: "Empress revolutionizes operations with automation and insights, driving cost efficiency and operational excellence.",
      linkHref: "/operations",
      linkTitle: "Revolutionize Your Operations"
    },
    {
      title: "Amplify Your Reach",
      description: "Expand your market presence with dynamic marketing strategies from Empress, engaging and converting your audience like never before.",
      linkHref: "/marketing",
      linkTitle: "Expand Market Reach"
    },
    {
      title: "Empower Your Workforce",
      description: "Build a winning team with Empress’s talent management. Attract, nurture, and retain top talent to drive innovation and productivity.",
      linkHref: "/talent",
      linkTitle: "Build Your Dream Team"
    },
    {
      title: "Elevate Your Services",
      description: "Set new standards in customer service with Empress. Create lasting relationships and a loyal customer base with our solutions.",
      linkHref: "/experience",
      linkTitle: "Elevate Customer Service"
    },
    {
      title: "Drive Sustainable Growth",
      description: "Lead the industry with Empress’s cutting-edge tools. Stay ahead in innovation, fueling sustainable growth.",
      linkHref: "/sustainability",
      linkTitle: "Lead in Sustainable Growth"
    }
  ]
};

// FeatureOne

const featureOne = {
  mainContent: {
    title: "One Solutions",
    img: "/images/dashboard.jpg",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    "Complete Toolkit for Every Business Need",
    "Streamlined Management in One Unified Platform",
    "Effortless Integration & Limitless Growth Potential",
  ]
};

// FeatureTwo

const featureTwo = {
  mainContent: {
    title: "Two Solutions",
    img: "/images/dashboard.jpg",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    "Complete Toolkit for Every Business Need",
    "Streamlined Management in One Unified Platform",
    "Effortless Integration & Limitless Growth Potential",
  ]
};

// FeatureThree

const featureThree = {
  mainContent: {
    title: "Three Solutions",
    img: "/images/dashboard.jpg",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    "Complete Toolkit for Every Business Need",
    "Streamlined Management in One Unified Platform",
    "Effortless Integration & Limitless Growth Potential",
  ]
};

const sectionThree = {
  header: {
    title: "Empower Your Business",
    mainTitle: "Simplicity Meets Sophistication",
    subTitle: ""
  },
  listItems: [
    {
      number: "1",
      title: "Unified Operations",
      description: "Integrate effortlessly with your ecosystem ensuring smooth, unified operations across your business tools."
    },
    {
      number: "2",
      title: "Tailored Analytics",
      description: "Visualize success with ease. Improve decision-making with key metrics at your fingertips."
    },
    {
      number: "3",
      title: "Intelligent Forecasting",
      description: "Harness the power of AI for predictive insights. Stay a step ahead in strategy with Empress's advanced analytics."
    },
    {
      number: "4",
      title: "Accessible Anywhere",
      description: "Operate without limits. Our cloud-based platform ensures secure, instant access to your operations, anytime, anywhere."
    },
  ],
  layoutSection: {
    mainTitle: "Effortless Efficiency",
    mainDescription: "Our solutions integrate effortlessly into your existing workflow, providing a seamless and intuitive experience. Access powerful tools right where you work, enhancing efficiency and enabling smarter business decisions.",
    subSections: [
      {
        title: "Intuitive and User-Friendly",
        items: ["Easy Integration with Existing Systems", "User-Centric Interface", "Adaptable to Your Workflow", "Secure and Reliable Access", "Efficient Task Management", "Flexible to Meet Business Demands"]
      },
      {
        title: "Always Available, Always Assisting",
        items: ["Access Anywhere, Anytime", "Consistent Performance and Reliability", "Dedicated Customer Support", "Continuous Improvements", "Compliance and Security Assurance", "Data-Driven Insights for Better Decisions"]
      }
  ],
    imageSrc: "/images/payments.png"
  }
};



// Section Four

const sectionFour = {
  header: {
    title: "Revolutionize Your Approach",
    mainTitle: "Business Made Beautiful",
    subTitle: "Empress seamlessly combines advanced AI-driven insights with user-friendly dashboards, simplifying complex business data into actionable intelligence."
  },
  columns: [
    {
      title: "Intelligent Business Analytics",
      listItems: [
        "Real-time decision support with AI assistance",
        "Market trend forecasting using predictive analytics",
        "In-depth understanding of customer behaviors and trends"
      ]
    },
    {
      title: "Sophisticated, User-Centric Dashboards",
      listItems: [
        "Intuitive dashboards for a clear business snapshot",
        "Custom interfaces tailored to your business needs",
        "Unified data view for comprehensive business management"
      ]
    }
  ],
  imageSrc: "/images/chart.jpg"
};

// Section Five

const darkBackground = {
  sections: [
    {
      type: "feature",
      title: "200+ Integrations",
      mainTitle: "Seamless Connectivity, Simplified",
      secondaryTitle: "",
      descriptions: [
        "Empress integrates diverse business tools, providing a centralized platform for streamlined management. Our system effortlessly connects with popular applications, enhancing efficiency and decision making.",
        "From CRM to ERP, and from e-commerce to analytics – Empress's integration capabilities ensure all your tools work in harmony, enabling a more unified and productive business environment."
      ],
      imagePaths: [
        "/images/creditcardTwo.png",
        "/images/balance.png",
        "/images/notification.png",
        "/images/miniNotification.png",
        "/images/payments.png",
        "/images/payments.png",
        "/images/creditcardTwo.png"
      ],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    {
      type: "featureSkewed",
  title: "Global Operations",
  mainTitle: "Seamless Operations on a Global Scale",
  secondaryTitle: "",
  description: "Empress orchestrates your business's global operations with unmatched efficiency. Our solutions bring together your processes, enhancing performance with precision and ease.",
  points: [
  {
  title: "Universal Compatibility",
  description: "Empress ensures a cohesive business environment, seamlessly connecting everything from inventory management to customer engagement."
},
{
  title: "Real-Time Data Insights",
  description: "Empress provides immediate data alignment, offering reliable and up-to-the-minute business intelligence for informed decision-making."
},
{
  title: "Adaptive Integration",
  description: "Customize Empress to match your evolving enterprise, effortlessly scaling to support your ambitions and changing needs."
},
{
  title: "Effortless Automation",
  description: "Empress streamlines operations by automating repetitive tasks, enhancing productivity, and freeing resources for strategic initiatives."
}

  ],
  bgColor: "purple-900",
  textColor: "white",
  gridCols: "lg:grid-cols-3",
  transform: "skew-y-6",
  marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};



;

// Section Six

const sectionSix = {
  mainSection: {
    title: "Empress in Action",
    subtitle: "Redefining the Art of Business",
    subtitleTwo: ""
  },
  businessSection: {
    title: "Flawless Functionality",
    description: "Empress transforms complex business processes into intuitive, elegant experiences. Our platform is not just about functionality; it's about bringing a new level of aesthetic and ease to your business operations.",
    listItems: [
      {
        title: "Intuitive User Interfaces",
        description: "Experience the simplicity and sophistication of Empress's user interfaces, designed to make complex tasks straightforward and visually appealing."
      },
      {
        title: "Adaptive Tool Integration",
        description: "Empress's platform adapts to your business stack, offering prebuilt integrations that ensure seamless operation across all your tools and systems."
      }
    ],
    additionalInfo: "From enhancing financial management with interactive dashboards to revolutionizing customer interactions with AI-driven insights, Empress ensures every aspect of your business is optimized for growth and efficiency."
  },
  tabImages: [
    "/images/ModalOne.png",
    "/images/ModalTwo.png"
  ],
  firstTab: "Interactive Dashboards",
  secondTab: "AI-Driven Insights",
  layoutsSection: {
    title: "Your Growth Canvas",
    description: "Empress is more than a platform; it's a canvas where your business needs meet innovation. Our layouts are crafted to provide not just functionality but also an inspiring environment for your team to work in.",
    howItWorks: {
      title: "Simplified Operations",
      description: "With Empress, operations become more streamlined. Our platform's ability to auto-fill and verify payment details across various sites ensures a frictionless transaction experience for your customers, enhancing satisfaction and loyalty."
    },
    seeLibrariesLink: "/libraries",
    seeLibrariesText: "Explore Our Interface Libraries",
    imageRightSrc: "/images/payments.png",
    imageRightAlt: "Application Showcase"
  }
};


const featuresHeading = {
  featureHeading: "Additional Features",
  featureTitle: "Do More With Empress",
};

const features = [
{
    "title": "Inights",
    "description": "Unlock Data Insights",
    "icon": "ph:chart-bar-duotone",
    "link": "/feature/insights",
    "color": "indigo"
  },
  {
    "title": "Flows",
    "description": "Optimize Your Workflow",
    "icon": "ph:flow-arrow-duotone",
    "link": "/feature/flows",
    "color": "indigo"
  },
  {
    "title": "Zaps",
    "description": "Automate Routine Tasks",
    "icon": "ph:lightning-duotone",
    "link": "/feature/zaps",
    "color": "indigo"
  },
  {
    "title": "Assistants",
    "description": "Expert AI Chat Support",
    "icon": "ph:robot-duotone",
    "link": "/feature/assistants",
    "color": "indigo"
  },
  {
    "title": "Forecast",
    "description": "Anticipate Future Trends",
    "icon": "ph:cloud-sun-duotone",
    "link": "/feature/forecast",
    "color": "indigo"
  },
  {
    "title": "Bridge",
    "description": "Connect With Collaborators",
    "icon": "ph:arrows-out-duotone",
    "link": "/feature/bridge",
    "color": "indigo"
  },
  {
    "title": "Administration",
    "description": "Control Access & Visibility",
    "icon": "ph:address-book-duotone",
    "link": "/feature/administration",
    "color": "indigo"
  },
  {
    "title": "Innovation",
    "description": "Customize Your Experience",
    "icon": "ph:circles-three-plus-duotone",
    "link": "/feature/innovation",
    "color": "indigo"
  },
  {
    "title": "Integrations",
    "description": "Seamless Tool Integration",
    "icon": "ph:plugs-connected-duotone",
    "link": "/feature/integrations",
    "color": "indigo"
  },
];


// Section Nine

const sectionNine = {
  title: "Industry Solutions",
  mainTitle: "Empowering Diverse Industries",
  backgroundImage: "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80",
  testimonialText: "Empress is engineered to adapt and thrive across various industries. Whether you’re in tech, retail, finance, healthcare, or any other sector, our platform offers tailored solutions designed to meet your unique business challenges and drive growth. Discover how Empress can transform your industry with innovative, efficient, and scalable solutions.",
  author: "Explore Our Industry Solutions",
  industryLinkHref: "/industry-solutions",
  logo: {
    svgContent: "SVG content here...",
    width: "143",
    height: "48"
  }
};


// Section Nine

const faq = {
  title: "FAQ",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "Can Empress integrate with my existing business tools?",
      answer: "Yes, Empress seamlessly integrates with a variety of business tools, ensuring smooth interoperability and data synchronization across your entire business ecosystem."
    },
    {
      question: "How user-friendly is Empress for non-technical staff?",
      answer: "Empress is designed with simplicity in mind. Our intuitive interfaces and dashboards make it easy for all users, regardless of their technical background, to navigate and utilize the platform effectively."
    },
    {
      question: "What kind of support does Empress provide for new users?",
      answer: "We offer comprehensive support including Empress Academy for tutorials and best practices, a dedicated Help Center for guidance, and responsive customer support for any immediate queries."
    },
    {
      question: "Does Empress offer features for automating business processes?",
      answer: "Absolutely! Empress features, like Empress Zaps, allow you to automate routine tasks, saving time and increasing efficiency within your operations."
    },
    {
      question: "How does Empress ensure the security and privacy of our data?",
      answer: "Empress prioritizes data security with robust protocols such as encryption and secure cloud storage, ensuring your business data is always protected from unauthorized access."
    }
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="empress.eco"
  description="The Platform for Business Growth"
  canonical="https://www.empress.eco"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "empress.eco",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <!-- Section One -->

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">                   
        </div>
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">Welcome to Empress</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              All-In-One Business Suite
            </h2>
            <p class="text-slate-500 mt-5">
              Elevate your business with cutting-edge operation solutions for unprecedented growth and efficiency.
            </p>
          </div>
          <div class="mt-10 flex">
            <a href="/pricing" 
               class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
               style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
               onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
               onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
               onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
               onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
              View Pricing
            </a>
            <a href="/contact" 
               class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
               style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
               onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
              Contact Sales
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44 osm:opacity-0 lg:opacity-100">
                  <img
                    src="/images/appScreen1.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen7.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen2.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen6.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen3.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen6.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen3.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    
  <!-- Section 2 -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{statsContent.sectionTitle}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {statsContent.mainHeading}
      </h2>
    </div>
    <div class="mx-auto text-left mt-12">
      <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
        {statsContent.statsData.map((stat) => (
          <div key={stat.value}>
            <p class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
              {stat.value}
            </p>
            <p class="text-slate-500 mt-6 border-blue-500">
              {stat.description}
            </p>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureTwo.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureThree.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Dark Background -->

<section class="bg-purple-900 transform skew-y-6 mt-20">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
    <div>
      <h2 class="inline-flex items-center text-white">
        <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
      </h2>
      <h2
        class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
        {darkBackground.sections[1].mainTitle}
      </h2>
    </div>
    <div class="mx-auto text-left mt-12">
      <div
          class="text-sm gap-x-2 gap-y-14 lg:gap-16 grid grid-cols-1 lg:grid-cols-3">
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center">
                <div
                class="flex items-center justify-center text-blue-400 rounded-full">
                </div>
                <p class="text-xl font-semibold text-white">
                  
                  {darkBackground.sections[1].points[0].title}
                </p>
              </div>
              <p class="text-base text-slate-400">
                {darkBackground.sections[1].points[0].description}
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center">
                <div
                  class="flex items-center justify-center text-blue-400 rounded-full">
                </div>
                <p class="text-xl font-semibold text-white">{darkBackground.sections[1].points[1].title}</p>
              </div>
              <p class="text-base text-slate-400">
                {darkBackground.sections[1].points[1].description}
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center">
                <div
                  class="flex items-center justify-center text-blue-400 rounded-full">
                </div>
                <p class="text-xl font-semibold text-white">{darkBackground.sections[1].points[2].title}</p>
              </div>
              <p class="text-base text-slate-400">
                {darkBackground.sections[1].points[2].description}
              </p>
            </div>
          </article>
        </div>
    </div>
  </div>
</section>

<!-- Section Two -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{sectionTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {sectionTwo.mainContent.subtitle}
            </h2>
            {sectionTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
            <p class="mt-5">
              <a href={sectionTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {sectionTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <div>
          <ul role="list" class="grid grid-cols-1 gap-12 lg:gap-24 list-none mt-24">
            {sectionTwo.listItems.map(item => (
              <li>
                <div>
                  <p class="text-purple-900 font-semibold tracking-tighter text-3xl">{item.title}</p>
                </div>
                <div class="mt-2 text-slate-500">{item.description}</div>
                <p class="mt-5">
                  <a href={item.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                    {item.linkTitle}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
                  </a>
                </p>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<section>


  <!-- Features -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{featuresHeading.featureHeading}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {featuresHeading.featureTitle}
        </h2>
      </div>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
        {
          features.map((item) => (
            <a href={item.link} 
               class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
              <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                  {/* Use the original icon coloring method */}
                  <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                </div>
                <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                  <h3 class="font-semibold text-md">{item.title}</h3>
                  <p class="text-slate-500">{item.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div> 
    </div>
  </section>




<!-- Section Seven   -->

<section></section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">Testimonial</span>
      </h2>
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        Find Solutions for Your Industry
      </h2>
    </div>
    <div
      x-data="{
        skip: 1,
        atBeginning: false,
        atEnd: false,
        next() {
            this.to((current, offset) => current + (offset * this.skip))
        },
        prev() {
            this.to((current, offset) => current - (offset * this.skip))
        },
        to(strategy) {
            let slider = this.$refs.slider
            let current = slider.scrollLeft
            let offset = slider.firstElementChild.getBoundingClientRect().width
            slider.scrollTo({ left: strategy(current, offset), behavior: 'smooth' })
        },
        focusableWhenVisible: {
            'x-intersect:enter'() {
                this.$el.removeAttribute('tabindex')
            },
            'x-intersect:leave'() {
                this.$el.setAttribute('tabindex', '-1')
            },
        },
        disableNextAndPreviousButtons: {
            'x-intersect:enter.threshold.05'() {
                let slideEls = this.$el.parentElement.children
                // If this is the first slide.
                if (slideEls[0] === this.$el) {
                    this.atBeginning = true
                // If this is the last slide.
                } else if (slideEls[slideEls.length-1] === this.$el) {
                    this.atEnd = true
                }
            },
            'x-intersect:leave.threshold.05'() {
                let slideEls = this.$el.parentElement.children
                // If this is the first slide.
                if (slideEls[0] === this.$el) {
                    this.atBeginning = false
                // If this is the last slide.
                } else if (slideEls[slideEls.length-1] === this.$el) {
                    this.atEnd = false
                }
            },
        },
    }"
      class="flex w-full flex-col">
      <div
        x-on:keydown.right="next"
        x-on:keydown.left="prev"
        tabindex="0"
        role="region"
        aria-labelledby="carousel-label"
        class="flex flex-col mt-12 w-full">
        <h2 id="carousel-label" class="sr-only" hidden>Carousel</h2>
        <span id="carousel-content-label" class="sr-only" hidden>Carousel</span>
        <!-- Buttons -->
        <div class="grid grid-cols-1 lg:grid-cols-4 mb-4">
          <div
            class="inline-flex items-center space-x-2 order-last mb-4 lg:col-start-4 lg:ml-auto lg:px-2">
            <button
              x-on:click="prev"
              class="hover:bg-white focus:border-blue-500 border text-purple-900 rounded-xl inline-flex items-center text-center hover:text-slate-500 py-2 px-4"
              :aria-disabled="atBeginning"
              :tabindex="atEnd ? -1 : 0"
              :class="{ 'opacity-50 cursor-not-allowed': atBeginning }">
              <span aria-hidden="true">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                </svg>
              </span>
              <span class="sr-only">Skip to previous slide page</span>
            </button>
            <button
              x-on:click="next"
              class="hover:bg-white focus:border-blue-500 border text-purple-900 rounded-xl inline-flex items-center text-center hover:text-slate-500 py-2 px-4"
              :aria-disabled="atEnd"
              :tabindex="atEnd ? -1 : 0"
              :class="{ 'opacity-50 cursor-not-allowed': atEnd }">
              <span aria-hidden="true">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  class="w-4 h-4">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                </svg>
              </span>
              <span class="sr-only">Skip to next slide page</span>
            </button>
          </div>
        </div>
        <ul
          x-ref="slider"
          tabindex="0"
          role="listbox"
          aria-labelledby="carousel-content-label"
          class="flex w-full snap-x snap-mandatory overflow-x-scroll scrollbar-hide pb-24 gap-12">
          <li
            x-bind="disableNextAndPreviousButtons"
            class="flex w-full shrink-0 snap-start flex-col items-center justify-center"
            role="option">
            <figure>
              <div
                class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3">
                <div class="bg-slate-50 p-4 rounded-2xl">
                  <ul
                    role="list"
                    class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                    <li>
                      <div>
                        <p
                          class="font-semibold text-purple-900 text-lg lg:text-xl">
                          Weeks <span class="lg:block">to minutes</span>
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        Reduction in customer onboarding time
                      </div>
                    </li>
                    <li>
                      <div>
                        <p
                          class="font-semibold text-purple-900 text-lg lg:text-xl">
                          2-5x <span class="lg:block">faster</span>
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        Fast reconciliation with a single report
                      </div>
                    </li>
                    <li>
                      <div>
                        <p class="font-semibold text-purple-900 text-sm">
                          Products used
                        </p>
                      </div>
                      <div
                        class="mt-2 text-slate-500 text-sm inline-flex items-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                          </path>
                        </svg>
                        Deployments
                      </div>
                      <div
                        class="mt-2 text-slate-500 text-sm inline-flex items-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                          ></path>
                        </svg>
                        Analytics
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="relative lg:col-span-3">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative lg:col-span-1">
                      <span>
                        <img src="/images/integrations/notion.svg" alt="" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-24">
                        <p class="font-medium">
                          Spaziobianco Public rollover performance exchange
                          traded funds junk bonds passively NASDAQ bills upswing
                          retirement corporate market exposure.
                        </p>
                        <p class="mt-6">
                          <a
                            href=""
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            Read case study
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </figure>
          </li>
          <li
            x-bind="disableNextAndPreviousButtons"
            class="flex w-full shrink-0 snap-start flex-col items-center justify-center"
            role="option">
            <figure>
              <div
                class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3">
                <div class="bg-slate-50 p-4 rounded-2xl">
                  <ul
                    role="list"
                    class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                    <li>
                      <div>
                        <p
                          class="font-semibold text-blue-500-500 text-lg lg:text-xl">
                          1
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        Processor for all credit card payments
                      </div>
                    </li>
                    <li>
                      <div>
                        <p
                          class="font-semibold text-purple-900 text-lg lg:text-xl">
                          $2 million
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        Additional revenue from Card Account Updater
                      </div>
                    </li>
                    <li>
                      <div>
                        <p class="font-semibold text-purple-900 text-sm">
                          Products used
                        </p>
                      </div>
                      <div
                        class="mt-2 text-slate-500 text-sm inline-flex items-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                          </path>
                        </svg>
                        Deployments
                      </div>
                      <div
                        class="mt-2 text-slate-500 text-sm inline-flex items-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                          ></path>
                        </svg>
                        Analytics
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="relative lg:col-span-3">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative lg:col-span-1">
                      <span>
                        <img src="/images/integrations/zapier.svg" alt="" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-24">
                        <p class="font-medium">
                          Spaziobianco has Economy growth upswing market index
                          funds capitalization corporate bonds mutual.
                        </p>
                        <p class="mt-6">
                          <a
                            href=""
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            Read case study
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </figure>
          </li>
          <li
            x-bind="disableNextAndPreviousButtons"
            class="flex w-full shrink-0 snap-start flex-col items-center justify-center"
            role="option">
            <figure>
              <div
                class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3">
                <div class="bg-slate-50 p-4 rounded-2xl">
                  <ul
                    role="list"
                    class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                    <li>
                      <div>
                        <p
                          class="font-semibold text-blue-500-500 text-lg lg:text-xl">
                          3,000x
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        growth in online payments volume in just 6 months
                      </div>
                    </li>
                    <li>
                      <div>
                        <p
                          class="font-semibold text-purple-900 text-lg lg:text-xl">
                          3 weeks
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        of development work to go live
                      </div>
                    </li>
                    <li>
                      <div>
                        <p class="font-semibold text-purple-900 text-sm">
                          Products used
                        </p>
                      </div>
                      <div
                        class="mt-2 text-slate-500 text-sm inline-flex items-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                          </path>
                        </svg>
                        Deployments
                      </div>
                      <div
                        class="mt-2 text-slate-500 text-sm inline-flex items-center">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-4 h-4 mr-3">
                          <path
                            class="stroke-purple-500"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M20.893 13.393l-1.135-1.135a2.252 2.252 0 01-.421-.585l-1.08-2.16a.414.414 0 00-.663-.107.827.827 0 01-.812.21l-1.273-.363a.89.89 0 00-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 01-1.81 1.025 1.055 1.055 0 01-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 01-1.383-2.46l.007-.042a2.25 2.25 0 01.29-.787l.09-.15a2.25 2.25 0 012.37-1.048l1.178.236a1.125 1.125 0 001.302-.795l.208-.73a1.125 1.125 0 00-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 01-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 01-1.458-1.137l1.411-2.353a2.25 2.25 0 00.286-.76m11.928 9.869A9 9 0 008.965 3.525m11.928 9.868A9 9 0 118.965 3.525"
                          ></path>
                        </svg>
                        Analytics
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="relative lg:col-span-3">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src="https://images.unsplash.com/photo-1556157382-97eda2d62296?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80"
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative lg:col-span-1">
                      <span>
                        <img src="/images/integrations/spotify.svg" alt="" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-24">
                        <p class="font-medium">
                          Spaziobianco has Economy growth upswing market index
                          funds capitalization corporate bonds mutual.
                        </p>
                        <p class="mt-6">
                          <a
                            href=""
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            Read case study
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<Ecosystem/>  


<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{faq.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {faq.subtitle}
      </h2>
      <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
        {faq.questions.map((faq, index) => (
          <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
            <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
              <span class="font-semibold text-purple-900">{faq.question}</span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500">{faq.answer}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

  
  <CtaTwo />
</BaseLayout>
