---
import Link from "../components/ui/link.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import FeatureImg1 from "../../public/images/6.png";
import HeaderThree from "../components/headers/HeaderOne.astro";
import Badge from "../components/ui/badge.astro";
import { Icon } from "astro-icon";
import StatsOne from "../components/stats/StatsOne.astro";
import FeatureEight from "../components/features/FeatureEight.astro";
import FeatureNine from "../components/features/FeatureNine.astro";
import FeatureTen from "../components/features/FeatureTen.astro";

import GetStarted from "../components/features/GetStarted.astro";
import TestimonialThree from "../components/testimonials/TestimonialThree.astro";
import PricingThree from "../components/pricing/PricingThree.astro";
import PricingThreeExtended from "../components/pricing/PricingThreeExtended.astro";
import FaqTwo from "../components/infopages/FaqTwo.astro";
import CtaTwo from "../components/cta/CtaTwo.astro";
import FeatureSix from "../components/features/FeatureSix.astro";
import AllFeatures from "../components/features/AllFeatures.astro";
import FeatureFour from "../components/features/FeatureFour.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import Ecosystem from "../components/features/Ecosystem.astro";
import { Code } from "astro/components";
import { Image, Picture } from "astro:assets";
import BusinessWebsite from "../../public/images/business-website.svg"
import heroImage from "../../public/images/hero-screenshot.png";
import Container from "../components/container.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";

import { AstroSeo } from "@astrolib/seo";

const statsContent = {
  sectionTitle: "Introducing Business-as-a-Service",
  mainHeading: "A Fully Integrated Suite of Business Solutions",
  statsData: [
    {
      value: "Simple",
      description: "all-in-one business suite"
    },
    {
      value: "Efficient",
      description: "optimized for business growth"
    },
    {
      value: "Scalable",
      description: "available on-demand at scale"
    },
    {
      value: "Secure",
      description: "transparent and simple pricing"
    }
  ]
};


// FeatureOne

const featureOne = {
  mainContent: {
    title: "Optimize Your Growth",
    img: "/images/mail-marketing.svg",
    subtitle: "Manage Everything In One Place",
    paragraphs: [
      "Elevate your company's performance with our business apps and all-in-one tool suite, ensuring operational excellence streamlined business growth."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Dynamic Solutions for Every Growth Phase",
    "Customize and Expand with Agile Ease",
    "Stay Ahead with Adaptive Business Tools"
  ]
};


// FeatureTwo

const featureTwo = {
  mainContent: {
    title: "Scale Your Business",
    img: "/images/city-architecture.svg",
    subtitle: "Revolutionize Your Business Operations",
    paragraphs: [
      "Unify your business solutions with Empress. Streamline your operations with our platform, tailored to harmonize every department and function."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Harmonize All Business Functions Effortlessly",
    "Experience Unmatched Operational Efficiency",
    "Unlock New Possibilities in Business Management"
  ]
};



// FeatureThree

const featureThree = {
  mainContent: {
    title: "Get More Insights",
    img: "/images/data-management-automation.svg",
    subtitle: "Drive Performance with Smarter Data",
    paragraphs: [
      "Simplify your complex data into clear, actionable intelligence, empowering you to tackle business challenges with strategy and confidence."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Innovative Analytics for Valuable Insights",
    "Refine Your Data-Driven Decision-Making",
    "Turn Insights into Actionable Strategies"
  ]
};


// Section Two

const sectionTwo = {
  mainContent: {
    title: "Modular Solutions",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
      "Our comprehensive platform is engineered to empower every aspect of your operations – from financial management to customer engagement, all through innovative technology."
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    {
      title: "Simplify Your Finances",
      description: "Transform financial management with advanced analytics and intuitive tools. Empress helps you make smarter decisions for sustainable growth.",
      linkHref: "/finance",
      linkTitle: "Discover Financial Tools"
    },
    {
      title: "Close More Deals",
      description: "Enhance customer relationships and streamline sales processes with Empress, boosting your deal-closing efficiency.",
      linkHref: "/sales",
      linkTitle: "Enhance Your Sales Strategy"
    },
    {
      title: "Streamline Your Production",
      description: "Accelerate product development with Empress’s tools. Drive efficient production, foster innovation, and achieve quicker market launches.",
      linkHref: "/product",
      linkTitle: "Optimize Production Processes"
    },
    {
      title: "Optimize Your Workflow",
      description: "Empress revolutionizes operations with automation and insights, driving cost efficiency and operational excellence.",
      linkHref: "/operations",
      linkTitle: "Revolutionize Your Operations"
    },
    {
      title: "Amplify Your Reach",
      description: "Expand your market presence with dynamic marketing strategies from Empress, engaging and converting your audience like never before.",
      linkHref: "/marketing",
      linkTitle: "Expand Market Reach"
    },
    {
      title: "Empower Your Workforce",
      description: "Build a winning team with Empress’s talent management. Attract, nurture, and retain top talent to drive innovation and productivity.",
      linkHref: "/talent",
      linkTitle: "Build Your Dream Team"
    },
    {
      title: "Elevate Your Services",
      description: "Set new standards in customer service with Empress. Create lasting relationships and a loyal customer base with our solutions.",
      linkHref: "/experience",
      linkTitle: "Elevate Customer Service"
    },
    {
      title: "Foster Team Collaboration",
      description: "Empress’s collaboration tools bridge gaps, enabling seamless communication and project management for sustainable business growth.",
      linkHref: "/collaboration",
      linkTitle: "Enhance Teamwork and Collaboration"
    }
  ]
};

const featuresHeading = {
  featureHeading: "Additional Features",
  featureTitle: "Modernize Your Business with Empress",
};

const features = [
  {
    "title": "Analysis",
    "description": "Insightful Data Analysis",
    "icon": "ph:chart-bar-duotone",
    "link": "/feature/insights",
    "color": "indigo"
  },
  {
    "title": "Workflows",
    "description": "Efficient Workflow Design",
    "icon": "ph:flow-arrow-duotone",
    "link": "/feature/flows",
    "color": "indigo"
  },
  {
    "title": "Automations",
    "description": "Smart Task Automation",
    "icon": "ph:lightning-duotone",
    "link": "/feature/zaps",
    "color": "indigo"
  },
  {
    "title": "Views",
    "description": "Dynamic Data Views",
    "icon": "ph:eye",
    "link": "/feature/assistants",
    "color": "indigo"
  },
  {
    "title": "Administration",
    "description": "Streamlined Access Control",
    "icon": "ph:address-book-duotone",
    "link": "/feature/administration",
    "color": "indigo"
  },
  {
    "title": "Customization",
    "description": "Tailored User Experience",
    "icon": "ph:plugs-connected-duotone",
    "link": "/feature/integrations",
    "color": "indigo"
  },
  {
    "title": "Security",
    "description": "Enhanced Data Protection",
    "icon": "ph:shield-check-duotone",
    "link": "/feature/security",
    "color": "indigo"
  },
  {
    "title": "APIs & Webhooks",
    "description": "Seamless API Integration",
    "icon": "ph:circles-three-plus-duotone",
    "link": "/feature/api-webhooks",
    "color": "indigo"
  },
  {
    "title": "Scalability",
    "description": "Flexible System Growth",
    "icon": "ph:arrows-out-line-vertical-duotone",
    "link": "/feature/scalability",
    "color": "indigo"
  }
];



// Section Nine

const faq = {
  title: "FAQ",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "Can Empress integrate with my existing business tools?",
      answer: "Yes, Empress seamlessly integrates with a variety of business tools, ensuring smooth interoperability and data synchronization across your entire business ecosystem."
    },
    {
      question: "How user-friendly is Empress for non-technical staff?",
      answer: "Empress is designed with simplicity in mind. Our intuitive interfaces and dashboards make it easy for all users, regardless of their technical background, to navigate and utilize the platform effectively."
    },
    {
      question: "What kind of support does Empress provide for new users?",
      answer: "We offer comprehensive support including Empress Academy for tutorials and best practices, a dedicated Help Center for guidance, and responsive customer support for any immediate queries."
    },
    {
      question: "Does Empress offer features for automating business processes?",
      answer: "Absolutely! Empress features, like Empress Zaps, allow you to automate routine tasks, saving time and increasing efficiency within your operations."
    },
    {
      question: "How does Empress ensure the security and privacy of our data?",
      answer: "Empress prioritizes data security with robust protocols such as encryption and secure cloud storage, ensuring your business data is always protected from unauthorized access."
    }
  ]
};

---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="empress.eco"
  description="The Launchpad for Business Growth"
  canonical="https://www.empress.eco"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "empress.eco",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <!-- Section One -->

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">                   
        </div>
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">Welcome to Empress</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              All-In-One Business Suite
            </h2>
            <p class="text-slate-500 mt-5">
              Empress accelerates growth, optimizes operations, and increases revenue for businesses, from startups to enterprises, with dynamic, scalable applications.
            </p>
          </div>
          <div class="mt-10 flex">
            <a href="/pricing" 
               class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
               style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
               onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
               onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
               onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
               onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
              View Pricing
            </a>
            <a href="/contact" 
               class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
               style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
               onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
              Contact Sales
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44 osm:opacity-0 lg:opacity-100">
                  <img
                    src="/images/appScreen1.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen7.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen2.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen6.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen3.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen6.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen3.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    
  <!-- Section 2 -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{statsContent.sectionTitle}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {statsContent.mainHeading}
      </h2>
    </div>
    <div class="mx-auto text-left mt-12">
      <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
        {statsContent.statsData.map((stat) => (
          <div key={stat.value}>
            <p class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
              {stat.value}
            </p>
            <p class="text-slate-500 mt-6 border-blue-500">
              {stat.description}
            </p>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureOne.mainContent.buttonText}
              </a>
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureTwo.mainContent.img} alt="Dashboard" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureTwo.mainContent.buttonText}
              </a>
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureThree.mainContent.buttonText}
              </a>
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureThree.mainContent.img} alt="Dashboard" />
        </div>
      </div>
    </div>
  </div>
</section>


<GetStarted/>  

<!-- Section Two -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{sectionTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {sectionTwo.mainContent.subtitle}
            </h2>
            {sectionTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
            <p class="mt-5">
              <a href={sectionTwo.mainContent.linkHref} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {sectionTwo.mainContent.linkText}
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <div>
          <ul role="list" class="grid grid-cols-1 gap-12 lg:gap-24 list-none mt-24">
            {sectionTwo.listItems.map(item => (
              <li>
                <div>
                  <p class="text-purple-900 font-semibold tracking-tighter text-3xl">{item.title}</p>
                </div>
                <div class="mt-2 text-slate-500">{item.description}</div>
                <p class="mt-5">
                  <a href={item.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                    {item.linkTitle}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
                  </a>
                </p>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section>


  <!-- Features -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{featuresHeading.featureHeading}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {featuresHeading.featureTitle}
        </h2>
      </div>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-6 md:gap-16">
        {
          features.map((item) => (
            <a href={item.link} 
               class={`focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-${item.color}-500 transition-transform hover:scale-105`}>
              <div class="flex items-center group hover:bg-slate-50 rounded-xl transition-all md:-m-5 p-5 border border-gray-200 shadow-sm">
                <div class={`bg-${item.color}-100 rounded-lg grid place-items-center p-2 w-12 h-12 shrink-0 mr-6`}>
                  {/* Use the original icon coloring method */}
                  <Icon class={`text-${item.color}-500`} name={item.icon} size="28" />
                </div>
                <div class="flex flex-col justify-center text-left" style="color: #1e293b;">
                  <h3 class="font-semibold text-md">{item.title}</h3>
                  <p class="text-slate-500">{item.description}</p>
                </div>
              </div>
            </a>
          ))
        }
      </div> 
    </div>
  </section>




<!-- Section Seven   -->


<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">Use Cases</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl mb-10"> <!-- Added margin-bottom (mb-8) -->
        Find Solutions for Your Industry
      </h2>
    </div>
              <div
                class="h-full group grid grid-cols-1 gap-3 lg:grid-cols-4 lg:gap-3">
                <div class="bg-slate-50 p-4 rounded-2xl">
                  <ul
                    role="list"
                    class="grid grid-cols-1 gap-4 list-none lg:pr-12">
                    <li>
                      <div>
                        <p
                          class="font-semibold text-purple-900 text-lg lg:text-xl">
                          Rapid Deployment,<span class="lg:block"> Immediate Results</span>
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        Improve operations and business processes.
                      </div>
                    </li>
                    <!-- <li>
                      <div>
                        <p
                          class="font-semibold text-purple-900 text-lg lg:text-xl">
                          Enhanced <span class="lg:block">Efficiency</span>
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        Maximize productivity with advanced integrations.
                      </div>
                    </li>
                    <li> -->
                      <div>
                        <!-- <p class="font-semibold text-purple-900 text-sm">
                          Popular Use Cases
                        </p> -->
                      </div>
                      <div
                      class="text-slate-500 text-sm inline-flex items-center mt-1">
                      <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-4 h-4 mr-3">
                      <path
                        class="#5046e4"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                      </path>
                    </svg>
                    <a href="/enterprise" style="color: #5046e4;">Enterprise</a>
                    </div>
                      <div
                      class="text-slate-500 text-sm inline-flex items-center">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-4 h-4 mr-3">
                        <path
                          class="#5046e4"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                        </path>
                      </svg>
                      <a href="/startups" style="color: #5046e4;">Startups</a>
                      </div>
                      <div
                        class=" text-slate-500 text-sm inline-flex items-center">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-4 h-4 mr-3">
                        <path
                          class="#5046e4"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                        </path>
                      </svg>
                      <a href="/agencies" style="color: #5046e4;">Agencies</a>
                      </div>
                      <div
                        class=" text-slate-500 text-sm inline-flex items-center">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-4 h-4 mr-3">
                        <path
                          class="#5046e4"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                        </path>
                      </svg>
                      <a href="/government" style="color: #5046e4;">Government</a>
                      </div>
                      <div
                      class=" text-slate-500 text-sm inline-flex items-center">
                      <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="w-4 h-4 mr-3">
                      <path
                        class="#5046e4"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z">
                      </path>
                    </svg>
                    <a href="/non-profits" style="color: #5046e4;">Non-Profits</a>
                    </div>
                      
                </div>
                <div class="relative lg:col-span-3">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:grid lg:grid-cols-2 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src="https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative lg:col-span-1">
                      <!-- <span>
                        <img src="/images/integrations/notion.svg" alt="" />
                      </span> -->
                      <blockquote class="mt-6 text-white lg:mt-24">
                        <p class="font-medium">
                          Explore Empress's real-world applications across diverse sectors on our blog, showcasing how our next-generation applications are redefining business efficiency.
                        </p>
                        <p class="mt-6">
                          <a
                            href="https://blog.empress.eco/"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            Read Our Blog
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </figure>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<Ecosystem/>  


<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{faq.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {faq.subtitle}
      </h2>
      <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
        {faq.questions.map((faq, index) => (
          <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
            <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
              <span class="font-semibold text-purple-900">{faq.question}</span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500">{faq.answer}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

  
  <CtaTwo />
</BaseLayout>
