---
import BaseLayout from "../layouts/BaseLayout.astro";

import HeaderThree from "../components/headers/HeaderOne.astro";
import StatsOne from "../components/stats/StatsOne.astro";
import FeatureEight from "../components/features/FeatureEight.astro";
import FeatureNine from "../components/features/FeatureNine.astro";
import FeatureTen from "../components/features/FeatureTen.astro";

import TestimonialThree from "../components/testimonials/TestimonialThree.astro";
import PricingThree from "../components/pricing/PricingThree.astro";
import PricingThreeExtended from "../components/pricing/PricingThreeExtended.astro";
import FaqTwo from "../components/infopages/FaqTwo.astro";
import CtaTwo from "../components/cta/CtaTwo.astro";
import FeatureSix from "../components/features/FeatureSix.astro";
import AllFeatures from "../components/features/AllFeatures.astro";
import FeatureFour from "../components/features/FeatureFour.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import { Code } from "astro/components";

import { AstroSeo } from "@astrolib/seo";


const statsContent = {
  sectionTitle: "Empress Impact",
  mainHeading: "A Fully Integrated Suite of Business Solutions",
  statsData: [
    {
      value: "$100M",
      description: "in business growth facilitated"
    },
    {
      value: "2x faster",
      description: "operational efficiency achieved"
    },
    {
      value: "10%",
      description: "increase in customer satisfaction"
    },
    {
      value: "3 days",
      description: "to onboard and integrate systems"
    }
  ]
};

// Section Two

const sectionTwo = {
  mainContent: {
    title: "Modular Solutions",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how startups like yours scale and succeed.",
      "Our comprehensive platform is engineered to empower every aspect of your business journey – from financial management to customer engagement, all through innovative technology."
    ],
    linkText: "See Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    {
      title: "Simplify Your Finances",
      description: "Unleash the power of advanced analytics and intuitive tools with Empress. Make smarter financial decisions, gain pivotal insights, and master your financial landscape for sustainable growth.",
      linkHref: "/finance",
      linkTitle: "Start with Finances"
    },
    {
      title: "Close More Deals",
      description: "Revolutionize your sales strategy with Empress. Harness innovative solutions to enhance customer relationships, streamline your sales process, and elevate your deal-closing efficiency.",
      linkHref: "/sales",
      linkTitle: "Start with Sales"
    },
    {
      title: "Streamline Your Production",
      description: "Fast-track your product development with Empress. Utilize our comprehensive tools for efficient production, collaborative innovation, and quicker market launches, setting new industry standards.",
      linkHref: "/product",
      linkTitle: "Start with Product"
    },
    {
      title: "Optimize Your Workflow",
      description: "Transform your operations with Empress. Leverage process automation and analytical insights to streamline workflows, cut costs, and drive operational excellence across your business.",
      linkHref: "/operations",
      linkTitle: "Start with Operations"
    },
    {
      title: "Amplify Your Reach",
      description: "Expand your market footprint with Empress's dynamic marketing strategies. Engage your audience like never before, boost brand visibility, and create impactful campaigns that captivate and convert.",
      linkHref: "/marketing",
      linkTitle: "Start with Marketing"
    },
    {
      title: "Empower Your Workforce",
      description: "Cultivate a winning team with Empress’s all-encompassing talent management. Attract, nurture, and retain the best in the business, fostering a culture that drives innovation and productivity.",
      linkHref: "/talent",
      linkTitle: "Start with Talent"
    },
    {
      title: "Elevate Your Services",
      description: "Redefine customer service excellence with Empress. Deliver unparalleled experiences, forge lasting relationships, and build a loyal customer base through our service solutions.",
      linkHref: "/experience",
      linkTitle: "Start with Experience"
    },
    {
      title: "Drive Sustainable Growth",
      description: "Lead your industry with Empress. Stay ahead with our cutting-edge tools and expertise, fueling your growth and ensuring your business is always at the edge of innovation.",
      linkHref: "/sustainability",
      linkTitle: "Start with Sustainability"
    },
    
  ]
};

const sectionThree = {
  header: {
    title: "Empower Your Business",
    mainTitle: "Simplicity Meets Sophistication",
    subTitle: ""
  },
  listItems: [
    {
      number: "1",
      title: "Effortless Connectivity",
      description: "Seamlessly integrate with your existing ecosystem. Empress's platform syncs with your business tools, ensuring a unified and efficient workflow."
    },
    {
      number: "2",
      title: "Customizable Dashboards",
      description: "Get the big picture at a glance. Our dashboards are simple and accessible, helping you monitor and analyze key metrics for smarter decision-making."
    },
    {
      number: "3",
      title: "AI-Driven Insights",
      description: "Stay ahead with predictive analytics. Empress's AI tools analyze trends and customer behavior, giving you an edge with proactive strategies."
    },
    {
      number: "4",
      title: "Cloud-Based Accessibility",
      description: "Run your business from anywhere. Our cloud platform guarantees secure and immediate access to your data and tools, keeping you connected 24/7."
    },
  ],
  layoutSection: {
    mainTitle: "Effortless Efficiency",
    mainDescription: "Discover Empress’s innovative layouts, designed for optimal user experience. From interactive reporting to workflow automation, our platform adapts to your unique business processes, ensuring seamless operation and enhanced productivity.",
    subSections: [
      {
        title: "User-Centric Design",
        items: ["Adaptive Reporting Interfaces", "Automated Notifications", "Team Collaboration Features", "Efficient Workflow Management", "Robust Data Security", "Flexible System Scalability"]
      },
      {
        title: "Reliable Support & Upgrades",
        items: ["Around-the-Clock Support", "Continuous Software Updates", "Comprehensive Training Programs", "Advanced Security Measures", "Regulatory Compliance Assistance", "In-depth Performance Tracking"]
      }
    ],
    imageSrc: "/images/payments.png"
  }
};



// Section Four

const sectionFour = {
  header: {
    title: "Revolutionize Your Approach",
    mainTitle: "Business Made Beautiful",
    subTitle: "Empress redefines business management by blending sophisticated AI Assistants and predictive analytics with elegantly designed dashboards."
  },
  columns: [
    {
      title: "AI-Powered Business Intelligence",
      listItems: [
        "Advanced AI Assistants for real-time decision support",
        "Predictive analytics for forecasting market trends",
        "Intelligent insights into customer behavior and preferences"
      ]
    },
    {
      title: "Elegant, Insightful Dashboards",
      listItems: [
        "Visually stunning dashboards for instant overview",
        "Customizable interfaces to suit your unique business needs",
        "Seamless integration of data for holistic management"
      ]
    }
  ],
  imageSrc: "/images/chart.jpg"
};




// Section Five

const sectionFive = {
  sections: [
    {
      type: "feature",
      title: "200+ Integrations",
      mainTitle: "Seamless Connectivity, Simplified",
      secondaryTitle: "",
      descriptions: [
        "Empress integrates diverse business tools, providing a centralized platform for streamlined management. Our system effortlessly connects with popular applications, enhancing efficiency and data coherence.",
        "From CRM to ERP, and from e-commerce to analytics – Empress's integration capabilities ensure all your tools work in harmony, enabling a more unified and productive business environment."
      ],
      imagePaths: [
        "/images/creditcardTwo.png",
        "/images/balance.png",
        "/images/notification.png",
        "/images/miniNotification.png",
        "/images/payments.png",
        "/images/payments.png",
        "/images/creditcardTwo.png"
      ],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    {
      type: "featureSkewed",
      title: "Optimized Workflow",
      mainTitle: "Where Integration Meets Excellence",
      secondaryTitle: "",
      description: "Empress’s integrations not only connect systems but also optimize workflows. Experience the seamless synchronization of your operations, reducing manual efforts and errors.",
      points: [
        {
          title: "Comprehensive Compatibility",
          description: "Empress supports a wide range of integrations, ensuring compatibility with your existing tools, from accounting software to marketing platforms."
        },
        {
          title: "Data Synchronization",
          description: "Our platform synchronizes data across systems, providing accurate, real-time insights and a single source of truth for decision-making."
        },
        {
          title: "Customizable Integration",
          description: "Tailor Empress's integrations to fit your specific business needs, allowing for flexibility and scalability as your business grows and evolves."
        }
      ],
      bgColor: "purple-900",
      textColor: "white",
      gridCols: "lg:grid-cols-3",
      transform: "skew-y-6",
      marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};



;

// Section Six

const sectionSix = {
  mainSection: {
    title: "Empress in Action",
    subtitle: "Redefining the Art of Business",
    subtitleTwo: ""
  },
  businessSection: {
    title: "Flawless Functionality",
    description: "Empress transforms complex business processes into intuitive, elegant experiences. Our platform is not just about functionality; it's about bringing a new level of aesthetic and ease to your business operations.",
    listItems: [
      {
        title: "Intuitive User Interfaces",
        description: "Experience the simplicity and sophistication of Empress's user interfaces, designed to make complex tasks straightforward and visually appealing."
      },
      {
        title: "Adaptive Tool Integration",
        description: "Empress's platform adapts to your business stack, offering prebuilt integrations that ensure seamless operation across all your tools and systems."
      }
    ],
    additionalInfo: "From enhancing financial management with interactive dashboards to revolutionizing customer interactions with AI-driven insights, Empress ensures every aspect of your business is optimized for growth and efficiency."
  },
  tabImages: [
    "/images/ModalOne.png",
    "/images/ModalTwo.png"
  ],
  firstTab: "Interactive Dashboards",
  secondTab: "AI-Driven Insights",
  layoutsSection: {
    title: "Your Growth Canvas",
    description: "Empress is more than a platform; it's a canvas where your business needs meet innovation. Our layouts are crafted to provide not just functionality but also an inspiring environment for your team to work in.",
    howItWorks: {
      title: "Simplified Operations",
      description: "With Empress, operations become more streamlined. Our platform's ability to auto-fill and verify payment details across various sites ensures a frictionless transaction experience for your customers, enhancing satisfaction and loyalty."
    },
    seeLibrariesLink: "/libraries",
    seeLibrariesText: "Explore Our Interface Libraries",
    imageRightSrc: "/images/payments.png",
    imageRightAlt: "Application Showcase"
  }
};


// Section Seven

const sectionSeven = {
  featureTitle: "Empower Developers",
  mainTitle: "Develop, Launch, and Innovate",
  mainSubtitle: "",
  description: "Empress provides developers with robust tools and APIs to create custom solutions. Our platform is tailored for seamless integration, empowering you to develop innovative applications with efficiency.",
  tabs: [
    {
      title: "Open Accounts",
      image: "/images/ModalOne.png",
      codeSnippet: `import EmpressAPI from 'empress-sdk';
import { UserAccount, Transaction } from 'empress-models';

const empress = new EmpressAPI({
  apiKey: 'YOUR_API_KEY'
});

export async function createAccount(userData) {
  try {
    const userAccount = new UserAccount(userData);
    await empress.accounts.create(userAccount);
    return 'Account created successfully';
  } catch (error) {
    console.error('Error creating account:', error);
  }
};`,
    },
    {
      title: "Create Cards",
      image: "/images/ModalTwo.png",
      codeSnippet: `import EmpressAPI from 'empress-sdk';
import { PaymentCard } from 'empress-models';

const empress = new EmpressAPI({
  apiKey: 'YOUR_API_KEY'
});

export async function createPaymentCard(cardData) {
  try {
    const paymentCard = new PaymentCard(cardData);
    await empress.cards.create(paymentCard);
    return 'Card created successfully';
  } catch (error) {
    console.error('Error creating card:', error);
  }
};`
    }
  ]
};


// Section Nine

const sectionNine = {
  title: "Industry Solutions",
  mainTitle: "Empowering Diverse Industries",
  backgroundImage: "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
  testimonialText: "Empress is engineered to adapt and thrive across various industries. Whether you’re in tech, retail, finance, healthcare, or any other sector, our platform offers tailored solutions designed to meet your unique business challenges and drive growth. Discover how Empress can transform your industry with innovative, efficient, and scalable solutions.",
  author: "Explore Our Industry Solutions",
  industryLinkHref: "/industry-solutions",
  logo: {
    svgContent: "SVG content here...",
    width: "143",
    height: "48"
  }
};

// Section Ten

const sectionTen = {
  sectionTitle: "Core Features",
  heading: "Customize Your Workspace",
  description: "Empress brings a suite of powerful features to revolutionize your business processes.",
  items: [
    {
      number: "1",
      title: "Unlock Data Insights",
      detail: "Empower decision-making with actionable data insights from Empress Analytics."
    },
    {
      number: "2",
      title: "Optimize Your Workflow",
      detail: "Enhance efficiency with Empress Workflow, streamlining your business operations."
    },
    {
      number: "3",
      title: "Automate Routine Tasks",
      detail: "Save time with Empress Zaps by automating repetitive and routine tasks."
    },
    {
      number: "4",
      title: "Expert AI Chat Support",
      detail: "Improve customer interactions with Empress's AI-driven chat support system."
    },
    {
      number: "5",
      title: "Anticipate Future Trends",
      detail: "Stay ahead with Empress Forecast, predicting trends and customer needs."
    },
    {
      number: "6",
      title: "Connect With Collaborators",
      detail: "Enhance teamwork with Empress Bridge, fostering effective collaboration."
    },
    {
      number: "7",
      title: "Control Access & Visibility",
      detail: "Secure your operations with Empress Administration's robust access controls."
    },
    {
      number: "8",
      title: "Seamless Tool Integration",
      detail: "Simplify integration with Empress's seamless compatibility with existing tools."
    }
  ]
};



// Section Eleven

const sectionEleven = {
  title: "Explore Empress Ecosystem",
  subtitle: "On Your Mark. Get Set. Grow!",
  blocks: [
    {
      imageUrl: "https://images.unsplash.com/photo-1642132652859-3ef5a1048fd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2660&q=80",
      integrationImage: "/images/integrations/figma.svg",
      text: "Seamlessly integrate your business operations with our robust suite of tools and APIs.",
      url: "/integrate-your-business",
      linkText:"Integrate Your Business"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      integrationImage: "/images/integrations/notion.svg",
      text: "Collaborate with Empress experts to build solutions tailored to your business needs.",
      url: "/build-with-empress",
      linkText:"Find Empress Experts"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      integrationImage: "/images/integrations/notion.svg",
      text: "Explore our range of no-code products and discover how they can elevate your business.",
      url: "/no-code-products",
      linkText:"Try No-Code Products"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      integrationImage: "/images/integrations/notion.svg",
      text: "Join Empress Academy for insights, tutorials, and best practices in utilizing our platform.",
      url: "/empress-academy",
      linkText:"Check Out Empress Academy"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      integrationImage: "/images/integrations/notion.svg",
      text: "Find comprehensive guides and FAQs in our Help Center to get the most out of Empress.",
      url: "/help-center",
      linkText:"View Help Center"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      integrationImage: "/images/integrations/notion.svg",
      text: "Connect with other professionals and experts in our vibrant Empress Community.",
      url: "/community",
      linkText:"Join our Community"
    }
  ]
};


// Section Nine

const faq = {
  title: "FAQ",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "Can Empress integrate with my existing business tools?",
      answer: "Yes, Empress seamlessly integrates with a variety of business tools, ensuring smooth interoperability and data synchronization across your entire business ecosystem."
    },
    {
      question: "How user-friendly is Empress for non-technical staff?",
      answer: "Empress is designed with simplicity in mind. Our intuitive interfaces and dashboards make it easy for all users, regardless of their technical background, to navigate and utilize the platform effectively."
    },
    {
      question: "What kind of support does Empress provide for new users?",
      answer: "We offer comprehensive support including Empress Academy for tutorials and best practices, a dedicated Help Center for guidance, and responsive customer support for any immediate queries."
    },
    {
      question: "Does Empress offer features for automating business processes?",
      answer: "Absolutely! Empress features, like Empress Zaps, allow you to automate routine tasks, saving time and increasing efficiency within your operations."
    },
    {
      question: "How does Empress ensure the security and privacy of our data?",
      answer: "Empress prioritizes data security with robust protocols such as encryption and secure cloud storage, ensuring your business data is always protected from unauthorized access."
    }
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Landing 03"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "empress.eco",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <!-- Section One -->

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">                   
        </div>
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">Welcome to Empress</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              The Platform for Business Growth.
            </h2>
            <p class="text-slate-500 mt-5">
              Experience streamlined operations, enhanced sales, and superior customer engagement. Tailored for your success, Empress propels you to industry leadership with innovative, user-centric business solutions. 
            </p>
          </div>
          <div class="mt-10 flex">
            <a href="/overview" 
               class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
               style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
               onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
               onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
               onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
               onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
              Get Started
            </a>
            <a href="/pricing" 
               class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
               style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
               onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
               onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
              View Pricing
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44 osm:opacity-0 lg:opacity-100">
                  <img
                    src="/images/appScreen1.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen7.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen2.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen6.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen3.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen6.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
                <div class="h-full w-44">
                  <img
                    src="/images/appScreen3.png"
                    alt="thumbnail"
                    class="drop-shadow-2xl"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
    
  <!-- Section 2 -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{statsContent.sectionTitle}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {statsContent.mainHeading}
      </h2>
    </div>
    <div class="mx-auto text-left mt-12">
      <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
        {statsContent.statsData.map((stat) => (
          <div key={stat.value}>
            <p class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
              {stat.value}
            </p>
            <p class="text-slate-500 mt-6 border-blue-500">
              {stat.description}
            </p>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

<!-- Section Two -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{sectionTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {sectionTwo.mainContent.subtitle}
            </h2>
            {sectionTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
            <p class="mt-5">
              <a href={sectionTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {sectionTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0">
        <div>
          <ul role="list" class="grid grid-cols-1 gap-12 lg:gap-24 list-none mt-24">
            {sectionTwo.listItems.map(item => (
              <li>
                <div>
                  <p class="text-purple-900 font-semibold tracking-tighter text-3xl">{item.title}</p>
                </div>
                <div class="mt-2 text-slate-500">{item.description}</div>
                <p class="mt-5">
                  <a href={item.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                    {item.linkTitle}
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                  <path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path>
                </svg>
              </a>
                  </a>
                </p>
              </li>
            ))}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Section Three -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div class="max-w-xl">
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{sectionThree.header.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {sectionThree.header.mainTitle}
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-slate-500">{sectionThree.header.subTitle}</p>
      </div>
    </div>
    <div>
      <ul role="list" class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-12">
        {sectionThree.listItems.map(item => (
          <li>
            <div>
              <div class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
                {item.number}
              </div>
              <p class="mt-5 font-semibold text-purple-900">
                {item.title}
              </p>
            </div>
            <div class="mt-2 text-slate-500 text-sm">
              {item.description}
            </div>
          </li>
        ))}
      </ul>
    </div>
    <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-12 lg:mt-24">
      <div class="lg:pr-24 md:pr-12">
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionThree.layoutSection.mainTitle}
        </h2>
        <p class="text-slate-500 mt-5">
          {sectionThree.layoutSection.mainDescription}
        </p>
        <ul role="list" class="list-none mt-12">
          {sectionThree.layoutSection.subSections.map(subSection => (
            <li>
              <div>
                <p class="mt-12 font-semibold text-purple-900 text-2xl">
                  {subSection.title}
                </p>
              </div>
              <div class="mt-5">
                <ul role="list" class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                  {subSection.items.map(item => (
                    <li class="flex items-start">
                      —
                      <span class="ml-4">{item}</span>
                    </li>
                  ))}
                </ul>
              </div>
            </li>
          ))}
        </ul>
      </div>
      <div class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 h-full">
        <img src={sectionThree.layoutSection.imageSrc} alt="thumbnail" class="drop-shadow-2xl" />
      </div>
    </div>
  </div>
</section>


<!-- Section Four -->

<section class="overflow-hidden border-b">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pt-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{sectionFour.header.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {sectionFour.header.mainTitle}
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-slate-500">{sectionFour.header.subTitle}</p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <div>
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
          {sectionFour.columns.map(column => (
            <div>
              <div>
                <p class="font-semibold text-purple-900">{column.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                    {column.listItems.map(item => (
                      <li class="flex items-start">
                        — <span class="ml-4">{item}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </div>
          ))}
        </div>
        <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
          <img src={sectionFour.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
        </div>
      </div>
    </div>
  </div>
</section>
  
<!-- Section Five -->

<section >
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center rounded-full text-blue-600">
        <span class="text-base font-medium tracking-tight">{sectionFive.sections[0].title}</span>
      </h2>
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {sectionFive.sections[0].mainTitle}
        <span class="lg:block">{sectionFive.sections[0].secondaryTitle}</span>
      </h2>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            <div>
              <p class="text-slate-500">
                {sectionFive.sections[0].descriptions[0]}
              </p>
            </div>
            <div>
              <p class="text-slate-500">
                {sectionFive.sections[0].descriptions[1]}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
        <div>
          <img
            src={sectionFive.sections[0].imagePaths[0]}
            alt="thumbnail"
            class="rounded-2xl drop-shadow-2xl"
          />
          <img
          src={sectionFive.sections[0].imagePaths[1]}
            alt="thumbnail"
            class="drop-shadow-2xl mt-6"
          />
        </div>
        <div class="lg:col-span-2">
          <img
          src={sectionFive.sections[0].imagePaths[2]}
            alt="thumbnail"
            class="drop-shadow-2xl"
          />
          <img
          src={sectionFive.sections[0].imagePaths[3]}
            alt="thumbnail"
            class="drop-shadow-2xl mt-6"
          />
          <img
          src={sectionFive.sections[0].imagePaths[4]}
            alt="thumbnail"
            class="drop-shadow-2xl mt-6 lg:hidden block"
          />
        </div>
        <div class="hidden lg:block">
          <img
          src={sectionFive.sections[0].imagePaths[5]}
            alt="thumbnail"
            class="drop-shadow-2xl"
          />
          <img
          src={sectionFive.sections[0].imagePaths[6]}
            alt="thumbnail"
            class="rounded-2xl drop-shadow-2xl mt-6"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
    <div>
      <h2 class="inline-flex items-center text-white">
        <span class="text-base font-medium tracking-tight">{sectionFive.sections[1].title}</span>
      </h2>
      <h2
        class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
        {sectionFive.sections[1].mainTitle} <span class="lg:block"
          >{sectionFive.sections[1].secondaryTitle}</span
        >
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-white">
          {sectionFive.sections[1].description}
        </p>
      </div>
    </div>
    <div class="mx-auto text-left mt-12">
      <div>
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  {sectionFive.sections[1].points[0].title}
                </p>
              </div>
              <p class="text-sm text-white">
                {sectionFive.sections[1].points[0].description}
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  {sectionFive.sections[1].points[1].title}
                </p>
              </div>
              <p class="text-sm text-white">
                {sectionFive.sections[1].points[1].description}
              </p>
            </div>
          </div>
          <div>
            <div class="space-y-3">
              <div>
                <p class="mt-5 font-semibold text-white text-base">
                  {sectionFive.sections[1].points[2].title}
                </p>
              </div>
              <p class="text-sm text-white">
                {sectionFive.sections[1].points[2].description}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <!-- Section Six -->
  
  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
        <div>
            <h2 class="inline-flex items-center text-blue-600">
                <span class="text-base font-medium tracking-tight">{sectionSix.mainSection.title}</span>
            </h2>

            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {sectionSix.mainSection.subtitle}
                <span class="lg:block">{sectionSix.mainSection.subtitleTwo}</span>
            </h2>
        </div>

        <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-24">
            <div class="lg:pr-24 md:pr-12">
                <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                    {sectionSix.businessSection.title}
                </h2>
                <p class="text-slate-500 mt-5">
                    {sectionSix.businessSection.description}
                </p>

                <ul role="list" class="grid grid-cols-2 gap-4 list-none lg:gap-6 mt-12">
                    {sectionSix.businessSection.listItems.map(item => (
                        <li key={item.title}>
                            <div>
                                <p class="font-semibold text-purple-900 text-base">
                                    {item.title}
                                </p>
                            </div>
                            <div class="mt-2 text-slate-500 text-sm">
                                {item.description}
                            </div>
                        </li>
                    ))}
                </ul>

                <p class="text-slate-500 mt-12">
                    {sectionSix.businessSection.additionalInfo}
                </p>
            </div>

              <div class="lg:mt-0 mt-12 md:pl-12 md:border-l lg:pl-24 border-slate-200 h-full">
                <div x-data="{ tabSelected: 1 }" class="lg:mt-0 mt-12 h-full">
                    <div class="inline-grid items-center justify-center w-full h-10 grid-cols-2 p-1 bg-slate-100 rounded-full select-none">
                        <button
                            @click="tabSelected = 1"
                            type="button"
                            class="inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-full cursor-pointer"
                            :class="{ 'bg-white shadow-sm': tabSelected === 1 }"
                        >
                        {sectionSix.firstTab}
                        </button>
                        <button
                            @click="tabSelected = 2"
                            type="button"
                            class="inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md cursor-pointer"
                            :class="{ 'bg-white shadow-sm': tabSelected === 2 }"
                        >
                        {sectionSix.secondTab}
                        </button>
                    </div>
                    <div class="w-full mt-2">
                        <div x-show="tabSelected === 1" class="mt-4 rounded-2xl drop-shadow-xl">
                            <img src="/images/ModalOne.png" alt="thumbnail" class="ring-1 ring-slate-300 rounded-2xl" />
                        </div>
                        <div x-show="tabSelected === 2" class="mt-4 rounded-2xl drop-shadow-xl">
                            <img src="/images/ModalTwo.png" alt="thumbnail" class="ring-1 ring-slate-300 rounded-2xl" />
                        </div>
                </div>
              </div>
            </div>
        </div>

        <div class="grid grid-cols-1 items-start md:grid-cols-2 mt-12 lg:mt-24">
            <div class="lg:pl-24 md:pl-12">
                <h2 class="text-purple-900 font-semibold mt-6 text-3xl">
                    {sectionSix.layoutsSection.title}
                </h2>
                <p class="text-slate-500 mt-5">
                    {sectionSix.layoutsSection.description}
                </p>

                <ul role="list" class="grid grid-cols-2 gap-4 lg:gap-y-12 list-none lg:gap-6 mt-12">
                    <li class="col-span-2 mb-6 lg:mb-0">
                        <div>
                            <p class="font-semibold text-purple-900">{sectionSix.layoutsSection.howItWorks.title}</p>
                        </div>
                        <div class="mt-2 text-slate-500 text-sm">
                            {sectionSix.layoutsSection.howItWorks.description}
                        </div>
                    </li>
                </ul>

                <ul role="list" class="grid grid-cols-2 gap-4 list-none lg:gap-6 mt-12">
                  {sectionSix.businessSection.listItems.map(item => (
                    <li key={item.title}>
                      <div>
                        <p class="font-semibold text-purple-900 text-base">
                          {item.title}
                        </p>
                      </div>
                      <div class="mt-2 text-slate-500 text-sm">
                        {item.description}
                      </div>
                    </li>
                  ))}
                </ul>

                <p class="text-slate-500 mt-12">
                    {sectionSix.layoutsSection.additionalInfo}
                </p>

                <p class="mt-5">
                    <a href={sectionSix.layoutsSection.seeLibrariesLink} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                        {sectionSix.layoutsSection.seeLibrariesText}
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                        <path
                          fill-rule="evenodd"
                          d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                          clip-rule="evenodd"></path>
                      </svg>
                    </a>
                </p>
            </div>

            <div class="lg:mt-0 mt-12 md:pr-12 md:border-r lg:pr-24 border-slate-200 h-full lg:order-first">
                <img src={sectionSix.layoutsSection.imageRightSrc} alt={sectionSix.layoutsSection.imageRightAlt} class="drop-shadow-2xl" />
            </div>
        </div>
    </div>
</section>

<!-- Section Seven   -->

<section class="bg-purple-900 transform skew-y-6 -mt-72">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:pt-42 pb-52 items-center transform -skew-y-6">
    <div>
      <h2 class="inline-flex items-center rounded-full text-white">
        <span class="text-base font-medium tracking-tight">{sectionSeven.featureTitle}</span>
      </h2>
      <h2 class="text-white font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {sectionSeven.mainTitle} <span class="lg:block">{sectionSeven.mainSubtitle}</span>
      </h2>
      <div class="max-w-xl mt-6">
        <p class="text-white">{sectionSeven.description}</p>
      </div>
    </div>
  <div class="mx-auto text-left mt-12">
    <div
      x-data="{
      tabSelected: 1,
      tabId: $id('tabs'),
      tabButtonClicked(tabButton){
          this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
          this.tabRepositionMarker(tabButton);
      },
      tabRepositionMarker(tabButton){
          this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
          this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
          this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
      },
      tabContentActive(tabContent){
          return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
      }
  }"
      x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);"
      class="relative lg:rounded-3xl lg:p-10 text-white">
      <div
        x-ref="tabButtons"
        class="relative inline-grid items-center justify-center h-10 grid-cols-2 p-1 bg-purple-900 rounded-full select-none">
        <button
          :id="$id(tabId)"
          @click="tabButtonClicked($el);"
          type="button"
          class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-full cursor-pointer whitespace-nowrap"
          >{sectionSeven.tabs[0].title}</button
        >
        <button
          :id="$id(tabId)"
          @click="tabButtonClicked($el);"
          type="button"
          class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap"
          >{sectionSeven.tabs[1].title}</button
        >
        <div
          x-ref="tabMarker"
          class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out"
          x-cloak>
          <div class="w-full h-full bg-white/10 rounded-full shadow-sm"></div>
        </div>
      </div>
      <div class="relative w-full mt-2 content">
        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative">
          <section
            class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-24 lg:bg-[#14162c] lg:p-10 rounded-3xl">
            <div
              class="text-xs font-mono mt-4 rounded-2xl overflowhidden p-4 bg-[#14162c] 00">
              <Code
                code={sectionSeven.tabs[0].codeSnippet}
                lang="js"
                theme="css-variables"
              />
            </div>
            <div class="h-full lg:ml-auto lg:-m-24">
              <img
                src={sectionSeven.tabs[0].image}
                alt="thumbnail"
                class="rounded-3xl"
              />
            </div>
          </section>
        </div>

        <div
          :id="$id(tabId + '-content')"
          x-show="tabContentActive($el)"
          class="relative"
          x-cloak>
          <section
            class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-24 lg:bg-[#14162c] lg:p-10 rounded-3xl">
            <div
              class="text-xs font-mono mt-4 rounded-2xl overflowhidden p-4 bg-[#14162c] 00">
              <Code
                code={sectionSeven.tabs[0].codeSnippet}
                lang="js"
                theme="css-variables"
              />
            </div>
            <div class="h-full lg:ml-auto lg:-m-24">
              <img
              src={sectionSeven.tabs[1].image}
                alt="thumbnail"
                class="rounded-3xl"
              />
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<!-- Section Nine   -->

<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-36">
    <div class="mx-auto">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionNine.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionNine.mainTitle}
        </h2>
      </div>
      <div class="rounded-b-md bg-white mt-24">
        <section>
          <div class="relative">
            <div class="absolute inset-x-0 bottom-0 h-1/2 bg-slate-100"></div>
            <div class="mx-auto max-w-7xl">
              <div class="relative shadow-xl sm:overflow-hidden sm:rounded-3xl">
                <div class="absolute inset-0">
                  <img class="h-full w-full object-cover" src={sectionNine.backgroundImage} alt="People working on laptops" />
                  <div class="absolute inset-0 bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply"></div>
                </div>
                <div class="relative px-4 py-16 sm:px-6 lg:p-20 grid grid-cols-1 lg:grid-cols-2 items-center">
                  <div class="lg:max-w-xs">
                    <p class="text-white text-sm mt-5">
                      {sectionNine.testimonialText}
                    </p>
                    <div class="min-w-0 flex-1 mt-6">
                      <span class="absolute inset-0" aria-hidden="true"></span>
                      <p class="text-sm text-slate-400">
                        {sectionNine.author}
                      </p>
                    </div>
                  </div>
                  <div class="lg:ml-auto">
                    <svg
                      width="143"
                      height="48"
                      viewBox="0 0 143 48"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M53.2126 12.7716H45.3374C44.7985 12.7716 44.3402 13.1631 44.2561 13.6951L41.071 33.8892C41.0077 34.2877 41.3163 34.6469 41.7205 34.6469H45.4802C46.0191 34.6469 46.4774 34.2554 46.5614 33.7223L47.4205 28.2756C47.5034 27.7425 47.9628 27.3509 48.5006 27.3509H50.9936C56.1812 27.3509 59.1751 24.8406 59.957 19.8661C60.3094 17.6897 59.972 15.9797 58.9529 14.7822C57.8336 13.4671 55.8484 12.7716 53.2126 12.7716ZM54.1211 20.1471C53.6905 22.9729 51.5314 22.9729 49.4437 22.9729H48.2553L49.089 17.6955C49.1385 17.3765 49.4149 17.1416 49.7373 17.1416H50.282C51.7041 17.1416 53.0456 17.1416 53.7388 17.9523C54.1522 18.4359 54.2789 19.1545 54.1211 20.1471Z"
                        class="fill-[#253B80]"></path>
                      <path
                        d="M76.7532 20.0561H72.982C72.6607 20.0561 72.3832 20.291 72.3337 20.61L72.1667 21.6647L71.903 21.2824C71.0866 20.0975 69.266 19.7014 67.449 19.7014C63.2816 19.7014 59.7223 22.8577 59.0291 27.2853C58.6687 29.4939 59.1811 31.6058 60.4339 33.0786C61.5831 34.4327 63.2275 34.997 65.1839 34.997C68.5417 34.997 70.4037 32.8379 70.4037 32.8379L70.2356 33.8858C70.1723 34.2865 70.4809 34.6458 70.8828 34.6458H74.2797C74.8198 34.6458 75.2758 34.2543 75.361 33.7211L77.3992 20.8138C77.4637 20.4165 77.1562 20.0561 76.7532 20.0561ZM71.4965 27.3958C71.1326 29.5503 69.4226 30.9966 67.2417 30.9966C66.1466 30.9966 65.2714 30.6454 64.7095 29.9798C64.1522 29.3189 63.9403 28.3781 64.1176 27.3302C64.4573 25.1941 66.1961 23.7006 68.3437 23.7006C69.4146 23.7006 70.2851 24.0564 70.8586 24.7278C71.4332 25.406 71.6612 26.3526 71.4965 27.3958Z"
                        class="fill-[#253B80]"></path>
                      <path
                        class="fill-[#253B80]"
                        d="M96.8379 20.056H93.0482C92.6867 20.056 92.347 20.2357 92.142 20.5362L86.9153 28.2352L84.6997 20.8368C84.5604 20.3738 84.1332 20.056 83.6496 20.056H79.9256C79.473 20.056 79.1587 20.4982 79.3026 20.9243L83.4768 33.1741L79.5525 38.714C79.2439 39.1505 79.5548 39.7504 80.0879 39.7504H83.873C84.2322 39.7504 84.5685 39.5754 84.7723 39.2806L97.3768 21.0866C97.6785 20.6514 97.3687 20.056 96.8379 20.056Z"
                      ></path>
                      <path
                        d="M109.385 12.7716H101.508C100.971 12.7716 100.512 13.1631 100.428 13.6951L97.2431 33.8892C97.1798 34.2877 97.4884 34.6469 97.8903 34.6469H101.932C102.307 34.6469 102.629 34.3729 102.688 33.9998L103.591 28.2756C103.674 27.7425 104.134 27.3509 104.672 27.3509H107.163C112.352 27.3509 115.345 24.8406 116.128 19.8661C116.481 17.6897 116.142 15.9797 115.123 14.7822C114.005 13.4671 112.021 12.7716 109.385 12.7716ZM110.293 20.1471C109.864 22.9729 107.705 22.9729 105.616 22.9729H104.429L105.263 17.6955C105.313 17.3765 105.587 17.1416 105.911 17.1416H106.455C107.876 17.1416 109.219 17.1416 109.912 17.9523C110.325 18.4359 110.451 19.1545 110.293 20.1471Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M132.924 20.0561H129.155C128.832 20.0561 128.556 20.291 128.508 20.61L128.341 21.6647L128.076 21.2824C127.26 20.0975 125.44 19.7014 123.623 19.7014C119.456 19.7014 115.898 22.8577 115.205 27.2853C114.845 29.4939 115.355 31.6058 116.608 33.0786C117.76 34.4327 119.402 34.997 121.358 34.997C124.716 34.997 126.578 32.8379 126.578 32.8379L126.41 33.8858C126.347 34.2865 126.655 34.6458 127.059 34.6458H130.455C130.993 34.6458 131.451 34.2543 131.535 33.7211L133.575 20.8138C133.637 20.4165 133.328 20.0561 132.924 20.0561ZM127.667 27.3958C127.306 29.5503 125.594 30.9966 123.413 30.9966C122.32 30.9966 121.442 30.6454 120.88 29.9798C120.323 29.3189 120.113 28.3781 120.288 27.3302C120.63 25.1941 122.367 23.7006 124.515 23.7006C125.585 23.7006 126.456 24.0564 127.029 24.7278C127.606 25.406 127.834 26.3526 127.667 27.3958Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M137.37 13.3254L134.138 33.8892C134.074 34.2876 134.383 34.6469 134.785 34.6469H138.034C138.574 34.6469 139.033 34.2554 139.116 33.7222L142.303 13.5292C142.366 13.1308 142.058 12.7704 141.656 12.7704H138.017C137.696 12.7715 137.419 13.0064 137.37 13.3254Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M8.36683 38.5713L8.96907 34.746L7.62756 34.7149H1.22168L5.67344 6.48781C5.68725 6.40259 5.73216 6.32314 5.7978 6.26671C5.86344 6.21029 5.9475 6.1792 6.03501 6.1792H16.8362C20.422 6.1792 22.8966 6.92538 24.1886 8.39817C24.7943 9.08908 25.1801 9.81108 25.3666 10.6056C25.5624 11.4393 25.5659 12.4354 25.3747 13.6502L25.3609 13.7389V14.5173L25.9666 14.8605C26.4767 15.1311 26.882 15.4408 27.1929 15.7955C27.7111 16.3862 28.0462 17.137 28.1879 18.0271C28.3341 18.9426 28.2857 20.0319 28.0462 21.2652C27.7699 22.6839 27.3231 23.9194 26.7197 24.9305C26.1646 25.862 25.4576 26.6347 24.6182 27.2335C23.8167 27.8024 22.8644 28.2342 21.7877 28.5105C20.7445 28.7823 19.555 28.9193 18.2503 28.9193H17.4097C16.8086 28.9193 16.2248 29.1358 15.7665 29.5239C15.307 29.92 15.003 30.4612 14.9097 31.0531L14.8464 31.3974L13.7824 38.1395L13.734 38.3871C13.7214 38.4654 13.6995 38.5045 13.6673 38.531C13.6385 38.5552 13.597 38.5713 13.5567 38.5713H8.36683Z"
                        class="fill-[#253B80]"></path>
                      <path
                        d="M26.5401 13.8286C26.5079 14.0347 26.471 14.2455 26.4296 14.4619C25.0052 21.7752 20.132 24.3016 13.908 24.3016H10.739C9.9779 24.3016 9.3365 24.8544 9.2179 25.6052L7.59541 35.8951L7.13596 38.8119C7.0588 39.3047 7.4388 39.7492 7.93626 39.7492H13.5568C14.2224 39.7492 14.7878 39.2656 14.8926 38.6092L14.9478 38.3236L16.0061 31.608L16.074 31.2395C16.1777 30.5809 16.7442 30.0972 17.4098 30.0972H18.2504C23.6959 30.0972 27.9588 27.8863 29.2047 21.4885C29.7252 18.8158 29.4558 16.5842 28.0786 15.0147C27.6617 14.5414 27.1447 14.1487 26.5401 13.8286Z"
                        class="fill-[#179BD7]"></path>
                      <path
                        d="M25.05 13.2345C24.8323 13.1712 24.6078 13.1136 24.3775 13.0618C24.146 13.0111 23.9088 12.9662 23.6647 12.9271C22.8103 12.7889 21.8741 12.7233 20.8711 12.7233H12.4052C12.1967 12.7233 11.9987 12.7705 11.8213 12.8557C11.431 13.0434 11.1408 13.413 11.0706 13.8656L9.26959 25.2725L9.21777 25.6053C9.33638 24.8545 9.97777 24.3018 10.7389 24.3018H13.9079C20.1318 24.3018 25.005 21.7742 26.4295 14.4621C26.4721 14.2456 26.5078 14.0348 26.54 13.8287C26.1796 13.6376 25.7892 13.4741 25.3689 13.3347C25.2653 13.3002 25.1582 13.2668 25.05 13.2345Z"
                        fill="#222D65"></path>
                      <path
                        d="M11.0707 13.8655C11.1409 13.413 11.4311 13.0433 11.8214 12.8568C11.9999 12.7716 12.1968 12.7244 12.4053 12.7244H20.8712C21.8742 12.7244 22.8103 12.79 23.6648 12.9282C23.9089 12.9673 24.1461 13.0122 24.3776 13.0629C24.6079 13.1147 24.8324 13.1723 25.05 13.2356C25.1583 13.2679 25.2654 13.3013 25.3702 13.3347C25.7905 13.474 26.1808 13.6387 26.5413 13.8287C26.965 11.1261 26.5378 9.28594 25.0765 7.6197C23.4656 5.78533 20.558 5 16.8374 5H6.03623C5.27623 5 4.62793 5.55273 4.51047 6.30467L0.0115023 34.8219C-0.0771644 35.3862 0.358108 35.8952 0.926957 35.8952H7.59538L9.26968 25.2724L11.0707 13.8655Z"
                        class="fill-[#253B80]"></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<!-- Section Ten -->

<section class="bg-white">
  <section class="relative overflow-hidden">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 mt-10 mb-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionTen.sectionTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionTen.heading}
        </h2>
        <p class="text-slate-500 mt-5">
          {sectionTen.description}
        </p>
      </div>
      <ul role="list" class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-24">
        {sectionTen.items.map((item, index) => (
          <li key={index}>
            <div>
              <div class="flex items-center justify-center w-8 h-8 text-blue-500 rounded-full bg-slate-100">
                {item.number}
              </div>
              <p class="mt-5 font-semibold text-purple-900">
                {item.title}
              </p>
            </div>
            <div class="mt-6 text-slate-500 text-sm border-l-4 pl-4">
              {item.detail}
            </div>
          </li>
        ))}
      </ul>
    </div>
  </section>
</section>

<!-- Section Eleven -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div class="max-w-xl">
      <h2 class="inline-flex items-center rounded-full text-blue-600">
        <span class="text-base font-medium tracking-tight">{sectionEleven.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {sectionEleven.subtitle}
      </h2>
    </div>
    <div class="mx-auto mt-12">
      <div class="flex flex-wrap md:-m-2 -m-1">
        <!-- Loop through each block in the sectionEleven object -->
      <div class="mx-auto mt-12">
        <div class="flex flex-wrap md:-m-2 -m-1">
          <div class="flex flex-wrap w-1/2">
            <div class="md:p-2 p-1 w-1/2">
              <div
                class="relative overflow-hidden rounded-2xl bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[0].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[0].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[0].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[0].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-1/2">
              <div
                class="relative overflow-hidden rounded-2xl bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[1].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[1].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[1].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[1].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-full">
              <div
                 class="relative overflow-hidden rounded-2xl bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[2].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[2].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[2].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[2].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap w-1/2">
            <div class="md:p-2 p-1 w-full">
              <div
              class="relative overflow-hidden rounded-2xl bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[3].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[3].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[3].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[3].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-1/2">
              <div
              class="relative overflow-hidden rounded-2xl bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[4].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[4].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[4].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[4].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-1/2">
              <div
              class="relative overflow-hidden rounded-2xl bg-gradient-to-r from-purple-900 via-purple-600 to-purple-400 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[5].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[5].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[1].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[5].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>

  
<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2 class="inline-flex items-center text-blue-600">
        <span class="text-base font-medium tracking-tight">{faq.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {faq.subtitle}
      </h2>
      <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
        {faq.questions.map((faq, index) => (
          <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
            <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
              <span class="font-semibold text-purple-900">{faq.question}</span>
            </div>
            <div class="lg:col-span-2">
              <p class="text-slate-500">{faq.answer}</p>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>

  
  <CtaTwo />
</BaseLayout>
