---
import BaseLayout from "../layouts/BaseLayout.astro";
import { AstroSeo } from "@astrolib/seo";
import { Icon } from "astro-icon";
import Ecosystem from "../components/features/Ecosystem.astro";
import GetStarted from "../components/features/GetStarted.astro";

// Hero

export const hero = {
  heroSection: {
    header: 'Empress for Non-Profits',
    title: 'Inspire Action, Ignite Change',
    description: 'Empress redefines non-profit management with cutting-edge solutions, boosting operational efficiency and community impact.',
    caseStudyText: "Read case study",
    callToActionText: 'View Pricing',
    callToActionLink: '/pricing',
    callToActionTwoText: 'Contact Sales',
    callToActionTwoLink: '/contact',
  },
  imageGrid: [
  {
    imageUrl: "https://images.unsplash.com/photo-1532629345422-7515f3d16bb6?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Empress's solutions empower non-profits with tools for effective fundraising and donor management.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1598388721199-a0d69c551465?q=80&w=1973&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Discover how Empress aids non-profits in maximizing their impact through strategic resource management.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1643321611132-15f7b8a63347?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Empress boosts non-profit efficiency with innovative tech solutions, enhancing community outreach and engagement.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-blue-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1643321610692-719deb378a33?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Learn how Empress's data analytics tools help non-profits make informed decisions and drive social change.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-slate-600",
  },
  {
    imageUrl: "https://images.unsplash.com/photo-1591522810850-58128c5fb089?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    description: "Empress: A partner for non-profits in achieving sustainable growth and operational excellence.",
    caseStudyLink: "https://blog.empress.eco",
    caseStudyText: "Learn More",
    bgColor: "bg-pink-600",
  }
],

};

// Overview
const overview = {
  title: "Ignite Change, Empower Communities with Empress",
  paragraphs: [
    "At Empress, we understand the heartbeat of non-profit organizations. You are champions of change, advocates of hope, and builders of a brighter future. Whether you are a grassroots movement or a global force, our platform stands with you, adapting to your unique journey, ensuring every step you take is impactful.",
    "Our comprehensive suite of tools is a testament to our commitment to your cause. We are here to transform how you connect with donors, engage volunteers, and bring your transformative programs to life. With Empress, your mission isn't just supported; it's propelled into new realms of possibility."
  ],
  secondaryTitle: "Elevate Your Vision",
  secondaryParagraph: "In the world of non-profits, every hand extended in help and every dollar raised in support can make a world of difference. Empress is dedicated to enhancing these connections. We offer solutions that not just meet but exceed expectations, creating meaningful experiences that touch the lives of donors, volunteers, and the communities you serve.",
  quote: "With Empress, your noble cause finds a powerful ally. Together, let's turn visions of change into realities of hope and progress.",
  callToAction: {
    text: "View Pricing",
    link: "/pricing"
  },
  image: "https://images.unsplash.com/photo-1674574124340-c00cc2dae99c?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
};


// Display Image
const displayImage = {
  title: "Maximize Your Impact",
  subtitle: "Drive Change,",
  subtitleCont: "Enhance Impact.",
  imageSrc: "/images/dashboard.jpg"
};

const sectionTwo = {
  mainContent: {
    title: "Empower Your Non-Profit's Mission",
    subtitle: "Enhance Impact, Foster Growth",
    paragraphs: [
      "Empress Cloud brings transformative solutions to non-profit organizations, aligning technology with the goals of social impact and community engagement.",
      "Utilize our platform to optimize donor relations, streamline volunteer coordination, and effectively manage your programs, driving your non-profit mission forward."
    ],
    linkText: "Discover Empress",
    linkHref: "/os"
  },
  listItems: [
    {
      title: "Craft Engaging Digital Platforms",
      description: "Create an inviting online presence that resonates with donors and volunteers, showcasing the impact of your work and the values driving your mission.",
      linkHref: "/build",
      linkTitle: "Build with Empress"
    },
    {
      title: "Revolutionize Operational Efficiency",
      description: "Employ Empress to automate and optimize your non-profit's daily operations, enhancing your ability to focus on strategic initiatives and community service.",
      linkHref: "/manage",
      linkTitle: "Manage with Empress"
    },
    {
      title: "Elevate Donor and Volunteer Experiences",
      description: "Utilize our suite of tools to deepen relationships with donors and volunteers, crafting personalized interactions that foster long-term commitment.",
      linkHref: "/experience",
      linkTitle: "Experience with Empress"
    },
    {
      title: "Strategize for Impactful Fundraising",
      description: "Leverage data-driven insights to refine your fundraising strategies, ensuring resource acquisition is aligned with your non-profit's objectives.",
      linkHref: "/sell",
      linkTitle: "Sell with Empress"
    },
    {
      title: "Fiscal Stewardship and Transparency",
      description: "Manage your finances with precision and integrity, utilizing our tools for clear financial oversight, essential in maintaining donor trust and compliance.",
      linkHref: "/finance",
      linkTitle: "Finance with Empress"
    },
    {
      title: "Nurture Your Non-Profit Team",
      description: "Develop and empower your staff and volunteers with our talent management solutions, aligning their skills and passion with your organizational goals.",
      linkHref: "/talent",
      linkTitle: "Talent with Empress"
    },
    {
      title: "Streamline Communication",
      description: "Enhance internal and external communication within your organization, ensuring effective collaboration and community outreach.",
      linkHref: "/connect",
      linkTitle: "Connect with Empress"
    },
    {
      title: "Collaborate on Impactful Initiatives",
      description: "Strengthen collaboration in your community projects, ensuring that efforts are cohesive and impactful, with our suite of collaborative tools.",
      linkHref: "/share",
      linkTitle: "Share with Empress"
    },
    {
      title: "Centralize Essential Information",
      description: "Organize your organization's crucial data and resources efficiently, ensuring swift access and strategic use in program planning and execution.",
      linkHref: "/document",
      linkTitle: "Document with Empress"
    },
    {
      title: "Advance Organizational Learning",
      description: "Invest in the continuous development of your team with our educational platform, enhancing skills and knowledge crucial for non-profit success.",
      linkHref: "/learn",
      linkTitle: "Learn with Empress"
    },
  ]
};

// FeatureOne
const featureOne = {
  mainContent: {
    title: "Elevate Efficiency",
    img: "/images/solutions/nonprofit/1.svg",
    subtitle: "Revolutionize Your Non-Profit Mission",
    paragraphs: [
      "Empress provides non-profits with innovative tools to elevate their mission, enabling more effective community engagement and program delivery."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Effective Donor Engagement",
    "Streamlined Volunteer Management",
    "Impactful Program Delivery"
  ]
};


// Feature Two
const featureTwo = {
  mainContent: {
    title: "Maximize Donor Engagement",
    img: "/images/solutions/nonprofit/2.svg",
    subtitle: "Raise Funds More Effectively",
    paragraphs: [
      "Gain valuable insights into donor behaviors and preferences, tailoring your approach for maximum engagement and successful fundraising outcomes."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Targeted Donor Insights",
    "Fundraising Strategy Enhancement",
    "Donor Engagement Optimization"
  ]
};


// FeatureThree
const featureThree = {
  mainContent: {
    title: "Engaging Programs",
    img: "/images/solutions/nonprofit/3.svg",
    subtitle: "Scale Community Outreach",
    paragraphs: [
      "Empower your non-profit's community outreach initiatives with Empress. Facilitate impactful and engaging programs by coordinating seamlessly with teams and volunteers for a greater community presence."
    ],
    buttonLink: "/pricing",
    buttonText: "View Pricing",
    linkText: "Contact Sales",
    linkHref: "/contact"
  },
  listItems: [
    "Dynamic Community Program Planning",
    "Streamlined Volunteer Engagement",
    "Effective Outreach Communication"
  ]
};



// Use Features

const featureDetails = [
  {
    header: {
      mainTitle: "Additional Features",
      subTitle: "Secure, Efficient Operations",
      description: "Empress offers specialized management solutions, enabling secure and efficient data handling tailored for non-profit organizations."
    },
    featureSections: [
      {
        title: "Donor Data Security",
        description: "Empress provides robust access controls for donor data management, ensuring security and fostering donor trust.",
        listItems: [
          "Secure Donor Access",
          "Protected Campaign Data",
          "Trustworthy Data Handling"
        ]
      },
      {
        title: "Financial Transparency Assurance",
        description: "Maintain the integrity and transparency of your financial data with Empress, crucial for non-profit accountability.",
        listItems: [
          "Financial Data Security",
          "Transparent Reporting Tools",
          "Compliance in Finances"
        ]
      },
      {
        title: "Volunteer Information Privacy",
        description: "Empress safeguards volunteer information, ensuring privacy and security in your non-profit's engagement efforts.",
        listItems: [
          "Secure Volunteer Data",
          "Private Engagement Records",
          "Responsible Data Use"
        ]
      },
      {
        title: "Staff Management Compliance",
        description: "Effectively manage sensitive staff data with Empress, aligning with legal compliance and best practices.",
        listItems: [
          "Confidential Staff Records",
          "HR Data Compliance",
          "Secure Personnel Management"
        ]
      },
      {
        title: "Grants Management Integrity",
        description: "Empress enhances the management of grants and funds, ensuring accuracy and safeguarding against misappropriation.",
        listItems: [
          "Grants Data Security",
          "Accurate Fund Tracking",
          "Ethical Financial Handling"
        ]
      },
      {
        title: "Resource Allocation Efficiency",
        description: "Optimize the allocation and usage of resources in your non-profit with access to critical data.",
        listItems: [
          "Managed Resource Access",
          "Efficient Supply Allocation",
          "Protected Resource Data"
        ]
      }
    ]
  }
];



// Section Nine

const faqs = {
  title: "FAQs",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "How can Empress streamline non-profit operations?",
      answer: "Empress offers a comprehensive suite of tools designed to streamline non-profit operations. Our platform facilitates efficient donor management, enhances volunteer coordination, and simplifies event planning. These tools are integrated into a single platform, making administrative tasks more manageable and allowing your team to focus more on mission-critical activities."
    },
    {
      question: "Can Empress integrate with our existing non-profit software?",
      answer: "Yes, absolutely. Empress is built for seamless integration with a wide range of existing non-profit software systems, including CRM, fundraising platforms, and volunteer management tools. This integration capability ensures a unified approach to managing various aspects of your non-profit, enhancing overall operational efficiency and data coherence."
    },
    {
      question: "Does Empress offer tools for donor engagement and fundraising?",
      answer: "Indeed, Empress provides robust tools for donor engagement and fundraising. Our platform includes features for donor tracking, communication, and engagement analytics, which are vital for developing effective fundraising strategies. Additionally, Empress helps in creating personalized donor experiences, increasing donor retention and support."
    },
    {
      question: "How does Empress assist in managing non-profit financials?",
      answer: "Empress offers advanced financial management tools specifically designed for non-profits. These tools include budget tracking, financial reporting, and grant management, which are essential for maintaining financial transparency and accountability. Our platform also aids in aligning your financial strategy with your non-profit's goals and regulatory requirements."
    },
    {
      question: "What support does Empress provide for program and event management?",
      answer: "Empress equips non-profits with tools for effective program and event management, ranging from planning and scheduling to execution and evaluation. Our platform simplifies the coordination of various activities, ensures effective resource allocation, and provides real-time insights for ongoing and post-event analysis, enhancing the impact and reach of your programs and events."
    }
  ]
};



// Contact Section
const talkToYouSection = {
  title: "Connect with us",
  description: "Learn how Empress can revolutionize non-profit management. Connect with us to explore how our custom solutions can drive your mission’s success and community impact.",
  callToAction: {
    text: "Discover Empress for Non-Profits",
    link: "/non-profits-solutions"
  },
  infoSections: [
    {
      title: "Empress for Non-Profit Success",
      description: "Empress boosts non-profit effectiveness with innovative, mission-focused tools for enhanced community engagement."
    },
    {
      title: "Advancing Non-Profits",
      description: "Focused on empowering non-profits with advanced tools, Empress enhances program impact and community engagement."
    },
    {
      title: "Empress’s Non-Profit Vision",
      description: "Empress aligns technology with non-profit missions, emphasizing effective outreach and data-driven strategies."
    }
  ]
};

// Infrastructure Section
const infrastructureSection = {
  title: "Crafting the Future for Non-Profits with Empress",
  description: [
    "Empress stands as a transformative force in the non-profit sector. We go beyond providing just technical solutions; our commitment is to foster innovation and adaptability in the non-profit space. Our solutions are designed to address the unique challenges faced by non-profits, empowering them with technology that drives mission success and community impact."
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Non-Profits"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">{hero.heroSection.header}</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              {hero.heroSection.title}
            </h2>
            <p class="text-slate-500 mt-5">
              {hero.heroSection.description}
            </p>
          </div>
          <div class="mt-10">
              <div class="mt-10 flex">
                <a href={hero.heroSection.callToActionLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
                   style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
                   onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
                   onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
                   onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
                   onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
                   {hero.heroSection.callToActionText}
                </a>
                <a href={hero.heroSection.callToActionTwoLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
                   style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
                   onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
                   {hero.heroSection.callToActionTwoText}
                </a>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                      src={hero.imageGrid[0].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[0].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[0].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[0].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[1].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[2].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[1].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[1].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[1].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-indigo-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[2].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[3].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[2].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[2].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[2].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[3].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[4].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[3].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[3].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[3].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-green-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[4].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[4].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href={hero.imageGrid[4].caseStudyLink}
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[4].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-24">
      <div class="lg:w-1/2 lg:pr-12">
        <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
          <div>
            <div class="lg:pl-24 md:pl-12">
              <h2 class="inline-flex items-center text-blue-600">
                <span class="text-base font-medium tracking-tight">{sectionTwo.mainContent.title}</span>
              </h2>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {sectionTwo.mainContent.subtitle}
              </h2>
              {sectionTwo.mainContent.paragraphs.map(paragraph => (
                <p class="text-slate-500 mt-5">{paragraph}</p>
              ))}
              <p class="mt-5">
                <a href={sectionTwo.mainContent.linkHref} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                  {sectionTwo.mainContent.linkText}
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2 lg:order-first">
        <div class="flex-shrink-0">
          <div>
            <ul role="list" class="grid grid-cols-1 gap-12 lg:gap-24 list-none mt-24">
              {sectionTwo.listItems.map(item => (
                <li>
                  <div>
                    <p class="text-purple-900 font-semibold tracking-tighter text-3xl">{item.title}</p>
                  </div>
                  <div class="mt-2 text-slate-500">{item.description}</div>
                  <p class="mt-5">
                    <a href={item.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                      {item.linkTitle}
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                    <path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path>
                  </svg>
                </a>
                    </a>
                  </p>
                </li>
              ))}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Header -->

  <!-- <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{displayImage.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {displayImage.subtitle}
          <span class="lg:block">{displayImage.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={displayImage.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section> -->
  


  <!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureOne.mainContent.buttonText}
              </a>
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex justify-center items-center lg:mt-0 mt-0">
        <div class="w-full lg:w-[150%] flex-shrink-0">
          <img src={featureOne.mainContent.img} alt="Dashboard" class="w-full h-auto" />
        </div>
      </div>
    </div> 
    <!-- <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" />
        </div>
      </div>
    </div> -->
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex justify-center items-center lg:mt-0 mt-0">
        <div class="w-full lg:w-[125%] flex-shrink-0">
          <img src={featureTwo.mainContent.img} alt="Dashboard" class="w-full h-auto" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureTwo.mainContent.buttonText}
              </a>
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
                {featureThree.mainContent.buttonText}
              </a>
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex justify-center items-center lg:mt-0 mt-0">
        <div class="w-full lg:w-[140%] flex-shrink-0">
          <img src={featureThree.mainContent.img} alt="Dashboard" class="w-full h-auto" />
        </div>
      </div>
    </div> 
  </div>
</section>

  

  

<GetStarted/>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-16 items-center">
      {featureDetails.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))}
    </div>
  </section>
  

  <Ecosystem/>


  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
