---
import BaseLayout from "../layouts/BaseLayout.astro";

import JobsHome from "../components/jobs/JobsHome.astro";

import { AstroSeo } from "@astrolib/seo";



// Hero


const hero = {
  title: "Retail",
  description: "Spazio Bianco creates the financial foundation that enables ambitious companies to launch their most innovative products. Our customers range from newly established startups to large-scale international businesses, all working together to drive the internet's economic growth. By joining us, you have the opportunity to contribute to this mission.",
  callToAction: {
    text: "See all open roles",
    link: "/job-post"
  },
  imageGrid: [
    [
      "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://plus.unsplash.com/premium_photo-1661775434014-9c0e8d71de03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://images.unsplash.com/photo-1600275669439-14e40452d20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60",
      "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://plus.unsplash.com/premium_photo-1661771825670-1720428a80ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80",
      "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
    ]
  ]
};


  // Stats
  const statsInfo = {
    header: "Stats",
    mainTitle: "A more efficient way to accept transfers and ACH",
    subTitle: "While often more effective for larger invoice amounts, supporting payment methods like ACH and wires can require tedious and manual accounts receivable efforts. LexingtonBilling automates how businesses support B2B payment methods.",
    statsData: [
      {
        value: "$70M",
      },
      {
        value: "3 months faster",
      },
      {
        value: "5%",
      },
      {
        value: "50 new countries",
      },
      {
        value: "600 Hours",
      },
      {
        value: "3 days less",
      },
      {
        value: "1 Million workers",
      },
      {
        value: "3 head quarters",
      }
    ]
  };


// Overview


const overview = {
  title: "Who would you like to assist or work for in your professional life?",
  paragraphs: [
    "Our customers span across various industries and countries, and they are involved in a wide range of activities, such as feeding communities, providing healthcare, and facilitating transportation. They operate diverse establishments, including shops, gyms, and churches, and they also develop tools to assist others in running these establishments.",
    "These customers are involved in everything from selling goods from their homes to managing large global enterprises. Ultimately, they rely on the infrastructure we build to carry out their activities effectively. Spazio Bianco processed $641 billion in payments in 2021. We have been entrusted with a significant portion of the global economy, and we need to continue to be reliable stewards of that trust."
  ],
  secondaryTitle: "What matters to us is what we enable for others",
  secondaryParagraph: "Our customers span across various industries and countries, and they are involved in a wide range of activities, such as feeding communities, providing healthcare, and facilitating transportation. They operate diverse establishments, including shops, gyms, and churches, and they also develop tools to assist others in running these establishments.",
  quote: "The pace of change and velocity of the product force you to pick up new skills, experiment with new tactics, and walk in a variety of users’ shoes.",
  callToAction: {
    text: "See open roles",
    link: "/job-post"
  },
  image: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
};

// Use Cases

const features = [
  {
    header: {
      mainTitle: "Empress Control",
      subTitle: "Tailor Access, Secure Success",
      description: "Empress Control redefines access management, offering versatile solutions to safeguard and manage data across departments."
    },
    featureSections: [
      {
        title: "Custom Access for Marketing Teams",
        description: "Control access to marketing assets and campaign data, ensuring security and consistency in your brand messaging.",
        listItems: [
          "Selective access to marketing resources",
          "Secure handling of campaign data",
          "Streamlined marketing team collaboration"
        ]
      },
      {
        title: "Sales Data Security",
        description: "Safeguard sensitive sales information by customizing access for your sales team, preserving data integrity.",
        listItems: [
          "Protected access to sales pipelines and client data",
          "Tailored visibility for sales performance metrics",
          "Enhanced confidentiality in sales strategies"
        ]
      },
      {
        title: "Customer Service Confidentiality",
        description: "Empower your customer service team while keeping sensitive customer data under strict access control.",
        listItems: [
          "Controlled access to customer interaction data",
          "Secure management of customer service records",
          "Privacy-first approach in customer engagements"
        ]
      },
      {
        title: "HR Data Management",
        description: "Manage HR data with custom access controls to maintain employee privacy and compliance with regulations.",
        listItems: [
          "Restricted access to employee personal information",
          "Compliance-focused data handling in HR processes",
          "Secure employee data storage and retrieval"
        ]
      },
      {
        title: "Financial Data Protection",
        description: "Implement rigorous access controls for financial data, ensuring accuracy and compliance in financial reporting.",
        listItems: [
          "Secure management of sensitive financial records",
          "Compliance-oriented access to accounting data",
          "Protection of financial transaction details"
        ]
      },
      {
        title: "Supply Chain Access Management",
        description: "Control access to supply chain information, balancing operational transparency with data security.",
        listItems: [
          "Restricted access to inventory and logistics data",
          "Secure data sharing in supply chain operations",
          "Protected management of supplier information"
        ]
      }
    ]
  }
];


// Check Marks

const sectionData = {
  mainTitle: "Empress Flows Features",
  mainSubTitle: "Enhance Your Business with Advanced Automation",
  description: "Empress Flows offers a wide range of features to automate and streamline your business processes.",
  articles: [
    {
      title: "Process Automation",
      features: [
        "Automated Task Management",
        "Efficient Resource Allocation",
        "Streamlined Business Workflows"
      ]
    },
    {
      title: "Integration Capabilities",
      features: [
        "Seamless System Connectivity",
        "Cross-Platform Data Synchronization",
        "Easy-to-Use Integration Tools"
      ]
    },
    {
      title: "Customization and Flexibility",
      features: [
        "User-Friendly Flow Customization",
        "Flexible Trigger and Action Settings",
        "Adaptive to Changing Business Needs"
      ]
    },
    {
      title: "Real-Time Data Processing",
      features: [
        "Instant Data Analysis and Reporting",
        "Live Monitoring of Business Metrics",
        "Dynamic Data Update and Management"
      ]
    },
    {
      title: "Collaboration and Sharing",
      features: [
        "Team Collaboration within Workflows",
        "Shared Access to Critical Data",
        "Centralized Communication Platform"
      ]
    },
    {
      title: "Security and Compliance",
      features: [
        "Robust Data Encryption and Security",
        "Compliance with Industry Standards",
        "Secure Access Controls and Protocols"
      ]
    }
  ]
};


// Contact

const talkToYouSection = {
  title: "We want to talk to you",
  description: "It's evident that you have a purpose for visiting this page. We encourage you to take the next step and have a conversation with us to determine whether any of our available roles would be a good fit for you. We are continuously looking to employ skilled individuals like yourself, and we hope that you will be our next hire.",
  callToAction: {
    text: "See open roles",
    link: "/job-post"
  },
  infoSections: [
    {
      title: "Life at Spaziobianco",
      description: "Upswing securities passively index inverse bondholders capitalization financial health Moody's debt managed.",
    },
    {
      title: "University recruiting",
      description: "Upswing securities passively index inverse bondholders capitalization financial health Moody's debt managed.",
    },
    {
      title: "Operating principles",
      description: "Upswing securities passively index inverse bondholders capitalization financial health Moody's debt managed.",
    }
  ]
};

const infrastructureSection = {
  title: "Help us build economic infrastructure for the internet",
  description: [
    "We embrace diverse perspectives, ideas, and backgrounds at Spaziobianco. We’re committed to providing equal employment opportunities for all applicants and employees. Spaziobianco doesn’t discriminate on the basis of any protected characteristic, including race, color, ancestry, national origin, religion (including religious dress), creed, age, disability (mental and physical), sex, gender (including pregnancy, childbirth, breastfeeding, or related medical conditions), sexual orientation, gender identity, gender expression, medical condition, genetic information, family care or medical leave status, marital status, domestic partner status, military and veteran status (including military spouse status).",
    "Or any other characteristic protected by US federal, state or local laws, or the laws of the country or jurisdiction where you work."
  ]
};



// Section Nine

const faqs = {
  title: "Product Management FAQs",
  subtitle: "Answers to Your Key Questions",
  questions: [
    {
      question: "How does the Inventory Management System enhance tracking?",
      answer: "Our Inventory Management System uses unique Item IDs for precise tracking, ensuring accurate stock records and efficient item retrieval, streamlining the overall inventory process."
    },
    {
      question: "Can I integrate supplier data into the Procurement Management System?",
      answer: "Yes, our Procurement Management System allows seamless integration of supplier data, enabling efficient management of supplier relationships and orders, thus enhancing the procurement process."
    },
    {
      question: "Does your system offer production batch tracking for manufacturing?",
      answer: "Absolutely. Our Production Batch Tracking System offers unique IDs for each batch, linked directly to inventory products, aiding in efficient scheduling, cost analysis, and supervisor oversight."
    },
    {
      question: "What features are included in the Product Lifecycle Management (PLM) System?",
      answer: "The PLM System includes integrated product tracking, lifecycle timeline management, phase monitoring, and continuous update tracking to strategically manage each product's lifecycle stages."
    },
    {
      question: "How does the Quality Check Management System ensure product standards?",
      answer: "Our Quality Check Management System assigns unique IDs to each check, links to products for cohesive control, schedules quality checks, and records issues and resolutions to uphold high product standards."
    }
  ]
};

  
const darkBackground = {
    sections: [
      {
        type: "feature",
        title: "200+ Integrations",
        mainTitle: "Seamless Connectivity, Simplified",
        secondaryTitle: "",
        descriptions: [
          "Empress integrates diverse business tools, providing a centralized platform for streamlined management. Our system effortlessly connects with popular applications, enhancing efficiency and data coherence.",
          "From CRM to ERP, and from e-commerce to analytics – Empress's integration capabilities ensure all your tools work in harmony, enabling a more unified and productive business environment."
        ],
        imagePaths: [
          "/images/creditcardTwo.png",
          "/images/balance.png",
          "/images/notification.png",
          "/images/miniNotification.png",
          "/images/payments.png",
          "/images/payments.png",
          "/images/creditcardTwo.png"
        ],
        bgColor: "white",
        textColor: "blue-600",
        gridCols: "lg:grid-cols-2"
      },
      {
        type: "featureSkewed",
        title: "Optimized Workflow",
        mainTitle: "Where Integration Meets Excellence",
        secondaryTitle: "",
        description: "Empress’s integrations not only connect systems but also optimize workflows. Experience the seamless synchronization of your operations, reducing manual efforts and errors.",
        points: [
          {
            title: "Comprehensive Compatibility",
            description: "Empress supports a wide range of integrations, ensuring compatibility with your existing tools, from accounting software to marketing platforms."
          },
          {
            title: "Data Synchronization",
            description: "Our platform synchronizes data across systems, providing accurate, real-time insights and a single source of truth for decision-making."
          },
          {
            title: "Customizable Integration",
            description: "Tailor Empress's integrations to fit your specific business needs, allowing for flexibility and scalability as your business grows and evolves."
          }
        ],
        bgColor: "purple-900",
        textColor: "white",
        gridCols: "lg:grid-cols-3",
        transform: "skew-y-6",
        marginAdjustment: "-mt-72 lg:-mt-[26rem]"
      }
    ]
  };


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<section class="relative overflow-hidden border-b">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <h2 class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
            {hero.title}
          </h2>
          <p class="text-slate-500 mt-5">
            {hero.description}
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href={hero.callToAction.link}
          >
            {hero.callToAction.text}
          </a>
        </div>
      </div>
      <div class="lg:mt-0 lg:ml-auto">
        <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
          <div class="flex items-center space-x-6 lg:space-x-8">
            {hero.imageGrid.map((imageRow, index) => (
              <div key={index} class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                {imageRow.map((image, imageIndex) => (
                  <div key={imageIndex} class="h-full w-44">
                    <img src={image} alt="thumbnail" class="drop-shadow-2xl rounded-2xl"/>
                  </div>
                ))}
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  

<!-- Stats Info -->

  
  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{statsInfo.header}</span>
        </h2>
  
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {statsInfo.mainTitle}
        </h2>
        <div>
          <p class="text-slate-500 mt-6">
            {statsInfo.subTitle}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsInfo.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
                  {stat.value}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Dark Background -->



  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[0].title}</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {darkBackground.sections[0].mainTitle}
          <span class="lg:block">{darkBackground.sections[0].secondaryTitle}</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[0]}
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[1]}
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src={darkBackground.sections[0].imagePaths[0]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[1]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
            src={darkBackground.sections[0].imagePaths[2]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[3]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
            src={darkBackground.sections[0].imagePaths[4]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
            src={darkBackground.sections[0].imagePaths[5]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[6]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
        </h2>
        <h2
          class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
          {darkBackground.sections[1].mainTitle} <span class="lg:block"
            >{darkBackground.sections[1].secondaryTitle}</span
          >
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">
            {darkBackground.sections[1].description}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[0].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[0].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[1].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[1].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[2].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[2].description}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>



  <!-- Feature Details -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionData.description}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>  
  

  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>




  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
