---
import BaseLayout from "../layouts/BaseLayout.astro";

import JobsHome from "../components/jobs/JobsHome.astro";

import { AstroSeo } from "@astrolib/seo";
import { Icon } from "astro-icon";

import Ecosystem from "../components/features/Ecosystem.astro";


// Hero

export const hero = {
  heroSection: {
    header: 'Empress for Retail',
    title: 'Next Generation Retail Success',
    description: 'Empress transforms retail operations by integrating innovative technology to enhance customer engagement and streamline sales processes.',
    caseStudyText: "Read case study",
    callToActionText: 'View Pricing',
    callToActionLink: '/pricing',
    callToActionTwoText: 'Contact Sales',
    callToActionTwoLink: '/contact',
  },
  imageGrid: [
    {
      imageUrl: "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco has Economy growth upswing market index funds capitalization corporate bonds mutual.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-pink-600",
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco Public rollover performance exchange traded funds junk bonds passively NASDAQ bills upswing retirement corporate market exposure.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-blue-600",
    },
    {
      imageUrl: "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco features advanced tools for market analysis and investment strategies.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-slate-600",
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco features advanced tools for market analysis and investment strategies.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-slate-600",
    },
    {
      imageUrl: "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      // logoUrl: "/images/integrations/logo.svg",
      description: "Spaziobianco features advanced tools for market analysis and investment strategies.",
      caseStudyLink: "/blog",
      caseStudyText: "Read case study",
      bgColor: "bg-pink-600",
    }
  ],
};


// src/data/statsContent.js
export const statsContent = {
  sectionTitle: "We Help You Achieve Stunning Results",
  stats: [
    {
      figure: "$70M",
      description: "Total increase in failures annual count",
    },
    {
      figure: "3 months faster",
      description: "Than our competence",
    },
    {
      figure: "1 Million workers",
      description: "Were injured in working hours",
    },
    {
      figure: "50 new countries",
      description: "That has banned our incompetence",
    },
  ],
};


// Overview


const overview = {
  title: "Retail's Future, Today",
  paragraphs: [
    "Empress is at the forefront of reinventing retail experiences. From small boutiques to large retail chains, our platform is designed to meet diverse needs, ensuring seamless operations and unparalleled customer satisfaction.",
    "Our suite of tools enhances everything from inventory management to customer engagement, paving the way for retail success."
  ],
  secondaryTitle: "Customer-Centric Solutions",
  secondaryParagraph: "In retail, the customer is king. Empress equips you with tools to understand and anticipate customer needs, delivering personalized experiences that drive loyalty and growth.",
  quote: "Empress is not just a platform; it's a growth partner for retailers.",
  callToAction: {
    text: "Explore Retail Solutions",
    link: "/retail-solutions"
  },
  image: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
};

// Diplay Image

const displayImage = {
  "title": "Empress Insights",
  "subtitle": "Explore Your Data,",
  "subtitleCont": "Uncover Actionable Insights.",
  imageSrc: "/images/chart.jpg"
};


// FeatureOne

const featureOne = {
  mainContent: {
    title: "One Solutions",
    img: "/images/dashboard.jpg",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    "Complete Toolkit for Every Business Need",
    "Streamlined Management in One Unified Platform",
    "Effortless Integration & Limitless Growth Potential",
  ]
};

// FeatureTwo

const featureTwo = {
  mainContent: {
    title: "Two Solutions",
    img: "/images/dashboard.jpg",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    "Complete Toolkit for Every Business Need",
    "Streamlined Management in One Unified Platform",
    "Effortless Integration & Limitless Growth Potential",
  ]
};

// FeatureThree

const featureThree = {
  mainContent: {
    title: "Three Solutions",
    img: "/images/dashboard.jpg",
    subtitle: "One Platform, Infinite Possibilities",
    paragraphs: [
      "At Empress, we go beyond just creating technology; we're revolutionizing how businesses like yours scale and succeed.",
    ],
    linkText: "Explore Applications",
    linkHref: "/suite/apps"
  },
  listItems: [
    "Complete Toolkit for Every Business Need",
    "Streamlined Management in One Unified Platform",
    "Effortless Integration & Limitless Growth Potential",
  ]
};

// Dark Background

const darkBackground = {
  sections: [
    {
      type: "feature",
      title: "200+ Integrations",
      mainTitle: "Seamless Connectivity, Simplified",
      secondaryTitle: "",
    },
    {
      type: "featureSkewed",
  title: "Global Operations",
  mainTitle: "Seamless Operations on a Global Scale",
  secondaryTitle: "",
  description: "Empress orchestrates your business's global operations with unmatched efficiency. Our solutions bring together your processes, enhancing performance with precision and ease.",
  points: [
  {
  title: "Universal Compatibility",
  description: "Empress ensures a cohesive business environment, seamlessly connecting everything from inventory management to customer engagement."
},
{
  title: "Real-Time Data Insights",
  description: "Empress provides immediate data alignment, offering reliable and up-to-the-minute business intelligence for informed decision-making."
},
{
  title: "Adaptive Integration",
  description: "Customize Empress to match your evolving enterprise, effortlessly scaling to support your ambitions and changing needs."
},
{
  title: "Effortless Automation",
  description: "Empress streamlines operations by automating repetitive tasks, enhancing productivity, and freeing resources for strategic initiatives."
}

  ],
  bgColor: "purple-900",
  textColor: "white",
  gridCols: "lg:grid-cols-3",
  transform: "skew-y-6",
  marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};



// Retail New

const sectionFour = {
  header: {
    title: "Marketing Success Stories",
    subtitle: "Real Impact with Empress",
  },
  description: "Explore how Empress has revolutionized marketing practices for diverse businesses, enhancing brand visibility and customer engagement.",
  challenges: [
    {
      title: "Innovative Campaign Automation",
      description: "Learn how Empress empowered a leading brand to automate their marketing campaigns, resulting in increased efficiency and audience reach.",
    },
    {
      title: "Strategic Audience Targeting",
      description: "Read how a startup leveraged Empress's tools for precise audience targeting and engagement, transforming their marketing approach.",
    },
  ],
  productsUsed: [
    "Automated Campaign Tracking",
    "Content Management Systems",
    "Audience Analytics",
    "Multi-Channel Marketing Integration"
  ],
  testimonial: {
    text: "Empress has been a game-changer for our marketing efforts, offering innovative solutions that have significantly boosted our brand presence.",
    caseStudyLink: "link/to/case-study",
    caseStudyText: "Read the Success Story"
  },
  images: {
    background: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
    modalOne: "/images/ModalOne.png",
    modalTwo: "/images/ModalTwo.png"
  }
};

// Additional Features

const featuresHeading = {
  featureHeading: "Additional Features",
  featureTitle: "Do More With Empress",
};

const features = [
{
    "title": "Inights",
    "description": "Unlock Data Insights",
    "icon": "ph:chart-bar-duotone",
    "link": "/feature/insights",
    "color": "indigo"
  },
  {
    "title": "Flows",
    "description": "Optimize Your Workflow",
    "icon": "ph:flow-arrow-duotone",
    "link": "/feature/flows",
    "color": "indigo"
  },
  {
    "title": "Zaps",
    "description": "Automate Routine Tasks",
    "icon": "ph:lightning-duotone",
    "link": "/feature/zaps",
    "color": "indigo"
  },
  {
    "title": "Assistants",
    "description": "Expert AI Chat Support",
    "icon": "ph:robot-duotone",
    "link": "/feature/assistants",
    "color": "indigo"
  },
  {
    "title": "Forecast",
    "description": "Anticipate Future Trends",
    "icon": "ph:cloud-sun-duotone",
    "link": "/feature/forecast",
    "color": "indigo"
  },
  {
    "title": "Bridge",
    "description": "Connect With Collaborators",
    "icon": "ph:arrows-out-duotone",
    "link": "/feature/bridge",
    "color": "indigo"
  },
  {
    "title": "Administration",
    "description": "Control Access & Visibility",
    "icon": "ph:address-book-duotone",
    "link": "/feature/administration",
    "color": "indigo"
  },
  {
    "title": "Innovation",
    "description": "Customize Your Experience",
    "icon": "ph:circles-three-plus-duotone",
    "link": "/feature/innovation",
    "color": "indigo"
  },
  {
    "title": "Integrations",
    "description": "Seamless Tool Integration",
    "icon": "ph:plugs-connected-duotone",
    "link": "/feature/integrations",
    "color": "indigo"
  },
];


// Use Features

const featureDetails = [
  {
    header: {
      mainTitle: "Empress Control",
      subTitle: "Precision Access, Enhanced Security",
      description: "Empress Control delivers sophisticated access management solutions, enabling secure and efficient data handling across various business sectors."
    },
    featureSections: [
      {
        title: "Targeted Marketing Team Access",
        description: "Empress Control offers precise access controls for marketing teams, safeguarding sensitive campaign data while promoting creative collaboration.",
        listItems: [
          "Customized access to marketing tools and data",
          "Secure management of marketing campaigns",
          "Enhanced collaboration with controlled data sharing"
        ]
      },
      {
        title: "Confidential Sales Information Protection",
        description: "Maintain the integrity of your sales data with tailored access permissions, ensuring data security and strategic discretion.",
        listItems: [
          "Controlled access to critical sales data",
          "Custom visibility settings for sales metrics",
          "Data integrity and confidentiality for strategic decisions"
        ]
      },
      {
        title: "Customer Service Data Privacy",
        description: "Empress Control enables your customer service team to access necessary data while prioritizing customer privacy and data security.",
        listItems: [
          "Regulated access to customer interactions",
          "Confidential handling of service records",
          "Privacy-centric approach in customer service"
        ]
      },
      {
        title: "Human Resources Data Governance",
        description: "Effectively manage sensitive HR data with Empress Control, ensuring compliance and employee privacy.",
        listItems: [
          "Secure access to personal employee information",
          "Regulatory compliance in HR data management",
          "Confidential storage and retrieval of HR records"
        ]
      },
      {
        title: "Financial Reporting and Data Safeguarding",
        description: "Empress Control strengthens financial data protection with robust access controls, ensuring compliance and accuracy in financial activities.",
        listItems: [
          "Secure management of financial information",
          "Regulatory compliant access to financial data",
          "Safeguarding of sensitive financial transactions"
        ]
      },
      {
        title: "Supply Chain Information Security",
        description: "Optimize supply chain efficiency with controlled access to critical information, maintaining a balance between transparency and data security.",
        listItems: [
          "Regulated access to supply chain and inventory data",
          "Secure information sharing within supply chain operations",
          "Protected management of supplier and logistics details"
        ]
      }
    ]
  }
];



// Check Marks

const sectionData = {
  mainTitle: "Empress Retail Solutions",
  mainSubTitle: "Revolutionizing Retail Operations",
  description: "Empress offers solutions enhancing retail efficiency and customer engagement.",
  articles: [
    {
      title: "Financial Management",
      features: [
        "Advanced analytics insights",
        "Effective financial tools",
        "Sustainable growth strategies"
      ]
    },
    {
      title: "Sales Strategy",
      features: [
        "Improve Customer relationships",
        "Sales process streamlining",
        "Effective deal closure"
      ]
    },
    {
      title: "Product Development",
      features: [
        "Rapid product design",
        "Collaborative innovation tools",
        "Quicker market launches"
      ]
    },
    {
      title: "Operational Excellence",
      features: [
        "Automated process efficiency",
        "Workflow insights optimization",
        "Cost reduction practices"
      ]
    },
    {
      title: "Marketing Expansion",
      features: [
        "Dynamic audience strategies",
        "Brand visibility boost",
        "Impactful customer campaigns"
      ]
    },
    {
      title: "Talent Management",
      features: [
        "Top talent attraction",
        "Productive culture fostering",
        "Innovative team growth"
      ]
    },
    {
      title: "Customer Excellence",
      features: [
        "Unmatched experience delivery",
        "Lasting relationship building",
        "Market differentiation focus"
      ]
    },
    {
      title: "Sustainable Growth",
      features: [
        "Innovative industry leadership",
        "Strategic growth insights",
        "Competitive edge maintenance"
      ]
    }
  ]
};



// Section Nine

const faqs = {
  title: "Retail Management FAQs",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "How does Empress enhance retail inventory tracking?",
      answer: "Empress provides advanced tracking with real-time inventory updates, ensuring accurate stock levels and efficient replenishment for uninterrupted retail operations."
    },
    {
      question: "Can Empress integrate with my retail suppliers' systems?",
      answer: "Absolutely. Empress enables seamless integration with supplier systems, facilitating efficient ordering, tracking, and management of supplier relations, crucial for retail success."
    },
    {
      question: "Does Empress support batch tracking for retail products?",
      answer: "Yes, Empress's batch tracking is tailored for retail, allowing for detailed tracking of product batches from manufacturing to store shelves, enhancing product lifecycle management."
    },
    {
      question: "What retail-specific features does Empress PLM offer?",
      answer: "Empress PLM caters to retail with features like product lifecycle timelines, inventory phase tracking, and update monitoring, ensuring efficient management from product conception to sale."
    },
    {
      question: "How does Empress ensure high standards in retail product quality?",
      answer: "Our Quality Check System is designed for retail, with rigorous standards checks, issue tracking, and resolution recording to maintain and enhance product quality in retail."
    }
  ]
};



// Contact

const talkToYouSection = {
  title: "Connect with us",
  description: "We're eager to explore how Empress can revolutionize your retail business. Let's discuss your needs and see how our solutions can drive your retail success.",
  callToAction: {
    text: "Discover Empress for Retail",
    link: "/retail-solutions"
  },
  infoSections: [
    {
      title: "Innovating Retail at Empress",
      description: "Empress is dedicated to pushing the boundaries of retail technology, fostering environments where innovative retail solutions thrive."
    },
    {
      title: "Empress's Role in Education",
      description: "Through our partnerships, we're educating the next generation of retail professionals, equipped with the tools for retail's future."
    },
    {
      title: "Our Principles in Retail",
      description: "We adhere to principles that prioritize customer experience, data-driven retail decisions, and constant innovation in the retail sector."
    }
  ]
};

const infrastructureSection = {
  title: "Building the Retail Future with Empress",
  description: [
    "Empress stands as a pioneering force in crafting the foundational infrastructure necessary for the ongoing retail revolution. Our commitment transcends mere technological advancements; we deeply value and actively promote diversity and inclusivity within our organizational ethos. This approach is not just about broadening our perspectives—it's about enriching the very solutions we provide. By integrating a wide range of insights and experiences, Empress is able to offer more innovative, inclusive, and effectively tailored solutions for the retail sector. Our mission is clear: to drive the retail industry forward with cutting-edge solutions, while fostering an environment where varied voices, ideas, and cultures converge to create something truly exceptional for the retail landscape."
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>

  <section class="relative overflow-hidden border-b">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
      <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight mb-5">{hero.heroSection.header}</span>
            </h2> 
            <h2
              class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
              {hero.heroSection.title}
            </h2>
            <p class="text-slate-500 mt-5">
              {hero.heroSection.description}
            </p>
          </div>
          <div class="mt-10">
              <div class="mt-10 flex">
                <a href={hero.heroSection.callToActionLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium mr-4"
                   style="background-color: #5046e4; color: #fff; border: 2px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease;"
                   onmouseover="this.style.backgroundColor='#6767ff'; this.style.borderColor='#5046e4';"
                   onmouseout="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';"
                   onmousedown="this.style.backgroundColor='#3838b1'; this.style.borderColor='#6767ff';"
                   onmouseup="this.style.backgroundColor='#5046e4'; this.style.borderColor='#6767ff';">
                   {hero.heroSection.callToActionText}
                </a>
                <a href={hero.heroSection.callToActionTwoLink}
                   class="inline-flex items-center justify-center px-6 lg:px-8 py-3.5 rounded-full w-auto font-medium"
                   style="background-color: #fff; color: #333; border: none; border-radius: 30px; box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9); transition: all 0.2s ease;"
                   onmouseover="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseout="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmousedown="this.style.boxShadow='inset 4px 4px 8px rgba(0, 0, 0, 0.1), inset -4px -4px 8px rgba(255, 255, 255, 0.9)';"
                   onmouseup="this.style.boxShadow='4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.9)';">
                   {hero.heroSection.callToActionTwoText}
                </a>
              </div>
            </a>
          </div>
        </div>
        <div class="lg:mt-0 lg:ml-auto">
          <div
            class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
            <div class="flex items-center space-x-6 lg:space-x-8">
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                      src={hero.imageGrid[0].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[0].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[0].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[1].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[2].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[1].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[1].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-indigo-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[2].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[3].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[2].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[2].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[3].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[4].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[3].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[3].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
                <div class="h-full w-96 sm:opacity-0 lg:opacity-100">
                  <div
                    class="relative overflow-hidden rounded-2xl bg-green-600 p-8 z-50 shadow-xl lg:py-12 lg:gap-x-8">
                    <div
                      class="absolute inset-0 opacity-50 mix-blend-multiply saturate-0 filter">
                      <img
                        src={hero.imageGrid[4].imageUrl}
                        alt=""
                        class="h-full w-full object-cover"
                      />
                    </div>
                    <div class="relative">
                      <span>
                        <img src={hero.imageGrid[0].logoUrl} alt="" style="width: 30px; height: auto;" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {hero.imageGrid[4].description}
                        </p>
                        <p class="mt-6">
                          <a
                            href="/case-study"
                            class="text-white hover:text-blue-100 inline-flex items-center group">
                            {hero.imageGrid[4].caseStudyText}
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 20 20"
                              fill="currentColor"
                              class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path
                                fill-rule="evenodd"
                                d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <!-- Header -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{displayImage.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {displayImage.subtitle}
          <span class="lg:block">{displayImage.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={displayImage.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section>
  


  <!-- FeatureOne -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureOne.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureOne.mainContent.subtitle}
            </h2>
            {featureOne.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureOne.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureOne.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureOne.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureOne.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- FeatureTwo -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:order-first">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureTwo.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pl-24 md:pl-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureTwo.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureTwo.mainContent.subtitle}
            </h2>
            {featureTwo.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureTwo.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureTwo.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureTwo.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- FeatureThree -->


<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex py-14">
    <div class="lg:w-1/2 lg:pr-12">
      <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
        <div>
          <div class="lg:pr-24 md:pr-12">
            <h2 class="inline-flex items-center text-blue-600">
              <span class="text-base font-medium tracking-tight">{featureThree.mainContent.title}</span>
            </h2>
            <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
              {featureThree.mainContent.subtitle}
            </h2>
            {featureThree.mainContent.paragraphs.map(paragraph => (
              <p class="text-slate-500 mt-5">{paragraph}</p>
            ))}
                   <ul class="grid mt-6 text-left gap-y-4">
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[0]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[1]}</span>
                    </li>
              
                    <li class="flex items-center gap-3 text-slate-500">
                      <Icon name="ph:check-circle-fill" class="w-5 h-5 text-blue-600" />
              
                      <span class="text-sm">{featureThree.listItems[2]}</span>
                    </li>
                  </ul>
            <p class="mt-10">
              <a href={featureThree.mainContent.linkHref} class="text-blue-500 hover:text-blue-600 inline-flex items-center group">
                {featureThree.mainContent.linkText}
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                <path
                  fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
              </svg>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lg:w-1/2">
      <div class="flex-shrink-0 mt-10">
        <div style="flex-shrink: 0;">
          <img src={featureThree.mainContent.img} alt="Dashboard" style="width: 100%; height: auto; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);" />
        </div>
      </div>
    </div>
  </div>
</section>
  

  <!-- Dark Background -->


  <!-- Dark Background -->

<section class="bg-purple-900 transform skew-y-6 mt-20">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
    <div>
      <h2 class="inline-flex items-center text-white">
        <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
      </h2>
      <h2
        class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
        {darkBackground.sections[1].mainTitle}
      </h2>
    </div>
    <div class="mx-auto text-left mt-12">
      <div
          class="text-sm gap-x-2 gap-y-14 lg:gap-16 grid grid-cols-1 lg:grid-cols-3">
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center">
                <div
                class="flex items-center justify-center text-blue-400 rounded-full">
                </div>
                <p class="text-xl font-semibold text-white">
                  
                  {darkBackground.sections[1].points[0].title}
                </p>
              </div>
              <p class="text-base text-slate-400">
                {darkBackground.sections[1].points[0].description}
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center">
                <div
                  class="flex items-center justify-center text-blue-400 rounded-full">
                </div>
                <p class="text-xl font-semibold text-white">{darkBackground.sections[1].points[1].title}</p>
              </div>
              <p class="text-base text-slate-400">
                {darkBackground.sections[1].points[1].description}
              </p>
            </div>
          </article>
          <article>
            <div class="space-y-3">
              <div class="lg:inline-flex lg:items-center">
                <div
                  class="flex items-center justify-center text-blue-400 rounded-full">
                </div>
                <p class="text-xl font-semibold text-white">{darkBackground.sections[1].points[2].title}</p>
              </div>
              <p class="text-base text-slate-400">
                {darkBackground.sections[1].points[2].description}
              </p>
            </div>
          </article>
        </div>
    </div>
  </div>
</section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-16 items-center">
      {featureDetails.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>
  



  <!-- Feature Details -->

  <Ecosystem/>


  

  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>




  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
