---
import BaseLayout from "../layouts/BaseLayout.astro";

import JobsHome from "../components/jobs/JobsHome.astro";

import { AstroSeo } from "@astrolib/seo";



// Hero


const hero = {
  title: "Empower Your Retail Business",
  description: "Empress transforms retail operations by integrating innovative technology to enhance customer engagement and streamline sales processes. Join a community of forward-thinking retailers who leverage our platform for sustainable growth and market leadership.",
  callToAction: {
    text: "Discover Empress for Retail",
    link: "/retail-solutions"
  },
  imageGrid: [
    [
      "https://plus.unsplash.com/premium_photo-1661774976505-b0cf6ef31016?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://plus.unsplash.com/premium_photo-1661775434014-9c0e8d71de03?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80",
      "https://images.unsplash.com/photo-1600275669439-14e40452d20b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8b2ZmaWNlfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=800&q=60",
      "https://plus.unsplash.com/premium_photo-1661284806850-b709cb1262b7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
    ],
    [
      "https://plus.unsplash.com/premium_photo-1661771825670-1720428a80ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80",
      "https://images.unsplash.com/photo-1657819466043-2a4ae992f03f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80"
    ]
  ]
};


  // Stats
  const statsInfo = {
    header: "Retail Transformation",
    mainTitle: "Enhancing Retail Efficiency with Empress",
    subTitle: "Empress brings a new edge to the retail industry with its advanced analytical tools and intuitive solutions, making every transaction and operation more efficient and customer-centric.",
    statsData: [
      {
        value: "$70M",
      },
      {
        value: "3 months faster",
      },
      {
        value: "5%",
      },
      {
        value: "50 new countries",
      },
      {
        value: "600 Hours",
      },
      {
        value: "3 days less",
      },
      {
        value: "1 Million workers",
      },
      {
        value: "3 head quarters",
      }
    ]
  };


// Overview


const overview = {
  title: "Revolutionize Your Retail Operations",
  paragraphs: [
    "Empress is at the forefront of reinventing retail experiences. From small boutiques to large retail chains, our platform is designed to meet diverse needs, ensuring seamless operations and unparalleled customer satisfaction.",
    "Our suite of tools enhances everything from inventory management to customer engagement, paving the way for retail success."
  ],
  secondaryTitle: "Customer-Centric Solutions",
  secondaryParagraph: "In retail, the customer is king. Empress equips you with tools to understand and anticipate customer needs, delivering personalized experiences that drive loyalty and growth.",
  quote: "Empress is not just a platform; it's a growth partner for retailers.",
  callToAction: {
    text: "Explore Retail Solutions",
    link: "/retail-solutions"
  },
  image: "https://images.unsplash.com/photo-1590650153855-d9e808231d41?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80"
};

// Dark Background

const darkBackground = {
  sections: [
    {
      type: "feature",
      title: "Seamless Retail Integrations",
      mainTitle: "Unified Systems for Retail Excellence",
      descriptions: [
        "Empress seamlessly unites various retail tools, creating an integrated ecosystem that enhances operational efficiency and data coherence.",
        "From POS systems to inventory management, our integration capabilities ensure all your tools work in harmony."
      ],
      imagePaths: ["images of integrated retail systems"],
      bgColor: "white",
      textColor: "blue-600",
      gridCols: "lg:grid-cols-2"
    },
    {
      type: "featureSkewed",
      title: "Retail Workflow Optimization",
      mainTitle: "Where Efficiency Meets Innovation",
      description: "Empress not only connects retail systems but also streamlines workflows, reducing manual effort and enhancing customer experience.",
      points: [
        {
          title: "Comprehensive Retail Compatibility",
          description: "Our platform supports a wide range of retail tools, ensuring seamless operations across your business."
        },
        {
          title: "Real-Time Retail Data Synchronization",
          description: "Empress provides accurate, real-time insights, vital for making informed retail decisions."
        },
        {
          title: "Tailored Retail Integration",
          description: "Customize integrations to suit your specific retail needs, fostering growth and scalability."
        }
      ],
      bgColor: "purple-900",
      textColor: "white",
      gridCols: "lg:grid-cols-3",
      transform: "skew-y-6",
      marginAdjustment: "-mt-72 lg:-mt-[26rem]"
    }
  ]
};


// Use Cases

const features = [
  {
    header: {
      mainTitle: "Empress Control",
      subTitle: "Precision Access, Enhanced Security",
      description: "Empress Control delivers sophisticated access management solutions, enabling secure and efficient data handling across various business sectors."
    },
    featureSections: [
      {
        title: "Targeted Marketing Team Access",
        description: "Empress Control offers precise access controls for marketing teams, safeguarding sensitive campaign data while promoting creative collaboration.",
        listItems: [
          "Customized access to marketing tools and data",
          "Secure management of marketing campaigns",
          "Enhanced collaboration with controlled data sharing"
        ]
      },
      {
        title: "Confidential Sales Information Protection",
        description: "Maintain the integrity of your sales data with tailored access permissions, ensuring data security and strategic discretion.",
        listItems: [
          "Controlled access to critical sales data",
          "Custom visibility settings for sales metrics",
          "Data integrity and confidentiality for strategic decisions"
        ]
      },
      {
        title: "Customer Service Data Privacy",
        description: "Empress Control enables your customer service team to access necessary data while prioritizing customer privacy and data security.",
        listItems: [
          "Regulated access to customer interactions",
          "Confidential handling of service records",
          "Privacy-centric approach in customer service"
        ]
      },
      {
        title: "Human Resources Data Governance",
        description: "Effectively manage sensitive HR data with Empress Control, ensuring compliance and employee privacy.",
        listItems: [
          "Secure access to personal employee information",
          "Regulatory compliance in HR data management",
          "Confidential storage and retrieval of HR records"
        ]
      },
      {
        title: "Financial Reporting and Data Safeguarding",
        description: "Empress Control strengthens financial data protection with robust access controls, ensuring compliance and accuracy in financial activities.",
        listItems: [
          "Secure management of financial information",
          "Regulatory compliant access to financial data",
          "Safeguarding of sensitive financial transactions"
        ]
      },
      {
        title: "Supply Chain Information Security",
        description: "Optimize supply chain efficiency with controlled access to critical information, maintaining a balance between transparency and data security.",
        listItems: [
          "Regulated access to supply chain and inventory data",
          "Secure information sharing within supply chain operations",
          "Protected management of supplier and logistics details"
        ]
      }
    ]
  }
];



// Check Marks

const sectionData = {
  mainTitle: "Empress Retail Solutions",
  mainSubTitle: "Revolutionizing Retail Operations",
  description: "Empress offers solutions enhancing retail efficiency and customer engagement.",
  articles: [
    {
      title: "Financial Management",
      features: [
        "Advanced analytics insights",
        "Effective financial tools",
        "Sustainable growth strategies"
      ]
    },
    {
      title: "Sales Strategy",
      features: [
        "Improve Customer relationships",
        "Sales process streamlining",
        "Effective deal closure"
      ]
    },
    {
      title: "Product Development",
      features: [
        "Rapid product design",
        "Collaborative innovation tools",
        "Quicker market launches"
      ]
    },
    {
      title: "Operational Excellence",
      features: [
        "Automated process efficiency",
        "Workflow insights optimization",
        "Cost reduction practices"
      ]
    },
    {
      title: "Marketing Expansion",
      features: [
        "Dynamic audience strategies",
        "Brand visibility boost",
        "Impactful customer campaigns"
      ]
    },
    {
      title: "Talent Management",
      features: [
        "Top talent attraction",
        "Productive culture fostering",
        "Innovative team growth"
      ]
    },
    {
      title: "Customer Excellence",
      features: [
        "Unmatched experience delivery",
        "Lasting relationship building",
        "Market differentiation focus"
      ]
    },
    {
      title: "Sustainable Growth",
      features: [
        "Innovative industry leadership",
        "Strategic growth insights",
        "Competitive edge maintenance"
      ]
    }
  ]
};



// Section Nine

const faqs = {
  title: "Retail Management FAQs",
  subtitle: "Empowering Retail with Informed Solutions",
  questions: [
    {
      question: "How does Empress enhance retail inventory tracking?",
      answer: "Empress provides advanced tracking with real-time inventory updates, ensuring accurate stock levels and efficient replenishment for uninterrupted retail operations."
    },
    {
      question: "Can Empress integrate with my retail suppliers' systems?",
      answer: "Absolutely. Empress enables seamless integration with supplier systems, facilitating efficient ordering, tracking, and management of supplier relations, crucial for retail success."
    },
    {
      question: "Does Empress support batch tracking for retail products?",
      answer: "Yes, Empress's batch tracking is tailored for retail, allowing for detailed tracking of product batches from manufacturing to store shelves, enhancing product lifecycle management."
    },
    {
      question: "What retail-specific features does Empress PLM offer?",
      answer: "Empress PLM caters to retail with features like product lifecycle timelines, inventory phase tracking, and update monitoring, ensuring efficient management from product conception to sale."
    },
    {
      question: "How does Empress ensure high standards in retail product quality?",
      answer: "Our Quality Check System is designed for retail, with rigorous standards checks, issue tracking, and resolution recording to maintain and enhance product quality in retail."
    }
  ]
};



// Contact

const talkToYouSection = {
  title: "We want to talk to you",
  description: "We're eager to explore how Empress can revolutionize your retail business. Let's discuss your needs and see how our solutions can drive your retail success.",
  callToAction: {
    text: "Discover Empress for Retail",
    link: "/retail-solutions"
  },
  infoSections: [
    {
      title: "Innovating Retail at Empress",
      description: "Empress is dedicated to pushing the boundaries of retail technology, fostering environments where innovative retail solutions thrive."
    },
    {
      title: "Empress's Role in Education",
      description: "Through our partnerships, we're educating the next generation of retail professionals, equipped with the tools for retail's future."
    },
    {
      title: "Our Principles in Retail",
      description: "We adhere to principles that prioritize customer experience, data-driven retail decisions, and constant innovation in the retail sector."
    }
  ]
};

const infrastructureSection = {
  title: "Building the Retail Future with Empress",
  description: [
    "Empress stands as a pioneering force in crafting the foundational infrastructure necessary for the ongoing retail revolution. Our commitment transcends mere technological advancements; we deeply value and actively promote diversity and inclusivity within our organizational ethos. This approach is not just about broadening our perspectives—it's about enriching the very solutions we provide. By integrating a wide range of insights and experiences, Empress is able to offer more innovative, inclusive, and effectively tailored solutions for the retail sector. Our mission is clear: to drive the retail industry forward with cutting-edge solutions, while fostering an environment where varied voices, ideas, and cultures converge to create something truly exceptional for the retail landscape."
  ]
};


---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Jobs"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<section class="relative overflow-hidden border-b">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center lg:py-44">
    <div class="items-start gap-12 grid grid-cols-1 md:grid-cols-2">
      <div>
        <div class="lg:pr-24 md:pr-12">
          <h2 class="text-purple-900 font-semibold text-4xl lg:text-7xl tracking-tighter">
            {hero.title}
          </h2>
          <p class="text-slate-500 mt-5">
            {hero.description}
          </p>
        </div>
        <div class="mt-10">
          <a
            class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto"
            href={hero.callToAction.link}
          >
            {hero.callToAction.text}
          </a>
        </div>
      </div>
      <div class="lg:mt-0 lg:ml-auto">
        <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
          <div class="flex items-center space-x-6 lg:space-x-8">
            {hero.imageGrid.map((imageRow, index) => (
              <div key={index} class="grid flex-shrink-0 grid-cols-1 gap-y-6 lg:gap-y-8">
                {imageRow.map((image, imageIndex) => (
                  <div key={imageIndex} class="h-full w-44">
                    <img src={image} alt="thumbnail" class="drop-shadow-2xl rounded-2xl"/>
                  </div>
                ))}
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  

<!-- Stats Info -->

  
  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{statsInfo.header}</span>
        </h2>
  
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {statsInfo.mainTitle}
        </h2>
        <div>
          <p class="text-slate-500 mt-6">
            {statsInfo.subTitle}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsInfo.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="border-l-4 pl-4 font-semibold border-blue-500 tracking-tight text-purple-900">
                  {stat.value}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <!-- Dark Background -->



  <section >
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center rounded-full text-blue-600">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[0].title}</span>
        </h2>
        <h2
          class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {darkBackground.sections[0].mainTitle}
          <span class="lg:block">{darkBackground.sections[0].secondaryTitle}</span>
        </h2>
        <div class="mx-auto text-left mt-12">
          <div>
            <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[0]}
                </p>
              </div>
              <div>
                <p class="text-slate-500">
                  {darkBackground.sections[0].descriptions[1]}
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="grid lg:grid-cols-4 grid-cols-2 mt-24 gap-3">
          <div>
            <img
              src={darkBackground.sections[0].imagePaths[0]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[1]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
          </div>
          <div class="lg:col-span-2">
            <img
            src={darkBackground.sections[0].imagePaths[2]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[3]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6"
            />
            <img
            src={darkBackground.sections[0].imagePaths[4]}
              alt="thumbnail"
              class="drop-shadow-2xl mt-6 lg:hidden block"
            />
          </div>
          <div class="hidden lg:block">
            <img
            src={darkBackground.sections[0].imagePaths[5]}
              alt="thumbnail"
              class="drop-shadow-2xl"
            />
            <img
            src={darkBackground.sections[0].imagePaths[6]}
              alt="thumbnail"
              class="rounded-2xl drop-shadow-2xl mt-6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-purple-900 transform skew-y-6 -mt-72 lg:-mt-[26rem]">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 lg:py-52 items-center transform -skew-y-6">
      <div>
        <h2 class="inline-flex items-center text-white">
          <span class="text-base font-medium tracking-tight">{darkBackground.sections[1].title}</span>
        </h2>
        <h2
          class="tracking-tighter lg:text-5xl text-white font-semibold mt-6 text-3xl lg:mx-auto">
          {darkBackground.sections[1].mainTitle} <span class="lg:block"
            >{darkBackground.sections[1].secondaryTitle}</span
          >
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-white">
            {darkBackground.sections[1].description}
          </p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[0].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[0].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[1].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[1].description}
                </p>
              </div>
            </div>
            <div>
              <div class="space-y-3">
                <div>
                  <p class="mt-5 font-semibold text-white text-base">
                    {darkBackground.sections[1].points[2].title}
                  </p>
                </div>
                <p class="text-sm text-white">
                  {darkBackground.sections[1].points[2].description}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Use Cases -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>



  <!-- Feature Details -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{sectionData.description}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>
  
  

  <!-- FAQS -->


  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faqs.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faqs.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faqs.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>




  <!-- Contact -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
          {talkToYouSection.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {talkToYouSection.description}
          </p>
        </div>
        <div class="mt-10">
          <a href={talkToYouSection.callToAction.link} class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-auto">
            {talkToYouSection.callToAction.text}
          </a>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-4">
            {talkToYouSection.infoSections.map((section, index) => (
              <div key={index} class="space-y-3">
                <div class="lg:inline-flex lg:items-center lg:gap-3">
                  {/* Icon rendering logic */}
                  <p class="mt-5 font-semibold text-purple-900 lg:mt-0">
                    {section.title}
                  </p>
                </div>
                <p class="text-sm text-slate-500 mt-5">
                  {section.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="bg-slate-50">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold">
          {infrastructureSection.title}
        </h2>
        {infrastructureSection.description.map((paragraph, index) => (
          <p key={index} class="text-slate-500 text-sm mt-6">
            {paragraph}
          </p>
        ))}
      </div>
    </div>
  </section>
  
</BaseLayout>
