---
import BaseLayout from "../layouts/BaseLayout.astro";

import AboutOne from "../components/about/AboutOne.astro";
import FeatureEleven from "../components/features/FeatureEleven.astro";
import TestimonialFour from "../components/testimonials/TestimonialFour.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import StatsTwo from "../components/stats/StatsTwo.astro";
import CtaOne from "../components/cta/CtaOne.astro";
import { Code } from "astro/components";
import { AstroSeo } from "@astrolib/seo";
import GetStarted from "../components/features/GetStarted.astro";


// Header

const header = {
  title: "Empress Security",
  subtitle: "Safeguard Your Business,",
  subtitleCont: "Secure Your Information.",
  imageSrc: "/images/chart.jpg"
};


const statsContent = {
  sectionTitle: "Security at the Core of Business",
  mainHeading: "Robust Protection for Your Operations",
  statsData: [
    {
      value: "Advanced",
      description: "state-of-the-art encryption"
    },
    {
      value: "Compliant",
      description: "adherence to global standards"
    },
    {
      value: "Proactive",
      description: "continuous threat monitoring"
    },
    {
      value: "Customizable",
      description: "tailored security protocols"
    }
  ]
};


const fourFeatures = {
  title: "Empress Security",
  subtitle: "Fortifying Your Digital Presence",
  description: "Empress Security provides comprehensive, advanced protection for your business, ensuring that your data, operations, and communications are secure and resilient against digital threats.",
  features: [
    {
      title: "Data Encryption",
      description: "Protect sensitive information with our cutting-edge encryption technology, ensuring data integrity and confidentiality.",
      imageUrl: "/images/dashboard.jpg",
    },
    {
      title: "Regulatory Compliance",
      description: "Stay compliant with global data protection regulations, safeguarding your business from legal and financial risks.",
      imageUrl: "/images/dashboard.jpg",
    },
    {
      title: "Threat Detection",
      description: "Benefit from proactive threat monitoring and rapid response mechanisms to keep your business operations secure.",
      imageUrl: "/images/dashboard.jpg",
    },
    {
      title: "Security Customization",
      description: "Customize security settings to meet the specific needs of your business, maintaining flexibility without compromising on safety.",
      imageUrl: "/images/dashboard.jpg",
    },
  ],
};


const featureTwo = {
  header: {
    title: "Enhanced Data Privacy",
    mainTitle: "Your Data, Guarded and Private",
    subTitle: "Empress ensures that your data is not only secure but also managed with the utmost respect for privacy."
  },
  columns: [
    {
      title: "Privacy By Design",
      listItems: [
        "Incorporate privacy into the design of our systems",
        "Ensure data minimization and anonymization",
        "Enable user control over their personal data"
      ]
    },
    {
      title: "Compliance Management",
      listItems: [
        "Automate compliance with data privacy laws",
        "Regular updates for changing regulations",
        "Compliance checks and audits"
      ]
    }
  ],
  imageSrc: "/images/dashboard.jpg"
};


// Feature List
const features = [
  {
    header: {
      mainTitle: "Securing Every Aspect of Your Business",
      subTitle: "Empress Security: A Trustworthy Guardian",
      description: "From financial transactions to client communications, Empress Security ensures comprehensive protection across all business functions."
    },
    featureSections: [
      {
        title: "Financial Data Security",
        description: "Secure your financial transactions and records against unauthorized access and fraud.",
        listItems: [
          "Transaction Encryption",
          "Fraud Prevention Mechanisms",
          "Secure Financial Reporting"
        ]
      },
      {
        title: "Operational Security",
        description: "Guard your operational data and automate your processes with our secure and robust solutions.",
        listItems: [
          "Protected Operational Workflows",
          "Automated Security in Operations",
          "Secure Data Storage and Access"
        ]
      },
      {
        title: "Client Data Protection",
        description: "Maintain the confidentiality and integrity of client information, building trust and compliance.",
        listItems: [
          "Client Information Encryption",
          "Privacy-Focused Client Management",
          "Secure Communication Channels"
        ]
      },
      {
        title: "Employee Data Safety",
        description: "Ensure the security of your employee data with strict access controls and data protection measures.",
        listItems: [
          "Employee Data Privacy",
          "Access Control Systems",
          "Secure HR Management Tools"
        ]
      },
      {
        title: "Marketing Data Security",
        description: "Protect your marketing strategies and customer insights with advanced security measures.",
        listItems: [
          "Marketing Campaign Protection",
          "Secure Customer Analytics",
          "Protected Marketing Channels"
        ]
      },
      {
        title: "Collaboration Security",
        description: "Collaborate safely with secure sharing tools and communication platforms within your business.",
        listItems: [
          "Secure Collaboration Tools",
          "Protected Communication Networks",
          "Safe Sharing of Sensitive Information"
        ]
      }
    ]
  }
];

// Overview

const overview = {
  title: "Your Fortified Digital Ally",
  paragraphs: [
    "Empress Security is not just a feature; it's a commitment to safeguarding your business in the digital landscape. With our state-of-the-art encryption, compliance with global standards, and proactive threat monitoring, we ensure that your business data and operations are protected against all forms of cyber threats.",
    "Choose Empress Security and gain the confidence to grow your business, knowing that its digital backbone is secure and resilient."
  ],
  secondaryTitle: "A New Era of Digital Security",
  secondaryParagraph: "With Empress Security, step into a future where your business's digital security is uncompromised and unbreachable.",
  quote: "Empress Security: Where advanced technology meets ironclad protection.",
  callToAction: {
    text: "Secure Your Business with Empress",
    link: "/security"
  },
  image: "https://images.unsplash.com/photo-1581090700227-1e37b190418e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
};



// Check Marks

const sectionData = {
  mainTitle: "Security Features",
  mainSubTitle: "Comprehensive Protection for Every Layer",
  articles: [
    {
      title: "Data Encryption",
      features: [
        "Advanced Encryption Techniques",
        "Secure Data Transmission",
        "Encrypted Storage Solutions"
      ]
    },
    {
      title: "Privacy and Compliance",
      features: [
        "Global Standard Adherence",
        "Privacy-Centric Design",
        "Regulatory Compliance Automation"
      ]
    },
    {
      title: "Threat Detection and Response",
      features: [
        "Continuous Monitoring Systems",
        "Rapid Threat Response Protocols",
        "Regular Security Audits"
      ]
    },
    {
      title: "User Access Control",
      features: [
        "Role-Based Access Permissions",
        "Multi-Factor Authentication",
        "User Activity Monitoring"
      ]
    },
    {
      title: "Cloud Security",
      features: [
        "Secure Cloud Hosting",
        "Cloud Data Protection",
        "Cloud Access Security"
      ]
    },
    {
      title: "Secure Communication",
      features: [
        "Encrypted Communication Channels",
        "Secure Messaging Platforms",
        "Protected Email Systems"
      ]
    }
  ]
};


// FAQs
const faq = {
  title: "FAQ",
  subtitle: "Your Questions, Answered",
  questions: [
    {
      question: "How does Empress ensure comprehensive data security?",
      answer: "Empress employs multi-layered security strategies, including advanced encryption, rigorous access controls, and real-time threat monitoring. These measures are designed to protect data integrity, confidentiality, and availability, safeguarding your business against both internal and external threats."
    },
    {
      question: "What compliance standards does Empress meet?",
      answer: "Empress strictly adheres to international compliance standards such as GDPR, HIPAA, and others, ensuring that your business meets global regulatory requirements. Our compliance framework includes regular audits, policy updates, and user training to maintain the highest level of data protection and privacy."
    },
    {
      question: "Can I tailor Empress's security features to fit my business needs?",
      answer: "Absolutely. Empress offers customizable security settings, allowing your business to adjust security protocols according to specific needs. This flexibility ensures that you have the right level of security for different areas of your business, from customer data protection to internal communications."
    },
    {
      question: "How does Empress respond to and manage security breaches?",
      answer: "In the unlikely event of a security breach, Empress has a robust incident response plan in place. This includes immediate threat containment, comprehensive investigation, and prompt corrective actions. Our team also communicates transparently with all affected parties and implements measures to prevent future incidents."
    },
    {
      question: "Does Empress provide support and training for security management?",
      answer: "Yes, Empress offers extensive support and training in security management. Our team is available to assist with setting up security protocols, understanding compliance requirements, and training your staff on best security practices. We are committed to not only providing tools but also empowering your team to use them effectively for optimal security."
    }
  ]
};



---



<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="About 01"
  description="Your site description goes here"
  canonical="https://www.lexingtonthemes.com"
  openGraph={{
    url: "https://www.lexingtonthemes.com",
    title: "Open Graph Title",
    description: "Open Graph Description",
    images: [
      {
        url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg",
        width: 1200,
        height: 630,
        alt: "Social open graph",
        type: "image/jpeg",
      },
      {
        url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg",
        width: 4096,
        height: 4096,
        alt: "Twitter open graph",
        type: "image/jpeg",
      },
      { url: "https://www.lexingtonthemes.com/opengraph/social-og.jpg" },
      { url: "https://www.lexingtonthemes.com/opengraph/twitter-og.jpg" },
    ],
    site_name: "YourSitesName",
  }}
  twitter={{
    handle: "@TwitterHandle",
    site: "@site",
    cardType: "summary_large_image",
  }}
/>
<BaseLayout>


<!-- Header -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="lg:text-center">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{header.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {header.subtitle}
          <span class="lg:block">{header.subtitleCont}</span>
        </h2>
      </div>
      <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
        <img src={header.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
      </div>
    </div>
  </section>

    <!-- Section 2 -->

    <section class="bg-white">
      <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
        <div>
          <h2 class="inline-flex items-center text-blue-600">
            <span class="text-base font-medium tracking-tight">{statsContent.sectionTitle}</span>
          </h2>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
            {statsContent.mainHeading}
          </h2>
        </div>
        <div class="mx-auto text-left mt-12">
          <div class="gap-6 grid grid-cols-1 lg:grid-cols-4">
            {statsContent.statsData.map((stat) => (
              <div key={stat.value}>
                <p class="text-4xl font-light tracking-tight lg:text-5xl text-blue-500">
                  {stat.value}
                </p>
                <p class="text-slate-500 mt-6 border-blue-500">
                  {stat.description}
                </p>
              </div>
            ))}
          </div>
        </div>
      </div>
    </section>

  <!-- Sections -->

  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div class="max-w-xl">
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{fourFeatures.subtitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {fourFeatures.title}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">
            {fourFeatures.description}
          </p>
        </div>
      </div>
      <div>
        <ul role="list" class="grid grid-cols-2 lg:grid-cols-2 gap-4 list-none lg:gap-24 mt-6 lg:mt-24">
          {fourFeatures.features.map((feature) => (
            <li key={feature.title}>
              <div>
                <p class="font-semibold text-purple-900 text-2xl">{feature.title}</p>
              </div>
              <div class="mt-2 text-slate-500">
                {feature.description}
              </div>
              <img src={feature.imageUrl} alt="thumbnail" class="shadow-xl rounded-4xl mt-12" />
            </li>
          ))}
        </ul>
      </div>
    </div>
  </section>

  

<GetStarted/>



<!-- Feature Two -->

  <section class="overflow-hidden border-b">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 pt-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{featureTwo.header.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {featureTwo.header.mainTitle}
        </h2>
        <div class="max-w-xl mt-6">
          <p class="text-slate-500">{featureTwo.header.subTitle}</p>
        </div>
      </div>
      <div class="mx-auto text-left mt-12">
        <div>
          <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {featureTwo.columns.map(column => (
              <div>
                <div>
                  <p class="font-semibold text-purple-900">{column.title}</p>
                  <div class="mt-6">
                    <ul role="list" class="order-last flex flex-col gap-y-2 text-sm text-slate-500">
                      {column.listItems.map(item => (
                        <li class="flex items-start">
                          — <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          <div class="w-full -mb-12 mt-12 ring-1 ring-slate-200 bg-slate-50 rounded-t-3xl p-3">
            <img src={featureTwo.imageSrc} alt="thumbnail" class="drop-shadow-2xl rounded-t-2xl w-full ring-1 ring-slate-200" />
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Feature List -->


  <section class="bg-white">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-32 items-center">
      {features.map((feature, featureIndex) => (
        <div key={featureIndex}>
          <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-8 text-3xl">
            {feature.header.mainTitle}
           </h2>
           <p class="mt-4 text-slate-600 text-lg">
            {feature.header.description}
        </p>
          <div class="mt-16">
            {feature.featureSections.map((section, index) => (
              <div key={index} class="lg:col-span-3 lg:col-start-3">
                <div class="grid grid-cols-1 lg:grid-cols-3">
                  <div class="bg-slate-50 border-l-2 border-blue-500">
                    <div class="p-6 border-t">
                      <p class="font-semibold text-purple-900">{section.title}</p>
                    </div>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l border-l-0">
                    <p class="text-slate-500 text-sm">{section.description}</p>
                  </div>
                  <div class="lg:col-span-1 p-6 border-t lg:border-l">
                    <ul role="list" class="order-last flex flex-col gap-y-3 text-sm text-slate-500">
                      {section.listItems.map((item, itemIndex) => (
                        <li key={itemIndex} class="flex items-start">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-check" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                            <path d="M9 12l2 2l4 -4"></path>
                          </svg>
                          <span class="ml-4">{item}</span>
                        </li>
                      ))}
                    </ul>
                  </div>
                </div>
              </div>
            ))}
          </div>
          {featureIndex < features.length - 1 && (
            <div class="grid grid-cols-1 lg:grid-cols-5 pt-8 border-t"></div>
          )}
        </div>
      ))}
    </div>
  </section>


  <!-- Information -->

  <section aria-labelledby="feature-four" id="feature-four">
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-14 items-center">
      <div>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl w-1/2">
          {overview.title}
        </h2>
        <div class="mx-auto text-left mt-12">
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2">
            {overview.paragraphs.map((paragraph, index) => (
              <div key={index}>
                <p class="text-slate-500">{paragraph}</p>
              </div>
            ))}
          </div>
          <div class="lg:gap-12 grid grid-cols-1 lg:grid-cols-2 mt-24">
            <div>
              <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
                {overview.secondaryTitle}
              </h2>
              <p class="text-slate-500 mt-4">
                {overview.secondaryParagraph}
              </p>
              <blockquote class="text-slate-500 mt-4">
                <p class="font-medium">
                  {overview.quote}
                </p>
              </blockquote>
              <p class="mt-12">
                <a href={overview.callToAction.link}
                  class="text-blue-600 font-semibold hover:text-purple-900 text-sm inline-flex items-center group">
                  {overview.callToAction.text} &nbsp; &rarr;
                </a>
              </p>
            </div>
            <div class="relative overflow-hidden rounded-2xl p-8 shadow-xl lg:py-12 h-full">
              <div class="absolute inset-0">
                <img src={overview.image} alt="" class="h-full w-full object-cover"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  

  

  <!-- Feature List -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-12 items-center mt-20">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{sectionData.mainTitle}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {sectionData.mainSubTitle}
        </h2>
      </div>
      <div class="mx-auto text-left mt-12">
        <div class="gap-x-2 gap-y-14 lg:gap-12 grid grid-cols-1 lg:grid-cols-3">
          {sectionData.articles.map((article) => (
            <article>
              <div>
                <p class="font-semibold text-purple-900 text-base">{article.title}</p>
                <div class="mt-6">
                  <ul role="list" class="order-last flex flex-col gap-y-2 text-slate-500 text-sm">
                    {article.features.map((feature) => (
                      <li class="flex items-start">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-circle-check"
                        width="20"
                        height="20"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
                        ></path>
                        <path d="M9 12l2 2l4 -4"></path>
                      </svg>
                        <span class="ml-4">{feature}</span>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </article>
          ))}
        </div>
      </div>
    </div>
  </section>  

  <!-- Faqs -->

  <section>
    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
      <div>
        <h2 class="inline-flex items-center text-blue-600">
          <span class="text-base font-medium tracking-tight">{faq.title}</span>
        </h2>
        <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
          {faq.subtitle}
        </h2>
        <div class="mt-12 space-y-12 bg-slate-50 rounded-3xl p-4 lg:p-10 divide-y">
          {faq.questions.map((faq, index) => (
            <div key={index} class={`grid grid-cols-1 gap-4 ${index !== 0 ? 'pt-4 lg:pt-12' : ''} lg:grid-cols-3`}>
              <div class="flex flex-col flex-shrink-0 mb-5 lg:pr-12">
                <span class="font-semibold text-purple-900">{faq.question}</span>
              </div>
              <div class="lg:col-span-2">
                <p class="text-slate-500">{faq.answer}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </div>
  </section>
  

  <CtaOne />
</BaseLayout>
