---
import BaseLayout from "../layouts/BaseLayout.astro";

import HeaderThree from "../components/headers/HeaderOne.astro";
import StatsOne from "../components/stats/StatsOne.astro";
import FeatureEight from "../components/features/FeatureEight.astro";
import FeatureNine from "../components/features/FeatureNine.astro";
import FeatureTen from "../components/features/FeatureTen.astro";

import TestimonialThree from "../components/testimonials/TestimonialThree.astro";
import PricingThree from "../components/pricing/PricingThree.astro";
import PricingThreeExtended from "../components/pricing/PricingThreeExtended.astro";
import FaqTwo from "../components/infopages/FaqTwo.astro";
import CtaTwo from "../components/cta/CtaTwo.astro";
import FeatureSix from "../components/features/FeatureSix.astro";
import AllFeatures from "../components/features/AllFeatures.astro";
import FeatureFour from "../components/features/FeatureFour.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import { Code } from "astro/components";

import { AstroSeo } from "@astrolib/seo";


const sectionEleven = {
  title: "We're Here To Help",
  subtitle: "Your Success is Our Business",
  blocks: [
    {
      imageUrl: "https://images.unsplash.com/photo-1573164574230-db1d5e960238?q=80&w=1738&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      text: "Start your journey with Empress, and seamlessly integrate your operations with our comprehensive suite.",
      url: "/pricing",
      linkText: "Get Started with Empress"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1664575599730-0814817939de?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      text: "Discover the full potential of Empress Applications tailored for your business's unique needs.",
      url: "/suite/apps",
      linkText: "Explore Empress Applications"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1517048676732-d65bc937f952?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      text: "Enhance your Empress experience with our wide range of integrations for increased efficiency and connectivity.",
      url: "/integrations/apps",
      linkText: "View Empress Integrations"
    },
    {
  "imageUrl": "https://images.unsplash.com/photo-1586339949916-3e9457bef6d3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG5ld3N8ZW58MHx8MHx8fDA%3D",
  "text": "Read the latest news, insights, and more to enhance your business efficiency and growth.",
  "url": "https://blog.empress.eco",
  "linkText": "Visit Our Blog"
},
{
  "imageUrl": "https://images.unsplash.com/photo-1587620962725-abab7fe55159?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
  "text": "Find in-depth developer guides diving into the details of Empress's applications.",
  "url": "https://docs.empress.eco",
  "linkText": "Explore Documentation"
},
    {
      imageUrl: "https://images.unsplash.com/photo-1582213782179-e0d53f98f2ca?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      text: "Join the Empress Community to connect, share ideas, and grow with a network of professionals and experts.",
      url: "/community",
      linkText: "Join Our Community"
    }
  ]
};


---

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-10 items-center">
    <div class="max-w-xl">
      <h2 class="inline-flex items-center rounded-full text-blue-600">
        <span class="text-base font-medium tracking-tight">{sectionEleven.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {sectionEleven.subtitle}
      </h2>
    </div>
    <div class="mx-auto mt-12">
      <div class="flex flex-wrap -m-1 md:-m-2">
        <div class="p-1 w-full md:w-1/3">
          <div class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
            <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
              <img src={sectionEleven.blocks[0].imageUrl} alt="" class="h-full w-full object-cover" />
            </div>
            <div class="relative lg:col-span-1">
              <span>
                <img src={sectionEleven.blocks[0].integrationImage} alt="" />
              </span>
              <blockquote class="mt-6 text-white lg:mt-32">
                <p class="font-medium">
                  {sectionEleven.blocks[0].text}
                </p>
                <p class="mt-6">
                  <a href={sectionEleven.blocks[0].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                    {sectionEleven.blocks[0].linkText}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                </p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="p-1 w-full md:w-1/3">
          <div class="relative overflow-hidden rounded-2xl bg-pink-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
            <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
              <img src={sectionEleven.blocks[1].imageUrl} alt="" class="h-full w-full object-cover" />
            </div>
            <div class="relative lg:col-span-1">
              <span>
                <img src={sectionEleven.blocks[1].integrationImage} alt="" />
              </span>
              <blockquote class="mt-6 text-white lg:mt-32">
                <p class="font-medium">
                  {sectionEleven.blocks[1].text}
                </p>
                <p class="mt-6">
                  <a href={sectionEleven.blocks[1].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                    {sectionEleven.blocks[1].linkText}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                </p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="p-1 w-full md:w-1/3">
          <div class="relative overflow-hidden rounded-2xl bg-purple-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
            <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
              <img src={sectionEleven.blocks[2].imageUrl} alt="" class="h-full w-full object-cover" />
            </div>
            <div class="relative lg:col-span-1">
              <span>
                <img src={sectionEleven.blocks[2].integrationImage} alt="" />
              </span>
              <blockquote class="mt-6 text-white lg:mt-32">
                <p class="font-medium">
                  {sectionEleven.blocks[2].text}
                </p>
                <p class="mt-6">
                  <a href={sectionEleven.blocks[2].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                    {sectionEleven.blocks[2].linkText}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                </p>
              </blockquote>
            </div>
          </div>
        </div>
                <!-- ...previous blocks... -->

                <div class="p-1 w-full md:w-1/3">
                  <div class="relative overflow-hidden rounded-2xl bg-slate-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
                    <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                      <img src={sectionEleven.blocks[3].imageUrl} alt="" class="h-full w-full object-cover" />
                    </div>
                    <div class="relative lg:col-span-1">
                      <span>
                        <img src={sectionEleven.blocks[3].integrationImage} alt="" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {sectionEleven.blocks[3].text}
                        </p>
                        <p class="mt-6">
                          <a href={sectionEleven.blocks[3].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                            {sectionEleven.blocks[3].linkText}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
        
                <div class="p-1 w-full md:w-1/3">
                  <div class="relative overflow-hidden rounded-2xl bg-green-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
                    <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                      <img src={sectionEleven.blocks[4].imageUrl} alt="" class="h-full w-full object-cover" />
                    </div>
                    <div class="relative lg:col-span-1">
                      <span>
                        <img src={sectionEleven.blocks[4].integrationImage} alt="" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {sectionEleven.blocks[4].text}
                        </p>
                        <p class="mt-6">
                          <a href={sectionEleven.blocks[4].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                            {sectionEleven.blocks[4].linkText}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
        
                <div class="p-1 w-full md:w-1/3">
                  <div class="relative overflow-hidden rounded-2xl bg-blue-600 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                    <div class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                      <img src={sectionEleven.blocks[5].imageUrl} alt="" class="h-full w-full object-cover" />
                    </div>
                    <div class="relative lg:col-span-1">
                      <span>
                        <img src={sectionEleven.blocks[5].integrationImage} alt="" />
                      </span>
                      <blockquote class="mt-6 text-white lg:mt-32">
                        <p class="font-medium">
                          {sectionEleven.blocks[5].text}
                        </p>
                        <p class="mt-6">
                          <a href={sectionEleven.blocks[5].url} class="text-white hover:text-blue-100 inline-flex items-center group">
                            {sectionEleven.blocks[5].linkText}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"></path>
                            </svg>
                          </a>
                        </p>
                      </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        
      </div>
    </div>
  </div>
</section>
