---
import BaseLayout from "../layouts/BaseLayout.astro";

import HeaderThree from "../components/headers/HeaderOne.astro";
import StatsOne from "../components/stats/StatsOne.astro";
import FeatureEight from "../components/features/FeatureEight.astro";
import FeatureNine from "../components/features/FeatureNine.astro";
import FeatureTen from "../components/features/FeatureTen.astro";

import TestimonialThree from "../components/testimonials/TestimonialThree.astro";
import PricingThree from "../components/pricing/PricingThree.astro";
import PricingThreeExtended from "../components/pricing/PricingThreeExtended.astro";
import FaqTwo from "../components/infopages/FaqTwo.astro";
import CtaTwo from "../components/cta/CtaTwo.astro";
import FeatureSix from "../components/features/FeatureSix.astro";
import AllFeatures from "../components/features/AllFeatures.astro";
import FeatureFour from "../components/features/FeatureFour.astro";
import FeatureFive from "../components/features/FeatureFive.astro";
import FeatureTwelve from "../components/features/FeatureTwelve.astro";
import { Code } from "astro/components";

import { AstroSeo } from "@astrolib/seo";


const sectionEleven = {
  title: "We're Here To Help",
  subtitle: "Your Success is Our Business",
  blocks: [
    {
      imageUrl: "https://images.unsplash.com/photo-1642132652859-3ef5a1048fd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2660&q=80",
      // integrationImage: "/images/integrations/figma.svg",
      text: "Seamlessly integrate your business operations with our robust suite of tools and APIs.",
      url: "/integrate-your-business",
      linkText:"Integrate Your Business"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      // integrationImage: "/images/integrations/notion.svg",
      text: "Collaborate with Empress experts to build solutions tailored to your business needs.",
      url: "/build-with-empress",
      linkText:"Find Empress Experts"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      // integrationImage: "/images/integrations/notion.svg",
      text: "Explore our range of no-code products and discover how they can elevate your business.",
      url: "/no-code-products",
      linkText:"Try No-Code Products"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      // integrationImage: "/images/integrations/notion.svg",
      text: "Join Empress Academy for insights, tutorials, and best practices in utilizing our platform.",
      url: "/empress-academy",
      linkText:"Check Out Empress Academy"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      // integrationImage: "/images/integrations/notion.svg",
      text: "Find comprehensive guides and FAQs in our Help Center to get the most out of Empress.",
      url: "/help-center",
      linkText:"View Help Center"
    },
    {
      imageUrl: "https://images.unsplash.com/photo-1522932753915-9ee97e43e3d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90oy1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60",
      // integrationImage: "/images/integrations/notion.svg",
      text: "Connect with other professionals and experts in our vibrant Empress Community.",
      url: "/community",
      linkText:"Join our Community"
    }
  ]
};

---

<!-- Section Eleven -->

<section class="bg-white">
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-10 items-center">
    <div class="max-w-xl">
      <h2 class="inline-flex items-center rounded-full text-blue-600">
        <span class="text-base font-medium tracking-tight">{sectionEleven.title}</span>
      </h2>
      <h2 class="text-purple-900 font-semibold tracking-tighter lg:text-5xl mt-6 text-3xl">
        {sectionEleven.subtitle}
      </h2>
    </div>
    <div class="mx-auto mt-12">
      <div class="flex flex-wrap md:-m-2 -m-1">
        <!-- Loop through each block in the sectionEleven object -->
      <div class="mx-auto mt-12">
        <div class="flex flex-wrap md:-m-2 -m-1">
          <div class="flex flex-wrap w-1/2">
            <div class="md:p-2 p-1 w-1/2">
              <div
                class="relative overflow-hidden rounded-2xl bg-blue-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[0].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[0].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[0].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[0].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-1/2">
              <div
                class="relative overflow-hidden rounded-2xl bg-pink-600 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[1].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[1].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[1].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[1].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-full">
              <div
                 class="relative overflow-hidden rounded-2xl bg-purple-600 p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[2].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[2].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[2].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[2].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-wrap w-1/2">
            <div class="md:p-2 p-1 w-full">
              <div
              class="relative overflow-hidden rounded-2xl bg-slate-600 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[3].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[3].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[3].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[3].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-1/2">
              <div
              class="relative overflow-hidden rounded-2xl bg-green-600 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[4].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[4].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[4].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[4].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
            <div class="md:p-2 p-1 w-1/2">
              <div
              class="relative overflow-hidden rounded-2xl bg-blue-600 mix-blend-multiply p-8 shadow-xl lg:py-12 lg:gap-x-8">
                <div
                  class="absolute inset-0 opacity-30 mix-blend-multiply saturate-0 filter">
                  <img
                    src={sectionEleven.blocks[5].imageUrl}
                    alt=""
                    class="h-full w-full object-cover"
                  />
                </div>
                <div class="relative lg:col-span-1">
                  <span>
                    <img src={sectionEleven.blocks[5].integrationImage} alt="" />
                  </span>
                  <blockquote class="mt-6 text-white lg:mt-32">
                    <p class="font-medium">
                      {sectionEleven.blocks[1].text}
                    </p>
                    <p class="mt-6">
                      <a
                        href=""
                        class="text-white hover:text-blue-100 inline-flex items-center group">
                        {sectionEleven.blocks[5].linkText}
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                          class="w-4 h-4 ml-3 group-hover:translate-x-2 transition duration-500 ease-in-out transform">
                          <path
                            fill-rule="evenodd"
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd"></path>
                        </svg>
                      </a>
                    </p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>